.board-block__cont.has-toggle .board-block__subtitle::after {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  margin-left: .2em;
}

/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  transition: opacity 0.2s;
  box-shadow: none;
}

.pswp__button:focus, .pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../images/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(../images/default-skin.svg);
  }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(6px);
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
  transform: translateY(0);
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

a.pswp__share--download:hover {
  background: #DDD;
}

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*
	
	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden;
}

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url(../images/preloader.gif) 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

@-webkit-keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*
	
	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

/* Component */
/* Container */
/* Investors - Financials */
/* Unit: Financials - Overview  */
.fs-overview__desc {
  margin-bottom: 3.125rem;
}

@media print, screen and (min-width: 64em) {
  .fs-overview__desc {
    margin-bottom: 6.5625rem;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .fs-overview__item {
    margin-bottom: 2.5rem;
  }
}

.fs-overview__title {
  color: #000000;
}

.fs-overview__num {
  font-size: 2.77778em;
  font-weight: bold;
  color: #009966;
}

.sec-fs-chart {
  padding-top: 0;
}

.fs-chart {
  overflow: hidden;
}

.fs-chart__title {
  color: #000000;
}

.fs-chart__chart-area {
  position: relative;
}

.fs-chart__chart {
  width: 100%;
  height: 15.625rem;
}

@media print, screen and (min-width: 64em) {
  .fs-chart__chart {
    height: 29.0625rem;
  }
}

.fs-chart__tool {
  position: absolute;
  top: -60px;
  right: 0;
}

.fs-chart__tool__ctrl-button, .fs-chart__tool__item-button {
  min-width: 0;
  color: #9c9c9c;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
}

.fs-chart__tool__ctrl-button {
  padding: 0.625rem 0.46875rem;
  font-size: 0.875rem;
}

@media print, screen and (min-width: 40em) {
  .fs-chart__tool__ctrl-button {
    padding: 0.875rem 0.71875rem;
  }
}

.fs-chart__tool__list {
  margin: 0;
  list-style: none;
}

.fs-chart__tool__item-button {
  margin-bottom: 0;
  padding: 0.8125rem 0.625rem;
  font-size: 1rem;
}

@media print, screen and (max-width: 39.99875em) {
  .fs-chart__tool__item-button.js-chart-download-img {
    display: none;
  }
}

.fs-chart__tool__dropdown {
  padding: 0;
}

@media print, screen and (max-width: 39.99875em) {
  .fs-chart__tool__item-button {
    width: 100%;
    border: 0 none;
  }
  .fs-chart__tool__dropdown {
    width: 12.5rem;
  }
}

@media print, screen and (min-width: 40em) {
  .fs-chart__tool__ctrl-button {
    display: none;
  }
  .fs-chart__tool__item {
    display: inline-block;
  }
  .fs-chart__tool__item-button {
    margin-left: 0.625rem;
  }
  .fs-chart__tool__dropdown {
    position: static;
    display: block;
    width: auto;
    border: 0 none;
    visibility: inherit;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .fs-chart__tool {
    display: none;
  }
  .fs-chart:hover .fs-chart__tool {
    display: block;
    -webkit-animation: fade-in 0.5s;
            animation: fade-in 0.5s;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.data-table {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.google-visualization-tooltip {
  z-index: 500 !important;
}

.chart-tooltip {
  padding: 0.625rem;
  box-sizing: border-box;
}

@media print, screen and (min-width: 40em) {
  .chart-tooltip {
    padding: 1.25rem;
    padding-bottom: 0.9375rem;
    min-width: 9.375rem;
  }
}

.chart-tooltip__title {
  margin-bottom: 0.84615em;
  color: #000000;
}

.chart-tooltip__desc {
  margin-bottom: 0.83333em;
  font-weight: normal;
  white-space: nowrap;
  color: #565656;
}

@media (hover: hover) and (min-width: 75em) {
  .bar-wrapper > rect {
    transition: opacity 0.3s;
  }
  .bar-wrapper:hover > rect {
    opacity: 0.3;
  }
}

/* END. Unit: Financials  */
/* Unit: Financials - Monthly  */
@media print, screen and (max-width: 39.99875em) {
  .fs-monthly__table th,
  .fs-monthly__table td {
    --padding-left: 50%;
    position: relative;
  }
}

@media print, screen and (min-width: 40em) {
  .fs-monthly__table th,
  .fs-monthly__table td {
    width: 33.33%;
  }
}

@media print, screen and (min-width: 64em) {
  .fs-monthly__table th:first-child,
  .fs-monthly__table td:first-child {
    padding-left: 8.33333%;
  }
  .fs-monthly__table th:last-child,
  .fs-monthly__table td:last-child {
    padding-right: 8.33333%;
  }
}

/* END. Unit: Financials - Monthly  */
/* Unit: Financials - Annual  */
.fs-annual .img-info-box {
  --width: 22.5rem;
}

.fs-annual .img-info-box__img-box::before {
  padding-top: 125%;
}

@media print, screen and (min-width: 64em) {
  .fs-annual .img-info-box__item:first-child .img-info-box__img-box {
    max-width: calc((100vw - var(--padding-x) * 2 + 1.25rem) / 3 - 1.25rem);
  }
}

/* END. Unit: Financials - Annual  */
/* Unit: Financials - History  */
.sec-fs-history-before {
  padding-top: calc(var(--padding-y) - 2.8125rem);
}

/* END. Unit: Financials - History  */
/* Unit: Financials - Calandar  */
.fs-calandar__table thead {
  background: transparent;
}

.fs-calandar__table thead tr {
  color: #000000;
  background: transparent;
}

.fs-calandar__table thead .date {
  width: 25%;
}

.fs-calandar__table tbody tr:first-child {
  border-top: 1px solid #9c9c9c;
}

@media print, screen and (min-width: 40em) {
  .fs-calandar__table td:first-child,
  .fs-calandar__table th:first-child {
    width: 30%;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .fs-calandar__table td:first-child,
  .fs-calandar__table th:first-child {
    width: 40%;
  }
}

@media print, screen and (min-width: 64em) {
  .fs-calandar__table td,
  .fs-calandar__table th {
    padding-left: 8.33333%;
  }
  .fs-calandar__table td:last-child,
  .fs-calandar__table th:last-child {
    padding-right: 8.33333%;
  }
}

/* END. Unit: Financials - Calandar  */
/* Investors - Company( Corporate Governance )  */
/* Unit: Company - Overview  */
.banner-inv-com .page-banner__bg {
  background-position: right center;
}

.com-intro__video-link .be-icon::before {
  transform: scale(1.55556);
  transform-origin: left center;
}

.com-intro__table tbody {
  background: rgba(86, 86, 86, 0.05);
}

.com-intro__table tbody:nth-child(2n + 1) {
  background: transparent;
}

.com-intro__table tbody tr {
  background: transparent;
}

@media (hover: hover) and (min-width: 75em) {
  .com-intro__table tbody:hover {
    background: rgba(0, 153, 102, 0.1);
  }
  .com-intro__table tbody tr:first-child:hover {
    background: transparent;
  }
  .com-intro__table tbody tr:first-child:hover td:not(:first-child) {
    background: rgba(0, 153, 102, 0.1);
  }
  .com-intro__table tbody tr:first-child:hover td:first-child:hover ~ td {
    background: transparent;
  }
  .com-intro__table tbody tr:first-child:hover td[colspan="2"] ~ td {
    background: transparent;
  }
}

.com-intro__table thead tr:first-child {
  border-top: 1px solid #9c9c9c;
}

.com-intro__table tbody:last-child {
  border-bottom: 1px solid #9c9c9c;
}

.com-intro__table tbody tr:first-child {
  border-top: 0 none;
}

.com-intro__table tbody tr:last-child {
  border-bottom: 0 none;
}

@media print, screen and (max-width: 39.99875em) {
  .com-intro__table thead {
    display: block;
  }
  .com-intro__table thead tr {
    margin-bottom: 1.25rem;
    padding: 0;
  }
  .com-intro__table thead th:first-child {
    margin-bottom: 0;
  }
  .com-intro__table thead th:not(:first-child) {
    display: none;
  }
  .com-intro__table tbody {
    display: block;
    margin-bottom: 1.25rem;
  }
  .com-intro__table tbody:last-child tr:last-child {
    margin-bottom: 0;
  }
  .com-intro__table .tb__group-rowspan tr:first-child td:nth-child(2), .com-intro__table .tb__group-rowspan tr:not(:first-child) td:nth-child(1) {
    background: #aaa;
  }
  .com-intro__table .tb__group-rowspan tr {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .com-intro__table .tb__group-rowspan tr:first-child td:nth-child(1) {
    margin-bottom: 0;
  }
  .com-intro__table .tb__group-rowspan tr:first-child td:nth-child(2) {
    padding-left: 0.9375rem;
    color: #ffffff;
  }
  .com-intro__table .tb__group-rowspan tr:not(:first-child) td:nth-child(1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 40em) and (max-width: 74.99875em) {
  .com-intro__table {
    font-size: 0.875rem;
  }
}

@media print, screen and (min-width: 40em) {
  .com-intro__table-wrapper {
    position: relative;
    --title-width: calc(50vw - var(--padding-x));
  }
  .com-intro__table-wrapper::before, .com-intro__table-wrapper::after {
    --gradient-color: 255, 255, 255;
    --alpha-max: 1;
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    display: none;
    width: 6.25rem;
    height: 100%;
    background: linear-gradient(to right, rgba(var(--gradient-color), 0) 0%, rgba(var(--gradient-color), var(--alpha-max)) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .com-intro__table-wrapper::before {
    --gradient-color: 0, 0, 0;
    --alpha-max: 0.2;
    left: var(--title-width);
    transform: scale(-1);
  }
  .com-intro__table-wrapper::after {
    right: 0;
  }
  .com-intro__table-wrapper.has-scroll::before, .com-intro__table-wrapper.has-scroll::after {
    display: block;
  }
  .com-intro__table-wrapper:not(.is-scroll-start)::before {
    opacity: 1;
  }
  .com-intro__table-wrapper:not(.is-scroll-end)::after {
    opacity: 1;
  }
  .com-intro__table-scroll-area {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .com-intro__table {
    --screen-width: calc(100vw - 16px);
    --col: 3.5;
    --col-width: calc((var(--screen-width) - var(--title-width) - var(--padding-x) * 2) / var(--col));
    margin-bottom: 0;
    width: calc(var(--title-width) + var(--len) * var(--col-width));
  }
  .com-intro__table[data-len="1"] {
    --len: 1;
  }
  .com-intro__table[data-len="2"] {
    --len: 2;
  }
  .com-intro__table[data-len="3"] {
    --len: 3;
  }
  .com-intro__table[data-len="4"] {
    --len: 4;
  }
  .com-intro__table[data-len="5"] {
    --len: 5;
  }
  .com-intro__table[data-len="6"] {
    --len: 6;
  }
  .com-intro__table[data-len="7"] {
    --len: 7;
  }
  .com-intro__table[data-len="8"] {
    --len: 8;
  }
  .com-intro__table[data-len="9"] {
    --len: 9;
  }
  .com-intro__table[data-len="10"] {
    --len: 10;
  }
  .com-intro__table:not([data-len]) thead .tb__title {
    min-width: 40vw;
  }
  .com-intro__table:not([data-len]) thead .tb__item {
    min-width: 120px;
  }
  .com-intro__table[data-len="1"] {
    --col: 1;
  }
  .com-intro__table[data-len="2"] {
    --col: 2;
  }
  .com-intro__table[data-len="3"] {
    --col: 3;
  }
  .com-intro__table thead .tb__item {
    width: var(--col-width);
  }
  .com-intro__table .tb__item {
    text-align: center;
  }
}

@media screen and (min-width: 40em) and (max-width: 48em) {
  .com-intro__table {
    --col: 2.5;
  }
  .com-intro__table[data-len="3"] {
    --col: 2.5;
  }
}

@media print, screen and (min-width: 64em) {
  .com-intro__table-wrapper {
    --title-width: 38vw;
  }
  .com-intro__table:not([data-len]) thead .tb__title {
    min-width: 700px;
  }
  .com-intro__table:not([data-len]) thead .tb__item {
    min-width: 200px;
  }
}

@media screen and (min-width: 75em) {
  .com-intro__table thead td:first-child,
  .com-intro__table thead th:first-child, .com-intro__table tbody tr:first-child td:first-child,
  .com-intro__table tbody tr:first-child th:first-child {
    padding-left: 8.33333%;
  }
  .com-intro__table tbody [rowspan] {
    width: calc(var(--title-width) / 2);
  }
  .com-intro .tb__group-rowspan tr:not(:first-child) td {
    padding-left: 1.25rem;
  }
}

@media screen and (min-width: 75em) {
  .com-intro__table {
    --col: 5;
  }
  .com-intro__table[data-len="4"] {
    --col: 4;
  }
}

@media screen and (min-width: 102.5em) {
  .com-intro__table {
    --col-width: calc((90rem - var(--title-width)) / var(--col));
  }
}

@media screen and (min-width: 120em) {
  .com-intro__table-wrapper {
    --title-width: 43.75rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .com-intro__table-wrapper.has-scroll {
    cursor: -webkit-grab;
    cursor: grab;
  }
}

.com-intro__table--copy {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: var(--title-width);
  background: #ffffff;
  display: none;
}

.com-intro__table--copy .tb__title, .com-intro__table--copy .tb__item {
  min-width: 0 !important;
}

.com-intro__table-wrapper.has-scroll .com-intro__table--copy {
  display: table;
}

/* END. Unit: Company - Overview  */
@media print, screen and (min-width: 64em) {
  body.inv-com-board .bg-global {
    --aside-width: calc((100% - 5.625rem) * 2/12 + 6.25rem);
    right: 0;
    left: auto;
    width: calc(100% - var(--aside-width));
  }
}

@media screen and (min-width: 75em) {
  body.inv-com-board .bg-global {
    --aside-width: calc((100% - 13.75rem) * 2/12 + 5.625rem);
  }
}

@media screen and (min-width: 102.5em) {
  body.inv-com-board .bg-global {
    --aside-width: calc((100% - 102.5rem) / 2 + 20.83333rem);
  }
}

/* Unit: Company - Board of Directors  */
.com-board {
  --aside-bg: #eee;
  position: relative;
}

.com-board::before {
  display: none;
}

@media print, screen and (min-width: 64em) {
  .com-board::before {
    content: '';
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    display: block;
    width: 7.5rem;
    height: calc(100% + var(--ft-mask-height));
    background-color: var(--aside-bg);
    pointer-events: none;
  }
}

@media screen and (min-width: 102.5em) {
  .com-board::before {
    width: calc((100vw - 90rem) / 2);
  }
}

@media print, screen and (min-width: 64em) {
  .com-board__aside {
    position: relative;
  }
  .com-board__aside.cell {
    padding-right: 1.25rem;
  }
  .com-board__aside::before {
    content: '';
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% + var(--ft-mask-height));
    background-color: var(--aside-bg);
    pointer-events: none;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .com-board__aside.cell {
    padding-right: 2.5rem;
    width: calc(16.66667% + 4.375rem);
  }
}

@media print, screen and (min-width: 40em) {
  .com-board__main-cont {
    padding-top: 0.75rem;
  }
}

@media print, screen and (min-width: 64em) {
  .com-board__main-cont {
    padding-top: 3.25rem;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .com-board__main-cont.cell {
    margin-left: 3.75rem;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .com-board .grid-container {
    padding-left: 2.5rem;
  }
}

@media print, screen and (min-width: 64em) {
  .board-nav {
    padding-top: 7.5rem;
    padding-bottom: 5.4375rem;
  }
}

.board-nav__current {
  padding-right: 2.5rem;
  background: #fff url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%3E%3Cpath%20fill%3D%22%23565656%22%20d%3D%22M12.501%2015.677l-9.197-4.562.888-1.792%208.309%204.122%208.307-4.122.888%201.792-9.195%204.562z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 12px center/19px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0.875rem 0.9375rem;
  padding-right: 2.5rem;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #cacaca;
}

@media print, screen and (min-width: 40em) {
  .board-nav__current {
    padding-right: 3.4375rem;
    background-position: right 27px center;
  }
}

@media print, screen and (min-width: 64em) {
  .board-nav__current {
    display: none;
  }
}

.board-nav__list {
  margin: 0;
  list-style: none;
}

@media print, screen and (min-width: 64em) {
  .board-nav__item {
    margin-bottom: 0.875rem;
  }
}

.board-nav__link {
  display: block;
  line-height: 1.2;
  color: #565656;
}

.board-nav__link.is-active {
  color: #009966;
}

@media print, screen and (max-width: 63.99875em) {
  .board-nav {
    position: relative;
    z-index: 10;
  }
  .board-nav.is-open .board-nav__list {
    max-height: 200px;
    opacity: 1;
  }
  .board-nav__current.is-open ~ .board-nav__list {
    max-height: 200px;
    opacity: 1;
  }
  .board-nav__list {
    position: absolute;
    left: 0;
    overflow: auto;
    width: 100%;
    max-height: 0;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-top: 0 none;
    opacity: 0;
    transition: opacity 0.3s, max-height 0.3s;
  }
  .board-nav__link {
    padding: 0.9375rem;
  }
  .board-nav__link.is-active {
    color: #ffffff;
    background: #009966;
  }
  .board-nav-wrapper {
    margin-top: 2.5rem;
  }
}

@media print, screen and (max-width: 63.99875em) and (max-width: 63.99875em) {
  .board-nav-wrapper.is-sticky {
    height: 46px;
  }
  .board-nav-wrapper.is-sticky .board-nav {
    position: fixed;
    z-index: 900;
    top: 44px !important;
    left: 0;
    width: 100%;
    max-width: none !important;
    transition: transform 0.3s;
  }
  .board-nav-wrapper.is-sticky .board-nav__current {
    -webkit-animation: show-menu 0.3s;
            animation: show-menu 0.3s;
  }
  @-webkit-keyframes show-menu {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  @keyframes show-menu {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  body.is-scroll-up .board-nav-wrapper.is-sticky .board-nav {
    transform: translateY(44px);
  }
}

@media print, screen and (min-width: 40em) {
  .board-block {
    --padding-y: 4.25rem;
  }
}

.board-block__title-box {
  position: relative;
}

@media (hover: hover) and (min-width: 75em) {
  .board-block__title-box::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    transform: translateX(-100%);
  }
  .board-block__title-box:hover .board-block__title-anchor {
    display: block;
  }
}

.board-block__title-anchor {
  --font-size: 1rem;
  position: absolute;
  top: 0.9em;
  left: -1em;
  display: none;
  margin-top: calc(var(--font-size) / -2);
  font-size: var(--font-size);
  line-height: 1;
  color: #a3a3a3;
}

@media print, screen and (min-width: 40em) {
  .board-block__title-anchor {
    --font-size: 1.625rem;
    top: 1.15385em;
  }
}

@media screen and (min-width: 75em) and (max-width: 99.9375em) {
  .board-block__title-anchor {
    top: 1.03846em;
  }
}

.board-block__title {
  margin-bottom: 1.2em;
  letter-spacing: 0.06em;
  word-break: break-word;
}

.board-block__cont-group.table .board-block__subtitle, .board-block__cont.has-toggle .board-block__subtitle {
  margin-bottom: 0;
  padding: 1.2125rem var(--padding-x);
}

.board-block__cont-group.table .board-block__subtitle, .board-block__cont.has-toggle.is-active .board-block__subtitle {
  color: #ffffff;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
}

.board-block__cont.has-toggle .board-block__subtitle {
  color: #565656;
  background: linear-gradient(45deg, #b5d9f1 0%, #b5def6 15%, #b7e5ff 36%, #c6eafe 69%, #d6f0fe 100%);
}

.board-block__cont-group:not(:last-child) {
  margin-bottom: 5rem;
}

.board-block__cont {
  --padding-x: 0.9375rem;
  --padding-y: 1.875rem;
  --arrow-size: 1rem;
}

.board-block__cont:not(:last-child) {
  margin-bottom: 1.875rem;
}

@media print, screen and (min-width: 40em) {
  .board-block__cont {
    --padding-x: 1.25rem;
    --padding-y: 2.5rem;
    --arrow-size: 2rem;
  }
}

@media print, screen and (min-width: 64em) {
  .board-block__cont {
    --padding-x: 1.25rem;
  }
}

.board-block__cont.has-toggle .board-block__subtitle {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.board-block__cont.has-toggle .board-block__subtitle::after {
  content: '\ea01';
  position: absolute;
  top: 50%;
  right: var(--padding-x);
  display: block;
  margin-top: calc(var(--arrow-size) / 2 * -1);
  font-size: var(--arrow-size);
  color: currentColor;
  transition: transform 0.3s;
}

@media (hover: hover) and (min-width: 75em) {
  .board-block__cont.has-toggle .board-block__subtitle:hover, .board-block__cont.has-toggle .board-block__subtitle:focus {
    color: #ffffff;
    background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
}

.board-block__cont.has-toggle .board-block__panel {
  display: none;
}

.board-block__cont.has-toggle .board-block__desc {
  padding: var(--padding-y) var(--padding-x);
  background: rgba(86, 86, 86, 0.05);
}

.board-block__cont.has-toggle:not(.is-active) {
  margin-bottom: 0.625rem;
}

.board-block__cont.has-toggle.is-active .board-block__subtitle::after {
  transform: rotate(180deg);
}

@media (hover: hover) and (min-width: 75em) {
  .board-block__cont.has-toggle.is-active .board-block__subtitle:hover, .board-block__cont.has-toggle.is-active .board-block__subtitle:focus {
    color: #565656;
    background: linear-gradient(45deg, #b5d9f1 0%, #b5def6 15%, #b7e5ff 36%, #c6eafe 69%, #d6f0fe 100%);
  }
}

.board-block__cont a {
  text-decoration: underline;
}

.board-block__cont a:visited {
  color: #73b5ff;
}

.board-block__cont a:visited:hover, .board-block__cont a:visited:focus {
  color: #008458;
}

.board-block__sub-title {
  margin-bottom: 0.61538em;
  letter-spacing: 0.02em;
}

.board-block table thead tr {
  background: #aaa;
}

.board-block table thead td,
.board-block table thead th {
  --padding-y: 0.8875rem;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

.board-block table td,
.board-block table th {
  width: 20%;
}

.board-block table td:nth-child(3),
.board-block table th:nth-child(3) {
  width: 60%;
}

/* END. Unit: Company - Board of Directors  */
/* Investors - Shareholders Services */
/* Unit: Shareholders - Overview  */
.sec-sh-contact .cell {
  margin-bottom: 2.5rem;
}

.sec-sh-contact .office-info {
  margin-bottom: 1.1875rem;
}

@media print, screen and (min-width: 40em) {
  .sec-sh-contact .office-info {
    margin-bottom: 2.6875rem;
  }
}

@media print, screen and (min-width: 40em) {
  .sec-sh-contact .button {
    min-width: 17.9375rem;
  }
}

/* END. Unit: Shareholders - Overview  */
/* Unit: Shareholders - Dividend History */
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .sh-history__table-wrapper {
    position: relative;
  }
  .sh-history__table-wrapper::before, .sh-history__table-wrapper::after {
    --gradient-color: 255, 255, 255;
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    display: none;
    width: 6.25rem;
    height: 100%;
    background: linear-gradient(to right, rgba(var(--gradient-color), 0) 0%, rgba(var(--gradient-color), 1) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .sh-history__table-wrapper::before {
    left: 0;
    transform: scale(-1);
  }
  .sh-history__table-wrapper::after {
    right: 0;
  }
  .sh-history__table-wrapper.has-scroll::before, .sh-history__table-wrapper.has-scroll::after {
    display: block;
  }
  .sh-history__table-wrapper:not(.is-scroll-start)::before {
    opacity: 1;
  }
  .sh-history__table-wrapper:not(.is-scroll-end)::after {
    opacity: 1;
  }
  .sh-history__table-scroll-area {
    overflow: auto;
  }
  .sh-history__table {
    width: 60rem;
  }
  .sh-history__table thead tr {
    background: #009966;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .sh-history__table th,
  .sh-history__table td {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .sh-history__table th:first-child,
  .sh-history__table td:first-child {
    padding-left: 3.125rem;
  }
}

@media screen and (min-width: 75em) {
  .sh-history__table th:first-child,
  .sh-history__table td:first-child {
    padding-left: 8.33333%;
  }
  .sh-history__table th:last-child,
  .sh-history__table td:last-child {
    padding-right: 8.33333%;
  }
}

@media screen and (min-width: 75em) {
  .sh-history__table thead th:nth-child(1) {
    width: 20%;
  }
  .sh-history__table thead th:nth-child(2) {
    width: 25%;
  }
  .sh-history__table thead th:nth-child(3) {
    width: 12%;
  }
  .sh-history__table thead th:nth-child(4) {
    width: 10%;
  }
  .sh-history__table thead th:nth-child(5) {
    width: 12%;
  }
  .sh-history__table thead th:nth-child(6) {
    width: 20%;
  }
}

/* END. Unit: Shareholders - Dividend History */
/* Unit: Shareholders - Major Shareholders  */
@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .sh-major__table th,
  .sh-major__table td {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

@media print, screen and (min-width: 64em) {
  .sh-major__table th:first-child,
  .sh-major__table td:first-child {
    padding-left: 8.33333%;
    width: 20%;
  }
  .sh-major__table th:last-child,
  .sh-major__table td:last-child {
    padding-right: 8.33333%;
  }
}

@media print, screen and (min-width: 64em) {
  .sh-major__table thead th:last-child,
  .sh-major__table thead td:last-child {
    padding-right: 1.25rem;
  }
}

/* END. Unit: Shareholders - Major Shareholders  */
