/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  transition: opacity 0.2s;
  box-shadow: none;
}

.pswp__button:focus, .pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../images/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(../images/default-skin.svg);
  }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(6px);
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
  transform: translateY(0);
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

a.pswp__share--download:hover {
  background: #DDD;
}

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*
	
	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden;
}

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url(../images/preloader.gif) 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

@-webkit-keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*
	
	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

/* Component */
/* Container */
/* News (Press Release) List  */
.news-list__head .news-list__item, .news-list__link {
  display: block;
  width: 100%;
}

@media print, screen and (max-width: 39.99875em) {
  .news-list__head .news-list__item, .news-list__link {
    padding-top: 1.125rem;
    padding-bottom: 1.25rem;
  }
}

@media print, screen and (min-width: 40em) {
  .news-list__head .news-list__item, .news-list__link {
    display: flex;
  }
}

.news-list__head {
  display: none;
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

@media print, screen and (min-width: 40em) {
  .news-list__head {
    display: block;
  }
}

.news-list__body {
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}

.news-list__body .news-list__item:nth-child(odd) {
  background: rgba(86, 86, 86, 0.05);
}

.news-list__link {
  color: #565656;
}

.news-list__link:visited {
  color: #898989;
}

.news-list__cell {
  position: relative;
  display: block;
  padding: 0.625rem;
  line-height: 1.2;
}

@media screen and (max-width: 23.375em) {
  .news-list__cell {
    font-size: 0.875rem;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .news-list__cell {
    padding-left: 4.5em;
  }
  .news-list__cell::before {
    content: attr(data-title);
    position: absolute;
    top: 0.6em;
    left: 0.9375rem;
    display: block;
    color: #009966;
  }
}

@media print, screen and (min-width: 40em) {
  .news-list__cell {
    padding: 1.25rem;
  }
  .news-list__cell::before {
    display: none;
  }
  .news-list__cell.date {
    width: 25%;
  }
  .news-list__cell.title {
    flex: 1 1 0;
  }
}

@media print, screen and (min-width: 64em) {
  .news-list__cell {
    padding: 2.1875rem 0.625rem;
    padding-left: 8.33333%;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .news-list__body .news-list__item:hover, .news-list__body .news-list__item:focus-within {
    color: #ffffff;
    background-color: #009966;
    background-image: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
  .news-list__body .news-list__link:hover, .news-list__body .news-list__link:focus {
    color: #ffffff;
  }
  .news-list__body .news-list__link:hover .news-list__cell::before, .news-list__body .news-list__link:focus .news-list__cell::before {
    color: #ffffff;
  }
}

/* END. News (Press Release) List  */
/* News (Press Release) Content  */
@media print, screen and (max-width: 63.99875em) {
  body.news-cont .breadcrumbs li:last-child {
    display: none;
  }
}

.share-list {
  display: flex;
  margin: 0;
  margin-bottom: 0.625rem;
  margin-right: calc(-0.34375rem - 0.3em);
  font-size: 1.25rem;
  list-style: none;
}

@media print, screen and (min-width: 40em) {
  .share-list {
    font-size: 2.1875rem;
  }
}

@media print, screen and (min-width: 40em) {
  .share-list__item:not(:last-child) {
    margin-right: 0.3125rem;
  }
}

.share-list__link {
  display: block;
  padding: 0.125rem 0.34375rem;
  color: #009966;
}

.share-list .be-icon {
  pointer-events: none;
}

.article-block__title {
  margin-bottom: 1.22em;
  letter-spacing: 0.06em;
  color: #000000;
}

.article-block__date {
  display: block;
  margin-bottom: 1.25rem;
}

.article-block__cont {
  margin-bottom: 5rem;
}

.news-value {
  margin-bottom: 2.5rem;
}

@media print, screen and (min-width: 40em) {
  .news-value {
    margin-bottom: 5rem;
  }
}

@media print, screen and (min-width: 64em) {
  .news-value {
    margin-bottom: 7.25rem;
  }
}

.news-value__title {
  margin-bottom: 1.44444em;
}

.news-value__list {
  --margin-x: 0.3125rem;
  margin: 0 calc(var(--margin-x) * -1);
  margin-bottom: 0;
  list-style: none;
}

.news-value__item {
  --padding-x: 1.25rem;
  --padding-y: 0.625rem;
  display: inline-block;
  margin-bottom: 0.625rem;
  margin-right: var(--margin-x);
  margin-left: var(--margin-x);
  padding: var(--padding-y) var(--padding-x);
  line-height: 1.2;
  background: #e7e7e7;
}

.news-value__item.is-active {
  color: #ffffff;
  background: #009966;
}

@media print, screen and (min-width: 40em) {
  .news-value__item {
    --padding-y: 0.375rem;
  }
}

.news-ctrl {
  margin-bottom: 2.5rem;
}

@media print, screen and (min-width: 40em) {
  .news-ctrl {
    margin-bottom: 5rem;
  }
}

.news-ctrl__item {
  margin-bottom: 1.4375rem;
}

@media print, screen and (min-width: 40em) {
  .news-ctrl__item {
    display: flex;
    align-items: flex-start;
  }
}

.news-ctrl__title {
  margin-bottom: 0;
  margin-right: 1.07692em;
  text-transform: uppercase;
  white-space: nowrap;
}

.news-ctrl__link {
  display: block;
  color: #009966;
}

.news-ctrl__link:visited {
  color: #4cb794;
}

.news-popular {
  padding-top: 2.5rem;
  border-top: 1px solid #9c9c9c;
}

@media print, screen and (min-width: 40em) {
  .news-popular {
    padding-top: 5rem;
  }
}

.news-popular__title {
  margin-bottom: 0.84615em;
  text-transform: uppercase;
}

.news-popular__list {
  margin-bottom: 0;
  list-style: none;
}

@media print, screen and (min-width: 64em) {
  .news-popular__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.news-popular__item {
  position: relative;
  margin-bottom: 1.25rem;
  height: auto;
}

.news-popular__link {
  --padding-x: 1.25rem;
  --padding-y: 0.625rem;
  display: block;
  padding: var(--padding-y) var(--padding-x);
  height: 100%;
  color: #565656;
  word-break: break-all;
  word-break: break-word;
  box-sizing: border-box;
  background: #f6f6f6;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 45px), calc(100% - 25.98076px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 45px), calc(100% - 25.98076px) 100%, 0 100%);
}

.news-popular__link:visited {
  color: #898989;
}

@media print, screen and (min-width: 40em) {
  .news-popular__link {
    --padding-y: 1.875rem;
    --padding-x: 3.75rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .news-popular__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 0;
  }
  .news-popular__link.loaded::before {
    background-image: url("../images/news_card_alpha_hover_2x.png");
  }
  .news-popular__link:hover, .news-popular__link:focus {
    color: #ffffff;
    background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
  .news-popular__link:hover::before, .news-popular__link:focus::before {
    opacity: 1;
    -webkit-animation: bg-flicker 2s infinite;
            animation: bg-flicker 2s infinite;
  }
  .news-popular__link:hover ~ .news-popular__shadow, .news-popular__link:focus ~ .news-popular__shadow {
    opacity: 1;
  }
  .news-popular__link:hover ~ .news-popular__shadow::before, .news-popular__link:hover ~ .news-popular__shadow::after, .news-popular__link:focus ~ .news-popular__shadow::before, .news-popular__link:focus ~ .news-popular__shadow::after {
    box-shadow: -24px 26px 30px rgba(38, 38, 38, 0.13) ;
  }
}

@-webkit-keyframes bg-flicker {
  50% {
    opacity: 0.5;
  }
}

@keyframes bg-flicker {
  50% {
    opacity: 0.5;
  }
}

.news-popular__news-title {
  font-weight: normal;
}

.news-popular__shadow {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.news-popular__shadow::before, .news-popular__shadow::after {
  content: '';
  position: absolute;
  left: 0;
  box-shadow: -9px 10px 10px rgba(38, 38, 38, 0.13) ;
}

@media (hover: hover) and (min-width: 75em) {
  .news-popular__shadow::before, .news-popular__shadow::after {
    transition: box-shadow 0.3s;
  }
}

.news-popular__shadow::before {
  top: 0;
  width: 100%;
  height: calc(100% - 2.8125rem);
}

.news-popular__shadow::after {
  --move-margin: 25.98076px;
  bottom: 0;
  width: calc(100% - var(--move-margin) - 9px);
  height: 2.8125rem;
}

/* Copy Alert */
.copysuctip {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  margin-top: -1.125rem;
  margin-left: -2.75rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
  background: rgba(0, 153, 102, 0.9);
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-animation: copysuctip_show 2s;
          animation: copysuctip_show 2s;
}

@-webkit-keyframes copysuctip_show {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes copysuctip_show {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

/* END. News (Press Release) Content  */
