@font-face {
  font-family: "icon";
  src: url("icon.eot");
  src: url("icon.eot?#iefix") format("embedded-opentype"), url("icon.woff2") format("woff2"), url("icon.woff") format("woff"), url("icon.ttf") format("truetype"), url("icon.svg#icon") format("svg");
  font-display: block;
  unicode-range: U+EA01-EA1B;
}

.be-icon:before {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  margin-left: .2em;
}

/* Glyphs list */
.be-icon-arrow-bottom:before {
  content: '\ea01';
}

.be-icon-arrow-left:before {
  content: '\ea02';
}

.be-icon-arrow-right:before {
  content: '\ea03';
}

.be-icon-arrow-top:before {
  content: '\ea04';
}

.be-icon-checked:before {
  content: '\ea05';
}

.be-icon-close:before {
  content: '\ea06';
}

.be-icon-dot-h:before {
  content: '\ea07';
}

.be-icon-dot-v:before {
  content: '\ea08';
}

.be-icon-download:before {
  content: '\ea09';
}

.be-icon-email:before {
  content: '\ea0a';
}

.be-icon-fb:before {
  content: '\ea0b';
}

.be-icon-global:before {
  content: '\ea0c';
}

.be-icon-global2:before {
  content: '\ea0d';
}

.be-icon-link:before {
  content: '\ea0e';
}

.be-icon-linkedin:before {
  content: '\ea0f';
}

.be-icon-map-marker:before {
  content: '\ea10';
}

.be-icon-number:before {
  content: '\ea11';
}

.be-icon-pdf:before {
  content: '\ea12';
}

.be-icon-reload:before {
  content: '\ea13';
}

.be-icon-search:before {
  content: '\ea14';
}

.be-icon-share:before {
  content: '\ea15';
}

.be-icon-solution-asic:before {
  content: '\ea16';
}

.be-icon-solution-ip:before {
  content: '\ea17';
}

.be-icon-solution-pd:before {
  content: '\ea18';
}

.be-icon-video:before {
  content: '\ea19';
}

.be-icon-warning:before {
  content: '\ea1a';
}

.be-icon-wechat:before {
  content: '\ea1b';
}
