.swiper-button-prev::after, .swiper-button-next::after {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  margin-left: .2em;
}

/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
:root {
  --swiper-theme-color: #009966;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000000;
}

.swiper-button-lock {
  display: none;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
  display: none;
}

/* Preloader */
:root {
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  */
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-box {
  position: relative;
}

.swiper-button-prev, .swiper-button-next {
  --swiper-navigation-size: 2.5rem;
  width: var(--swiper-navigation-size);
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: -2px 2px 8px rgba(38, 38, 38, 0.25) ;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  margin-left: .2em;
  font-size: 1.25rem;
}

@media (hover: hover) and (min-width: 75em) {
  .swiper-button-prev, .swiper-button-next {
    transition: box-shadow 0.3s;
  }
  .swiper-button-prev::before, .swiper-button-next::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: scale(0);
    border: 1px solid #009966;
    transition: opacity 0.3s, transform 0.3s;
  }
  .swiper-button-prev:hover, .swiper-button-next:hover, .swiper-button-prev:focus, .swiper-button-next:focus {
    box-shadow: -2px 2px 30px rgba(0, 153, 102, 0.45) ;
  }
  .swiper-button-prev:hover::before, .swiper-button-next:hover::before, .swiper-button-prev:focus::before, .swiper-button-next:focus::before {
    transform: scale(1);
  }
  .swiper-button-prev:active::before, .swiper-button-next:active::before {
    transform: scale(1.5);
    transition-duration: 0.1s;
  }
}

.border.swiper-button-prev, .border.swiper-button-next {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  box-shadow: -2px 2px 30px rgba(38, 38, 38, 0.25) ;
}

@media (hover: hover) and (min-width: 75em) {
  .border.swiper-button-prev::before, .border.swiper-button-next::before {
    border-color: #ffffff;
  }
}

.swiper-button-prev::after {
  content: '\ea02';
}

.swiper-button-next::after {
  content: '\ea03';
}

.swiper-pagination {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 0.375rem;
  margin-left: 0.375rem;
  border: 1px solid #009966;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #009966;
}

.swiper-container-fade .swiper-slide:not(.swiper-slide-active) {
  pointer-events: none;
}

/* Component */
/* Container */
/* Banner */
.sec-index-banner {
  /* Animation */
  /* stylelint-disable */
  /* stylelint-enable */
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-banner {
    padding-bottom: 1.6875rem;
  }
}

.sec-index-banner.js-ani .index-banner__cover {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0s;
}

.sec-index-banner.js-ani .index-banner__img-box {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.1s;
}

.sec-index-banner.js-ani .index-banner__view-text .grid-x {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.2s;
}

.sec-index-banner.js-ani .index-banner__cover {
  transform: translateX(-100px);
}

.sec-index-banner.js-ani .index-banner__img-box {
  transform: translateX(100px);
}

.sec-index-banner.js-ani .index-banner__view-text .grid-x {
  transform: translate(0);
}

.sec-index-banner.js-ani .swiper-slide:not(.swiper-slide-active) .index-banner__cont {
  opacity: 0;
}

.sec-index-banner.js-ani.is-animated .index-banner__cover {
  opacity: 1;
  transform: none;
}

.sec-index-banner.js-ani.is-animated .index-banner__img-box {
  opacity: 1;
  transform: none;
}

.sec-index-banner.js-ani.is-animated .index-banner__view-text .grid-x {
  opacity: 1;
  transform: none;
}

.sec-index-banner.js-ani.is-animated .swiper-slide:not(.swiper-slide-active) .index-banner__cont {
  transition: opacity 1s 1s;
}

.index-banner {
  position: relative;
}

.index-banner__cover {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 46.66667%;
  height: 100%;
  background-color: #009966;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 0 100%, 0 50%);
}

@media print, screen and (min-width: 64em) {
  .index-banner__cover {
    width: 51.5625%;
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 44.52287%) 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, calc(100% - 44.52287%) 100%, 0 100%);
  }
}

.index-banner__cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.25;
}

.index-banner .swiper-container-initialized .index-banner__cover::before, .index-banner__cover.loaded::before {
  background-image: url("../images/index/banner_mask.jpg");
}

.index-banner__cont {
  display: block;
  height: 100%;
}

@media print, screen and (min-width: 64em) {
  .index-banner__cont::before {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 32.55208%;
    height: 100%;
    background: #ffffff;
  }
}

.index-banner__img-box {
  margin-left: auto;
  background: #333;
}

.index-banner__img-box::before {
  padding-top: 105.6%;
}

@media print, screen and (min-width: 64em) {
  .index-banner__img-box {
    margin-bottom: 3.125rem;
    max-width: 67.70833%;
    height: calc(100% - 3.125rem);
  }
  .index-banner__img-box::before {
    padding-top: 66.92308%;
  }
  .index-banner__img-box::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 100px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.index-banner__img.swiper-lazy {
  opacity: 0;
}

.index-banner__img.swiper-lazy.swiper-lazy-loaded {
  opacity: 1;
  transition: opacity 0.3s;
}

.index-banner__text-box {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  word-break: break-all;
  word-break: break-word;
  box-sizing: border-box;
}

@media print, screen and (max-width: 39.99875em) {
  .index-banner__text-box {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner__text-box {
    margin-top: -1.5625rem;
  }
}

.index-banner__text-box__inside {
  opacity: 0;
  transform: translateX(3.125rem);
}

@media print, screen and (min-width: 64em) {
  .index-banner__text-box__inside {
    width: 66.66667%;
  }
}

.index-banner__title, .index-banner__sub-title {
  color: inherit;
}

.index-banner__title {
  --line-height: 1.2;
  font-size: 1.75rem;
  letter-spacing: 0.06em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 23.375em) {
  .index-banner__title {
    font-size: 1.5rem;
  }
}

@media print, screen and (min-width: 40em) {
  .index-banner__title {
    font-size: 3.3125rem;
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner__title {
    font-size: 3.875rem;
  }
}

@media screen and (min-width: 100em) {
  .index-banner__title {
    font-size: 4.875rem;
  }
}

.index-banner__sub-title {
  margin-bottom: 1.25rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 23.375em) {
  .index-banner__sub-title {
    font-size: 1.125rem;
    font-weight: normal;
  }
}

@media print, screen and (min-width: 40em) {
  .index-banner__sub-title {
    margin-bottom: 2.5rem;
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner .swiper-container {
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 90em) {
  .index-banner .swiper-container {
    height: calc(100vh - 11.5625rem);
    min-height: 37.5rem;
  }
}

.index-banner .swiper-slide {
  overflow: hidden;
}

.index-banner .swiper-slide-duplicate-active .index-banner__text-box__inside,
.index-banner .swiper-slide-active .index-banner__text-box__inside {
  -webkit-animation: show-text 0.5s 0.4s forwards;
          animation: show-text 0.5s 0.4s forwards;
}

@-webkit-keyframes show-text {
  0% {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show-text {
  0% {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner .swiper-nav {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -1.875rem;
    transform: translateY(-50%);
    -webkit-animation: s1_navShow_l 4.5s;
            animation: s1_navShow_l 4.5s;
  }
}

@-webkit-keyframes s1_navShow_s {
  0%,
  66.66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes s1_navShow_s {
  0%,
  66.66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes s1_navShow_l {
  0%,
  66.66% {
    opacity: 0;
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, -50%);
  }
}

@keyframes s1_navShow_l {
  0%,
  66.66% {
    opacity: 0;
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, -50%);
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner .swiper-pagination, .index-banner .swiper-button-prev,
  .index-banner .swiper-button-next {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    margin-top: 0;
    transform: none;
  }
  .index-banner .swiper-pagination::after, .index-banner .swiper-button-prev::after,
  .index-banner .swiper-button-next::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}

@media print, screen and (max-width: 63.99875em) {
  .index-banner .swiper-pagination {
    bottom: -52px;
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.0625rem;
    margin-bottom: 1.0625rem;
  }
}

@media print, screen and (min-width: 64em) {
  .index-banner .swiper-pagination-bullet {
    margin: 0 2px;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 0 2px #000000;
  }
  .index-banner .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.4;
  }
}

.index-banner .swiper-button-prev::after,
.index-banner .swiper-button-next::after {
  color: #ffffff;
}

@media print, screen and (max-width: 63.99875em) {
  .index-banner .swiper-button-prev,
  .index-banner .swiper-button-next {
    display: none;
  }
}

.index-banner .swiper-button-next svg {
  position: absolute;
  top: -7.815%;
  left: -7.815%;
  width: 115.63%;
  height: 115.63%;
  transform: rotate(-90deg);
}

.index-banner .swiper-button-next .circle {
  position: absolute;
  z-index: 52;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-banner .swiper-button-next .circle canvas {
  display: block;
}

.index-banner .swiper-slide-duplicate:first-child {
  position: absolute !important;
  width: 100% !important;
  /* seems like you can remove this line but I didn't test without it */
  left: 0 !important;
}

.index-banner .swiper-wrapper::before {
  content: '' !important;
  min-width: 100% !important;
}

/* Solutions */
.sec-index-solution {
  /* Animation */
  /* stylelint-disable */
  /* stylelint-enable */
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-solution {
    padding-top: 6rem;
  }
}

@media print, screen and (min-width: 64em) {
  .sec-index-solution {
    margin-top: -3.75rem;
    padding-top: calc(var(--padding-y) + 10rem);
  }
}

.sec-index-solution .bg-box__bg.bg-1 {
  top: 0;
  background-position: right top;
}

.sec-index-solution .bg-box__bg.bg-2 {
  bottom: -104px;
  background-position: left bottom;
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-solution .bg-box__bg {
    display: none;
  }
}

.sec-index-solution .sec-title__title {
  margin-bottom: 0.5rem;
}

.sec-index-solution.js-ani .sec-title {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0s;
}

.sec-index-solution.js-ani .index-solution__item:nth-child(1) {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.1s;
}

.sec-index-solution.js-ani .index-solution__item:nth-child(2) {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.2s;
}

.sec-index-solution.js-ani .index-solution__item:nth-child(3) {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.3s;
}

.sec-index-solution.js-ani .bg-1,
.sec-index-solution.js-ani .bg-2 {
  opacity: 0;
  transition: opacity 1s;
}

.sec-index-solution.js-ani.is-animated .sec-title {
  opacity: 1;
  transform: none;
}

.sec-index-solution.js-ani.is-animated .index-solution__item:nth-child(1) {
  opacity: 1;
  transform: none;
}

.sec-index-solution.js-ani.is-animated .index-solution__item:nth-child(2) {
  opacity: 1;
  transform: none;
}

.sec-index-solution.js-ani.is-animated .index-solution__item:nth-child(3) {
  opacity: 1;
  transform: none;
}

.sec-index-solution.js-ani.is-animated .bg-1,
.sec-index-solution.js-ani.is-animated .bg-2 {
  opacity: 1;
}

.index-solution__list {
  list-style: none;
}

@media print, screen and (max-width: 63.99875em) {
  .index-solution__item:not(:last-child) {
    margin-bottom: 1.625rem;
  }
}

.index-solution__link {
  display: block;
  padding: 1.25rem;
  color: #565656;
}

.index-solution__link:hover {
  color: #565656;
}

@media print, screen and (max-width: 63.99875em) {
  .index-solution__link {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
}

@media screen and (min-width: 75em) {
  .index-solution__link {
    padding: 3.4375rem 2.5rem;
  }
}

.index-solution__title {
  text-align: center;
  color: #000000;
}

.index-solution__img-box {
  margin-bottom: 0.9375rem;
}

@media print, screen and (min-width: 40em) {
  .index-solution__img-box {
    max-width: 142px;
  }
}

.index-solution__img-box .hover {
  display: none;
}

.index-solution__img-box__img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.index-solution__img-box__svg.hover {
  opacity: 0;
}

@media (hover: hover) and (min-width: 75em) {
  .index-solution__img-box .normal,
  .index-solution__img-box .hover {
    transition: opacity 0.3s;
  }
  .index-solution__img-box .hover {
    display: block;
  }
  .index-solution__link {
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;
  }
  .index-solution__link::before, .index-solution__link::after {
    content: '';
    position: absolute;
    transition: transform 0.3s;
  }
  .index-solution__link::before {
    top: 0;
    left: 0;
    width: 61px;
    height: 109px;
    background-image: url("../images/index/solution_hover_deco1.png");
    transform: translate(-100%, -100%);
  }
  .index-solution__link::after {
    bottom: 0;
    right: 0;
    width: 109px;
    height: 151px;
    background-image: url("../images/index/solution_hover_deco2.png");
    transform: translate(100%, 100%);
  }
  .index-solution__link:hover, .index-solution__link:focus {
    color: #565656;
    box-shadow: -24px 26px 60px rgba(38, 38, 38, 0.13) ;
  }
  .index-solution__link:hover::before, .index-solution__link:hover::after, .index-solution__link:focus::before, .index-solution__link:focus::after {
    transform: translate(0, 0);
    transition-delay: 0.1s;
  }
  .index-solution__link:hover .text-arrow, .index-solution__link:focus .text-arrow {
    --move-x: 20px;
  }
  .index-solution__link:hover .index-solution__img-box .normal, .index-solution__link:focus .index-solution__img-box .normal {
    opacity: 0;
  }
  .index-solution__link:hover .index-solution__img-box .hover, .index-solution__link:focus .index-solution__img-box .hover {
    opacity: 1;
  }
}

/* News */
.sec-index-news {
  z-index: 1;
  /* Animation */
  /* stylelint-disable */
  /* stylelint-enable */
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-news {
    padding-top: calc(var(--padding-y) - 0.8125rem);
  }
}

@media print, screen and (min-width: 64em) {
  .sec-index-news {
    margin-top: -4.375rem;
    margin-bottom: 8.875rem;
  }
}

@media print, screen and (min-width: 64em) {
  .sec-index-news .bg-box {
    top: 130px;
    right: 0;
    left: auto;
    max-width: 812px;
    height: auto;
    background-position: right top;
    transform: none;
    -webkit-clip-path: polygon(32.0197% 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(32.0197% 0, 100% 0, 100% 100%, 0 100%);
  }
  .sec-index-news .bg-box::before, .sec-index-news .bg-box::after {
    content: '';
    display: block;
    padding-top: 77.95567%;
    background: no-repeat center center / cover;
  }
  .sec-index-news .bg-box::after {
    display: none;
  }
  .sec-index-news .bg-box.loaded-content::before, .sec-index-news .bg-box.loaded-content::after {
    background-image: url("../images/index/news_bg_deco.png");
  }
}

.sec-index-news .bg-box__bg {
  top: 50%;
  background-position: right center;
  transform: translateY(-50%);
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-news .bg-box__bg {
    background-size: auto 100%;
  }
}

@media print, screen and (min-width: 64em) {
  .sec-index-news .bg-box__bg {
    top: -28.594%;
    height: 157.18799%;
    transform: none;
  }
}

.sec-index-news .bg-box__bg.reflection {
  display: none;
}

@media screen and (min-width: 120.0625em) {
  .sec-index-news::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    display: block;
    width: calc((100% - 1920px) / 2);
    height: 100%;
    background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
  }
  .sec-index-news .bg-box {
    max-width: calc(812px + (100% - 1920px) / 2);
  }
  .sec-index-news .bg-box::before, .sec-index-news .bg-box::after {
    padding: 0;
    width: 812px;
    height: 633px;
  }
  .sec-index-news .bg-box::after {
    position: absolute;
    top: 0;
    left: 811px;
    display: block;
    transform: scaleX(-1);
  }
  .sec-index-news .bg-box__bg {
    width: 812px;
  }
  .sec-index-news .bg-box__bg.reflection {
    left: 405px;
    display: block;
    transform: translate(50%) scaleX(-1);
  }
}

.sec-index-news .sec-title {
  margin-bottom: 1.875rem;
}

@media print, screen and (min-width: 64em) {
  .sec-index-news .sec-title {
    margin-bottom: 4.1875rem;
  }
}

.sec-index-news.js-ani .bg-fake {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0s;
}

.sec-index-news.js-ani .sec-title {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.1s;
}

.sec-index-news.js-ani .swiper-box {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.2s;
}

.sec-index-news.js-ani .bg-box__bg-box {
  opacity: 0;
  transition: opacity 1s;
}

.sec-index-news.js-ani.is-animated .bg-fake {
  opacity: 1;
  transform: none;
}

.sec-index-news.js-ani.is-animated .sec-title {
  opacity: 1;
  transform: none;
}

.sec-index-news.js-ani.is-animated .swiper-box {
  opacity: 1;
  transform: none;
}

.sec-index-news.js-ani.is-animated .bg-box__bg-box {
  opacity: 1;
}

.index-news {
  padding-bottom: 40px;
}

@media print, screen and (min-width: 64em) {
  .index-news__item {
    height: 100% !important;
  }
}

.index-news__link {
  --padding: 1.875rem;
  --btn-height: 2.5rem;
  display: block;
  overflow: hidden;
  padding: var(--padding);
  padding-bottom: calc(var(--padding) + var(--padding) + 1.875rem);
  word-break: break-word;
  color: #ffffff;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 23.09401px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 23.09401px) 100%, 0 100%);
}

.index-news__link, .index-news__link:hover, .index-news__link:focus {
  color: #ffffff;
}

.index-news__link:visited {
  color: #d1eae1;
}

.index-news__link:visited .index-news__title, .index-news__link:visited .index-news__tag {
  color: #f4fbf8;
}

@media print, screen and (min-width: 64em) {
  .index-news__link:visited {
    color: #898989;
  }
  .index-news__link:visited .index-news__title, .index-news__link:visited .index-news__tag {
    color: #333333;
  }
}

.index-news__link::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 365px;
}

.index-news .swiper-container-initialized .index-news__link {
  --img: url('../images/news_card_alpha_2x.png');
  --img-bg: linear-gradient(45deg, #b7e5ff 21%, #dbf2ff 43%, #f4f9ff 90%);
  --img-hover: url('../images/news_card_alpha_hover_2x.png');
  --img-hover-bg: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  background-image: var(--img-hover-bg);
}

.index-news .swiper-container-initialized .index-news__link::before {
  background-image: var(--img-hover);
}

@media print, screen and (min-width: 64em) {
  .index-news .swiper-container-initialized .index-news__link {
    background-image: var(--img-bg);
  }
  .index-news .swiper-container-initialized .index-news__link::before {
    background-image: var(--img);
  }
}

@media (hover: hover) and (min-width: 75em) {
  .index-news .swiper-container-initialized .index-news__link:hover, .index-news .swiper-container-initialized .index-news__link:focus {
    background-image: var(--img-hover-bg);
  }
  .index-news .swiper-container-initialized .index-news__link:hover::before, .index-news .swiper-container-initialized .index-news__link:focus::before {
    background-image: var(--img-hover);
    -webkit-animation: bg-flicker 2s infinite;
            animation: bg-flicker 2s infinite;
  }
}

@-webkit-keyframes bg-flicker {
  50% {
    opacity: 0.5;
  }
}

@keyframes bg-flicker {
  50% {
    opacity: 0.5;
  }
}

@media print, screen and (min-width: 40em) {
  .index-news__link {
    --padding: 2.5rem;
    --btn-height: 3.375rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 54px), calc(100% - 31.17691px) 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 54px), calc(100% - 31.17691px) 100%, 0 100%);
  }
}

@media print, screen and (min-width: 64em) {
  .index-news__link {
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, #b7e5ff 21%, #dbf2ff 43%, #ffffff 90%);
  }
  .index-news__link, .index-news__link:hover, .index-news__link:focus {
    color: #565656;
  }
}

.index-news__text-box {
  position: relative;
  z-index: 1;
  height: 240px;
}

@media print, screen and (min-width: 40em) {
  .index-news__text-box {
    height: 285px;
  }
}

.index-news__title, .index-news__tag {
  color: #ffffff;
}

@media print, screen and (min-width: 64em) {
  .index-news__title, .index-news__tag {
    color: #000000;
  }
}

.index-news__title {
  --line-height: 1.2;
  margin-bottom: 0.92308em;
}

.index-news__tag {
  margin-bottom: 1.1875em;
  font-weight: normal;
}

.index-news__desc {
  --line-height: 1.2;
  margin-bottom: 0;
}

.index-news__button {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -1px;
  margin-bottom: 0;
  margin-right: var(--move-margin);
  margin-left: 0;
  min-width: 0;
}

.index-news__button, .index-news__button:hover {
  color: #009966;
  background: #ffffff;
}

@media print, screen and (min-width: 64em) {
  .index-news__button {
    color: #000000;
  }
}

.index-news__shadow {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-news__shadow::before, .index-news__shadow::after {
  content: '';
  position: absolute;
  left: 0;
  box-shadow: -9px 10px 10px rgba(38, 38, 38, 0.13) ;
}

@media (hover: hover) and (min-width: 75em) {
  .index-news__shadow::before, .index-news__shadow::after {
    transition: box-shadow 0.3s;
  }
}

.index-news__shadow::before {
  top: 0;
  width: 100%;
  height: calc(100% - 3.375rem);
}

.index-news__shadow::after {
  --move-margin: 23.09401px;
  bottom: 0;
  width: calc(100% - 40px);
  width: calc(100% - var(--move-margin) - 9px);
  height: 3.375rem;
}

@media (hover: hover) and (min-width: 75em) {
  .index-news__item:hover .index-news__shadow::before, .index-news__item:hover .index-news__shadow::after, .index-news__item:focus-within .index-news__shadow::before, .index-news__item:focus-within .index-news__shadow::after {
    box-shadow: -24px 26px 20px rgba(0, 153, 102, 0.43) ;
  }
  .index-news__link {
    background-image: linear-gradient(45deg, #b7e5ff 21%, #dbf2ff 43%, #ffffff 90%);
  }
  .index-news__link:hover, .index-news__link:focus {
    color: #ffffff;
    background-image: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
  .index-news__link:hover .index-news__title, .index-news__link:hover .index-news__tag, .index-news__link:focus .index-news__title, .index-news__link:focus .index-news__tag {
    color: #ffffff;
  }
  .index-news__link:hover .index-news__button, .index-news__link:focus .index-news__button {
    --move-x: 20px;
    color: #009966;
  }
}

.index-news .swiper-box {
  --margin-x: 2.5rem;
  --margin-y: 2.5rem;
  margin: calc(var(--margin-y) * -1) calc(var(--margin-x) * -1);
}

@media print, screen and (min-width: 40em) {
  .index-news .swiper-box {
    --margin-x: 4.375rem;
  }
}

@media screen and (min-width: 75em) {
  .index-news .swiper-box {
    --margin-x: 6.875rem;
    --margin-y: 4.375rem;
  }
}

@media screen and (min-width: 90em) {
  .index-news .swiper-box {
    width: 95.83333%;
    -webkit-mask-image: linear-gradient(to right, #000000 calc(100% - 100px), transparent 100%);
            mask-image: linear-gradient(to right, #000000 calc(100% - 100px), transparent 100%);
  }
  .index-news .swiper-box::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: block;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
  }
}

.index-news .swiper-container {
  margin-bottom: calc(var(--margin-y) * -1);
  padding: var(--margin-y) var(--margin-x);
}

.index-news .swiper-container:not(.swiper-container-initialized) .swiper-slide {
  margin-right: 2.5rem;
  opacity: 1;
}

@media print, screen and (min-width: 64em) {
  .index-news .swiper-container:not(.swiper-container-initialized) .swiper-slide {
    margin-right: 1.875rem;
    width: calc((100% - 3.75rem) / 3);
  }
  .index-news .swiper-container:not(.swiper-container-initialized) .swiper-slide:nth-child(n + 4) {
    opacity: 0;
  }
}

@media print, screen and (max-width: 63.99875em) {
  .index-news .swiper-slide {
    opacity: 0.3;
  }
  .index-news .swiper-slide-active {
    opacity: 1;
  }
}

@media print, screen and (min-width: 64em) {
  .index-news .swiper-slide {
    opacity: 0;
    pointer-events: none;
  }
  .index-news .swiper-slide-next,
  .index-news .swiper-slide-next + .swiper-slide,
  .index-news .swiper-slide-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.index-news .swiper-button-prev,
.index-news .swiper-button-next {
  --padding-x: 40px;
}

.index-news .swiper-button-prev {
  left: calc(var(--padding-x) - var(--swiper-navigation-size) / 2);
}

.index-news .swiper-button-next {
  right: calc(var(--padding-x) - var(--swiper-navigation-size) / 2);
}

@media print, screen and (min-width: 40em) {
  .index-news .swiper-button-prev,
  .index-news .swiper-button-next {
    --padding-x: 70px;
  }
}

@media screen and (min-width: 75em) {
  .index-news .swiper-button-prev,
  .index-news .swiper-button-next {
    --padding-x: 110px;
  }
}

.index-news .swiper-pagination {
  bottom: -11px;
}

@media screen and (min-width: 75em) {
  .index-news .swiper-pagination {
    display: none;
  }
}

/* Core */
.sec-index-core {
  /* Animation */
  /* stylelint-disable */
  /* stylelint-enable */
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-core {
    padding-top: calc(var(--padding-y) + 2.5rem);
  }
}

@media print, screen and (min-width: 64em) {
  .sec-index-core {
    --padding-y: calc(((100vw - 110px) * 0.5 * 725 / 775 - 280px) / 2);
    margin-bottom: 6.375rem;
  }
}

@media screen and (min-width: 103.75em) {
  .sec-index-core {
    --padding-y: 16.25rem;
  }
}

.sec-index-core .bg-box__bg {
  bottom: -50%;
  left: 0;
  height: 200vh;
  background-position: bottom left;
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-core .bg-box__bg {
    bottom: -19%;
    background-size: 70vw;
    transform: scaleX(-1);
  }
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-core .sec-title {
    margin-bottom: 1.9375rem;
  }
}

.sec-index-core .sec-text-box {
  margin-bottom: 0;
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-core .sec-text-box__desc {
    margin-bottom: 1.3125rem;
  }
}

.sec-index-core .button {
  margin-bottom: 0;
}

.sec-index-core.js-ani .bg-box_bg {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0s;
}

.sec-index-core.js-ani .sec-title {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.1s;
}

.sec-index-core.js-ani .sec-text-box {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.2s;
}

.sec-index-core.js-ani .index-core__img-box__img {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.3s;
}

.sec-index-core.js-ani .bg-box__bg {
  opacity: 0;
}

.sec-index-core.js-ani.is-animated .bg-box_bg {
  opacity: 1;
  transform: none;
}

.sec-index-core.js-ani.is-animated .sec-title {
  opacity: 1;
  transform: none;
}

.sec-index-core.js-ani.is-animated .sec-text-box {
  opacity: 1;
  transform: none;
}

.sec-index-core.js-ani.is-animated .index-core__img-box__img {
  opacity: 1;
  transform: none;
}

.sec-index-core.js-ani.is-animated .bg-box__bg {
  opacity: 1;
  transition: opacity 0.3s;
}

.index-core .grid-x {
  position: relative;
}

.index-core__img-box {
  --img-width: 935;
  --img-height: 886;
  --img-padding: 80;
  --img-padding-x: 80;
  --img-padding-y: 84;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.75rem;
  max-width: 468px;
}

.index-core__img-box::before {
  content: '';
  display: block;
  padding-top: calc((var(--img-height) - var(--img-padding) * 2) / (var(--img-width) - var(--img-padding) * 2) * 100%);
}

@media print, screen and (min-width: 64em) {
  .index-core__img-box {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-bottom: 0;
    width: 50%;
    max-width: 935px;
    transform: translateY(-50%);
  }
}

@media (hover: hover) and (min-width: 75em) {
  .index-core__img-box {
    transform: translateY(-50%) scale(1);
    transition: transform 0.5s;
  }
  .index-core__img-box:hover, .index-core__img-box:focus {
    transform: translateY(-50%) scale(0.9);
  }
}

.index-core__img-box__img {
  --width: calc((var(--img-width) * 100) / (var(--img-width) - var(--img-padding) * 2) * 1%);
  position: absolute;
  top: calc((100 * var(--img-padding)) / (var(--img-height) - var(--img-padding) * 2) * -1%);
  left: calc((100 * var(--img-padding)) / (var(--img-width) - var(--img-padding) * 2) * -1%);
  margin-top: 1px;
  margin-left: 1px;
  width: var(--width);
  max-width: var(--width);
}

.index-core__img-box__img:not(.loaded) {
  width: 100%;
  height: 100%;
}

/* About */
.sec-index-about {
  z-index: 1;
  /* Animation */
  /* stylelint-disable */
  /* stylelint-enable */
}

.sec-index-about .sec-title {
  margin-bottom: 1.8125rem;
}

@media print, screen and (min-width: 40em) {
  .sec-index-about .sec-title {
    margin-bottom: 2.5rem;
  }
}

@media print, screen and (min-width: 64em) {
  .sec-index-about .sec-title {
    margin-bottom: 5.5rem;
  }
}

.sec-index-about .bg-box__bg.bg-1 {
  top: 0;
  background-position: right top;
}

.sec-index-about .bg-box__bg.bg-2 {
  bottom: 0;
  background-position: left bottom;
}

@media print, screen and (max-width: 63.99875em) {
  .sec-index-about .bg-box__bg {
    display: none;
  }
}

.sec-index-about.js-ani .bg-box__bg {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0s;
}

.sec-index-about.js-ani .sec-title {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.1s;
}

.sec-index-about.js-ani .index-about__item:nth-child(1) {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.2s;
}

.sec-index-about.js-ani .index-about__item:nth-child(2) {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.3s;
}

.sec-index-about.js-ani .index-about__item:nth-child(3) {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.4s;
}

.sec-index-about.js-ani .bg-1,
.sec-index-about.js-ani .bg-2 {
  opacity: 0;
  transition: opacity 1s;
}

.sec-index-about.js-ani.is-animated .bg-box__bg {
  opacity: 1;
  transform: none;
}

.sec-index-about.js-ani.is-animated .sec-title {
  opacity: 1;
  transform: none;
}

.sec-index-about.js-ani.is-animated .index-about__item:nth-child(1) {
  opacity: 1;
  transform: none;
}

.sec-index-about.js-ani.is-animated .index-about__item:nth-child(2) {
  opacity: 1;
  transform: none;
}

.sec-index-about.js-ani.is-animated .index-about__item:nth-child(3) {
  opacity: 1;
  transform: none;
}

.sec-index-about.js-ani.is-animated .bg-1,
.sec-index-about.js-ani.is-animated .bg-2 {
  opacity: 1;
}

.index-about {
  --gutter: 2.5rem;
  --margin-x: calc(var(--gutter) / 2);
  --col: 1;
}

@media print, screen and (min-width: 40em) {
  .index-about {
    --col: 2;
  }
}

@media print, screen and (min-width: 64em) {
  .index-about {
    --col: 3;
  }
}

@media screen and (min-width: 75em) {
  .index-about {
    --gutter: 7.8125rem;
  }
}

.index-about__cont {
  margin-right: calc(var(--margin-x) * -1);
  margin-left: calc(var(--margin-x) * -1);
}

@media print, screen and (min-width: 64em) {
  .index-about__cont {
    margin-bottom: -3.125rem;
  }
}

.index-about__cont > .cell {
  margin-right: var(--margin-x);
  margin-left: var(--margin-x);
  width: calc(100% / var(--col) - var(--margin-x) * 2);
}

.index-about__item {
  margin-bottom: 4.25rem;
}

@media print, screen and (max-width: 39.99875em) {
  .index-about__item:last-child {
    margin-bottom: 0;
  }
}

@media print, screen and (min-width: 64em) {
  .index-about__item:nth-child(3n + 2) {
    margin-top: 3.125rem;
  }
}

.index-about__link {
  display: block;
  color: #009966;
}

.index-about__title {
  margin-bottom: 0.4em;
  color: #000000;
}

@media print, screen and (min-width: 64em) {
  .index-about__title {
    margin-bottom: 0.61538em;
  }
}

.index-about__img-box {
  --img-width: 1013;
  --img-height: 650;
  --img-padding: 50;
  position: relative;
  margin-bottom: 1.125rem;
}

@media print, screen and (min-width: 64em) {
  .index-about__img-box {
    --img-width: 416;
    --img-height: 483;
    --img-padding: 25;
    margin-bottom: 2.75rem;
  }
}

.index-about__img-box::before {
  content: '';
  display: block;
  padding-top: calc((var(--img-height) - var(--img-padding) * 2) / (var(--img-width) - var(--img-padding) * 2) * 100%);
}

.index-about__img-box__img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.index-about__img-box__img.bg, .index-about__img-box__img.mobile {
  --width: calc((var(--img-width) * 100) / (var(--img-width) - var(--img-padding) * 2) * 1%);
  top: calc((100 * var(--img-padding)) / (var(--img-height) - var(--img-padding) * 2) * -1%);
  left: calc((100 * var(--img-padding)) / (var(--img-width) - var(--img-padding) * 2) * -1%);
  margin-top: 1px;
  margin-left: 1px;
  width: var(--width);
  max-width: var(--width);
}

.index-about__img-box__img.bg {
  display: none;
}

.index-about__img-box__img.hover {
  --hover-img-width: 252;
  display: none;
  width: calc((var(--hover-img-width) * 100) / (var(--img-width) - var(--img-padding) * 2) * 1%);
}

@media print, screen and (min-width: 64em) {
  .index-about__img-box__img.bg {
    display: block;
  }
  .index-about__img-box__img.mobile {
    display: none;
  }
}

.index-about__img-box__inside {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

@media (hover: hover) and (min-width: 75em) {
  .index-about__img-box__img.hover {
    display: block;
    opacity: 0;
    transform: translateY(-3.125rem);
    transition: opacity 0.3s, transform 0.3s;
  }
  .index-about__link:hover .index-about__img-box__img.hover, .index-about__link:focus .index-about__img-box__img.hover {
    opacity: 1;
    transform: translateY(0);
  }
  .index-about__link:hover .text-arrow, .index-about__link:focus .text-arrow {
    --move-x: 20px;
  }
}

/* GLink */
.sec-index-glink {
  padding-bottom: 14.875rem;
  /* Animation */
  /* stylelint-disable */
  /* stylelint-enable */
}

@media print, screen and (max-width: 39.99875em) {
  .sec-index-glink {
    padding-top: calc(var(--padding-y) - 0.4375rem);
  }
}

@media print, screen and (min-width: 40em) {
  .sec-index-glink {
    padding-bottom: 11.25rem;
  }
}

@media screen and (max-width: 89.9375em) {
  .sec-index-glink .bg-box.bg-ft .bg-box__bg {
    height: calc(100% + 400px);
    background-position: right 20% bottom;
    background-size: auto 100%;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .sec-index-glink .bg-box.bg-ft .bg-box__bg {
    height: calc(100% + 200px);
  }
}

@media screen and (min-width: 120.0625em) {
  .sec-index-glink .bg-box.bg-ft .bg-box__bg {
    left: calc((100vw - 1920px) / 2);
    max-width: 1920px;
  }
}

.sec-index-glink .bg-box.bg-ft .bg-box__bg.is-clone {
  display: none;
}

@media screen and (min-width: 120.0625em) {
  .sec-index-glink .bg-box.bg-ft .bg-box__bg.is-clone {
    display: block;
    transform: scale(-1, 1);
    transform-origin: right center;
  }
}

.sec-index-glink .bg-box__bg::before, .sec-index-glink .bg-box__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.sec-index-glink .bg-box__bg::before {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.sec-index-glink .bg-box__bg::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 100%);
}

.sec-index-glink .sec-title__title, .sec-index-glink .sec-text-box__desc {
  text-shadow: 0 0 20px #ffffff, 0 0 5px #ffffff, 0 0 2px #ffffff;
}

.sec-index-glink .cell.large-8 {
  position: relative;
}

.sec-index-glink .cell.large-8::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: calc(1440px * 0.8);
  background: radial-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 70.71068%);
  transform: translate(-50%, -50%);
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .sec-index-glink .sec-text-box {
    max-width: 60%;
  }
}

.sec-index-glink.js-ani .bg-box__bg {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0s;
}

.sec-index-glink.js-ani .sec-title {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.1s;
}

.sec-index-glink.js-ani .sec-text-box {
  opacity: 0;
  transform: translateY(50px);
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-delay: 0.2s;
}

@media screen and (min-width: 120.0625em) {
  .sec-index-glink.js-ani .bg-box__bg {
    transform: none;
  }
}

.sec-index-glink.js-ani.is-animated .bg-box__bg {
  opacity: 1;
  transform: none;
}

.sec-index-glink.js-ani.is-animated .sec-title {
  opacity: 1;
  transform: none;
}

.sec-index-glink.js-ani.is-animated .sec-text-box {
  opacity: 1;
  transform: none;
}
