/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/* Component */
/* Container */
/* Search */
.banner-search {
  text-shadow: none;
}

.banner-search .breadcrumbs li:not(:last-child)::after, .banner-search .breadcrumbs a {
  color: #ffffff;
}

.banner-search .page-banner__bg {
  background-position: left center;
}

.banner-search .page-banner__text-box {
  width: 100%;
}

@media print, screen and (min-width: 64em) {
  .banner-search .page-banner__text-box {
    max-width: calc(100% - 8.75rem);
  }
}

@media screen and (min-width: 75em) {
  .banner-search .page-banner__text-box {
    max-width: calc(100% - 12.5rem);
  }
}

@media screen and (min-width: 102.5em) {
  .banner-search .page-banner__text-box {
    max-width: 1440px;
  }
}

.banner-search .page-banner__hover-effect {
  --hover-color: 127.5, 127.5, 127.5;
}

.banner-search .hd-search__input {
  background: #ffffff;
}

@media print, screen and (max-width: 39.99875em) {
  .banner-search .hd-search__button-submit {
    left: 0.625rem;
  }
  .banner-search .hd-search__input {
    padding-right: 2.3125rem;
    padding-left: 3.25rem;
  }
  .banner-search .hd-search__clean {
    right: 0.625rem;
  }
}

.result-block__hd {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ccc;
}

@media print, screen and (min-width: 40em) {
  .result-block__hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .result-block__hd__r {
    margin-top: 0.625rem;
  }
}

.result-block__sort {
  display: flex;
  align-items: center;
  font-size: 80%;
}

.result-block__sort__title {
  white-space: nowrap;
}

.result-block__sort__select {
  margin-bottom: 0;
  margin-left: 0.625rem;
  padding-right: 2.1875rem;
  padding-left: 0.625rem;
  height: 2.75rem;
  background-position: right 10px center;
}

@media print, screen and (min-width: 40em) {
  .result-block__ft__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.result-block__ft__r {
  margin-top: 0.625rem;
  text-align: right;
}

.result-block__link-google {
  font-size: 0.875rem;
}

.result-list {
  margin: 0;
  list-style: none;
}

.result-list__item {
  margin-bottom: 1.875rem;
}

.result-list__title:visited {
  color: #8b008b;
}

.result-list__breadcrumb {
  font-size: 80%;
  color: #093;
}

.result-list__desc-box {
  display: flex;
  margin-top: 0.5rem;
}

.result-list__desc {
  flex: 1;
  font-size: 0.875rem;
}

@media print, screen and (min-width: 40em) {
  .result-list__desc {
    font-size: 1rem;
  }
}

.result-list__img-box {
  margin-right: 0.625rem;
  max-width: 3.75rem;
}

@media print, screen and (min-width: 40em) {
  .result-list__img-box {
    max-width: 6.25rem;
  }
}

.result-list__img-link {
  display: block;
}

.result-list b {
  color: #df2020;
  color: #ea4335;
}

.pagination {
  --padding-x: 0.375rem;
}

@media screen and (max-width: 23.375em) {
  .pagination {
    font-size: 0.75rem;
  }
}

.pagination a, .pagination .current, .pagination .ellipsis::after, .pagination .disabled {
  padding-right: var(--padding-x);
  padding-left: var(--padding-x);
  min-width: 28px;
}

@media print, screen and (max-width: 39.99875em) {
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pagination .current, .pagination .current + li, .pagination .current + li + li, .pagination .ellipsis, .pagination .ellipsis + li, .pagination .ellipsis + li + li {
    display: inline-block;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .pagination .pagination-previous .text,
  .pagination .pagination-next .text {
    display: none;
  }
}

/* END. Search  */
/* Privacy  */
.privacy-term {
  counter-reset: item;
  margin: 0;
  list-style: none;
}

.privacy-term__title::before {
  counter-increment: item;
  content: counter(item, upper-roman) ". ";
}

.privacy-term ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.privacy-term ul ul {
  list-style-type: square;
  margin-top: 1.25rem;
  margin-bottom: 2.125rem;
  margin-left: 8.33333%;
}

/* END. Privacy  */
/* Cookie  */
@media screen and (min-width: 40em) and (max-width: 74.99875em) {
  .cookie-table th:first-child,
  .cookie-table td:first-child {
    width: 110px;
  }
  .cookie-table th:nth-child(2),
  .cookie-table td:nth-child(2) {
    width: 90px;
  }
  .cookie-table th:last-child,
  .cookie-table td:last-child {
    width: 110px;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .cookie-table th:first-child,
  .cookie-table td:first-child {
    width: 140px;
  }
}

@media screen and (min-width: 75em) {
  .cookie-table th:first-child,
  .cookie-table td:first-child {
    width: 300px;
  }
  .cookie-table th:nth-child(2),
  .cookie-table td:nth-child(2) {
    width: 15%;
  }
  .cookie-table th:last-child,
  .cookie-table td:last-child {
    width: 20%;
  }
}

/* END. Cookie  */
