@charset "UTF-8";
/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  transition: opacity 0.2s;
  box-shadow: none;
}

.pswp__button:focus, .pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../images/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(../images/default-skin.svg);
  }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(6px);
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
  transform: translateY(0);
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

a.pswp__share--download:hover {
  background: #DDD;
}

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*
	
	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden;
}

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url(../images/preloader.gif) 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

@-webkit-keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*
	
	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

/* Component */
@media print, screen and (max-width: 39.99875em) {
  .sec .img-box {
    margin-bottom: 1.875rem;
  }
}

.sec .img-box img {
  margin-bottom: 0.5rem;
}

.ip-intro-img-flow, .asic-soc-img-design, .asic-soc-img-tool-and-flow, .asic-chip-img-solution, .asic-chip-img-efficient, .pd-adv-img-design, .pd-adv-img-chip-package-board, .pd-adv-img-co-simulation img, .pd-test-high-speed img, .pd-engr-img-intro-group img, .pd-engr-img-failure-analysis, .pd-quality-img-certificate, .pd-supply-img-online, .ip-afe-img-flow {
  width: 70%;
}

.solu-list li {
  margin-bottom: 0.625rem;
}

.hash-list {
  margin-left: 0;
  list-style: none;
}

.hash-list li {
  position: relative;
  margin-bottom: 0.625rem;
  padding-left: 1em;
}

.hash-list li::before {
  content: '#';
  position: absolute;
  top: 0;
  left: 0;
}

.hex-title-box {
  margin-bottom: 2.3125rem;
}

.hex-title-box__title {
  --tri-width: 1.25rem;
  --clip-hex: polygon(var(--tri-width) 0, calc(100% - var(--tri-width)) 0, 100% 50%, calc(100% - var(--tri-width)) 100%, var(--tri-width) 100%, 0 50%);
  --clip-arrow: polygon(0 0, calc(100% - var(--tri-width)) 0, 100% 50%, calc(100% - var(--tri-width)) 100%, 0 100%, var(--tri-width) 50%);
  --clip-label: polygon(0 0, calc(100% - var(--tri-width)) 0, 100% 50%, calc(100% - var(--tri-width)) 100%, 0 100%);
  --padding-x: 0.625rem;
  --padding-y: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: var(--padding-y) var(--padding-x);
  text-align: center;
  color: #ffffff;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
}

@media print, screen and (min-width: 40em) {
  .hex-title-box__title {
    --padding-x: var(--tri-width);
    -webkit-clip-path: var(--clip-hex);
            clip-path: var(--clip-hex);
  }
}

@media print, screen and (min-width: 64em) {
  .hex-title-box__title {
    --padding-y: 0.92308em;
  }
}

@media screen and (min-width: 64em) and (max-width: 89.99875em) {
  .hex-title-box__title {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 75em) {
  .hex-title-box__title {
    --tri-width: 2.5rem;
  }
}

.hex-title-box.is-blue .hex-title-box__title {
  background: linear-gradient(46deg, #179dc4 31%, #3ccab6 80%, #61f7a8 98%);
  background-size: 120%;
}

@media print, screen and (min-width: 40em) {
  .hex-title-box.is-arrow .hex-title-box__title {
    -webkit-clip-path: var(--clip-arrow);
            clip-path: var(--clip-arrow);
  }
}

@media print, screen and (min-width: 40em) {
  .hex-title-box.is-label .hex-title-box__title {
    -webkit-clip-path: var(--clip-label);
            clip-path: var(--clip-label);
  }
}

/* Container */
/* Solution - ASIC Services */
@media print, screen and (max-width: 39.99875em) {
  .asic-tb td,
  .asic-tb th {
    --padding-left: 50%;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-tb td:first-child,
  .asic-tb th:first-child {
    width: 20%;
  }
}

/* Unit: ASIC - Overview (B1.1)  */
/* END. Unit: ASIC - Overview (B1.1)  */
/* Unit: ASIC - SoC Spec-in Design & Verification (B1.2)  */
.asic-sco-flow {
  margin: 0;
  list-style: none;
}

@media print, screen and (min-width: 40em) {
  .asic-sco-flow {
    display: flex;
    flex-wrap: wrap;
  }
}

.asic-sco-flow__item {
  position: relative;
}

.asic-sco-flow__item:last-child .asic-sco-flow__arrow {
  display: none;
}

@media print, screen and (max-width: 63.99875em) {
  .asic-sco-flow__item {
    margin-bottom: 3.75rem;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-sco-flow__item {
    width: 50%;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-sco-flow__item {
    width: 20%;
  }
}

.asic-sco-flow__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.625rem;
  padding: 1.25rem;
  width: 50vw;
  max-width: 13rem;
  text-align: center;
  color: #ffffff;
}

.asic-sco-flow__title::before {
  content: '';
  display: block;
  padding-top: 115.47005%;
}

.asic-sco-flow__title::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

@media screen and (min-width: 64em) and (max-width: 89.99875em) {
  .asic-sco-flow__title {
    padding: 0.625rem;
    width: 13rem;
    max-width: 80%;
    font-size: 1.25rem;
  }
}

.asic-sco-flow__arrow {
  position: absolute;
}

.asic-sco-flow__arrow::before {
  content: '';
  display: block;
  width: 1.125rem;
  height: 0.1875rem;
  background: #009966;
}

.asic-sco-flow__arrow::after {
  --tri-w: 22px;
  --tri-h: 30px;
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  margin-top: calc(var(--tri-h) / 2 * -1 - 1px);
  width: 0;
  height: 0;
  border: calc(var(--tri-h) / 2) solid transparent;
  border-right-width: 0;
  border-left-width: var(--tri-w);
  border-left-color: #009966;
}

@media print, screen and (max-width: 39.99875em) {
  .asic-sco-flow__arrow {
    bottom: 0;
    left: 50%;
    transform: rotate(90deg);
    transform-origin: left center;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-sco-flow__arrow {
    top: calc(120.08886px - 1px);
    left: calc(50% + 208px / 2);
  }
}

@media screen and (min-width: 64em) and (max-width: 89.99875em) {
  .asic-sco-flow__arrow {
    --cont-size: calc(100vw - 200px);
    top: calc(var(--cont-size) / 5 * 0.8 / 1.73205);
    left: 90%;
  }
  .asic-sco-flow__arrow::after {
    --tri-w: 14.66667px;
    --tri-h: 20px;
  }
}

.asic-sco-flow__list {
  margin-left: 0;
  list-style: none;
}

@media print, screen and (max-width: 39.99875em) {
  .asic-sco-flow__list {
    padding-bottom: 0.625rem;
  }
}

.asic-sco-flow__list__item {
  margin-bottom: 0.625rem;
}

.asic-sco-flow__list__item::before {
  --size: 0.25rem;
  content: '';
  display: inline-block;
  margin-bottom: 0.35em;
  margin-right: 0.5rem;
  width: var(--size);
  height: var(--size);
  background: currentColor;
  border-radius: 100%;
}

.asic-soc-compare {
  --padding-x: 0.625rem;
  margin-right: calc(var(--padding-x) * -1);
  margin-left: calc(var(--padding-x) * -1);
}

@media print, screen and (min-width: 64em) {
  .asic-soc-compare {
    --padding-x: 2.1875rem;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-soc-compare__title {
    margin-left: 16%;
  }
}

.asic-soc-compare .cell {
  margin-right: var(--padding-x);
  margin-left: var(--padding-x);
  width: calc(100% - var(--padding-x) * 2);
}

@media print, screen and (max-width: 39.99875em) {
  .asic-soc-compare .cell {
    margin-bottom: 2.5rem;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-soc-compare .cell {
    width: calc(50% - var(--padding-x) * 2);
  }
}

.asic-soc-methodology {
  counter-reset: meth-order;
  list-style: none;
}

.asic-soc-methodology .hex-title-box__title {
  --tri-width: 1.875rem;
}

.asic-soc-methodology .hex-title-box__title::before {
  counter-increment: meth-order;
  content: counter(meth-order) ". ";
}

.asic-soc-methodology .hex-title-box__cont {
  text-align: center;
}

.asic-soc-methodology .hex-title-box__cont ul {
  margin-left: 0;
  list-style: none;
}

.asic-soc-methodology .hex-title-box__cont li::before {
  --size: 0.25rem;
  content: '';
  display: inline-block;
  margin-bottom: 0.35em;
  margin-right: 0.5rem;
  width: var(--size);
  height: var(--size);
  background: currentColor;
  border-radius: 100%;
}

@media print, screen and (min-width: 64em) {
  .asic-soc-table td:nth-child(1),
  .asic-soc-table th:nth-child(1) {
    width: 22.22222%;
  }
  .asic-soc-table td:nth-child(2),
  .asic-soc-table th:nth-child(2) {
    width: 11.11111%;
  }
  .asic-soc-table td:nth-child(3),
  .asic-soc-table th:nth-child(3) {
    width: 30.55556%;
  }
}

/* END. Unit: ASIC - SoC Spec-in Design & Verification (B1.2)  */
/* Unit: ASIC - Chip Implementation Methodology (B1.3)  */
/* END. Unit: ASIC - Chip Implementation Methodology (B1.3)  */
/* Unit: ASIC - Low Power Solution (B1.4)  */
@media print, screen and (max-width: 63.99875em) {
  .asic-low-power-magic .cell {
    margin-bottom: 3.125rem;
  }
}

.low-voltage-def__group {
  margin-bottom: 5rem;
}

@media print, screen and (min-width: 64em) {
  .low-voltage-def__group {
    margin-bottom: 2.5rem;
  }
}

@media print, screen and (min-width: 64em) {
  .low-voltage-def__group.low-voltage img {
    width: calc(100% / 9 * 8);
  }
}

@media screen and (min-width: 93.75em) {
  .low-voltage-def__group.post-layout .low-voltage-def__title-box {
    --cont-size: calc(100vw - 12.5rem);
    --img-size: calc(var(--cont-size) / 12 * 9);
    height: calc(100% - (var(--cont-size) * 0.069));
  }
}

@media screen and (min-width: 102.5em) {
  .low-voltage-def__group.post-layout .low-voltage-def__title-box {
    --cont-size: 90rem;
  }
}

.low-voltage-def__title-box {
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  background: rgba(86, 86, 86, 0.05);
}

@media print, screen and (max-width: 63.99875em) {
  .low-voltage-def__title-box {
    margin-bottom: 1.25rem;
  }
}

@media print, screen and (min-width: 40em) {
  .low-voltage-def__title-box {
    font-size: 1.5rem;
  }
}

@media print, screen and (min-width: 64em) {
  .low-voltage-def__title-box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .low-voltage-def__title-box {
    font-size: 1.125rem;
  }
}

.low-voltage-def__title-box__title, .low-voltage-def__title-box__item {
  --padding-x: 0.625rem;
  --padding-y: 1.5625rem;
  padding: var(--padding-y) var(--padding-x);
}

@media print, screen and (min-width: 40em) {
  .low-voltage-def__title-box__title, .low-voltage-def__title-box__item {
    --padding-x: 1.25rem;
  }
}

.low-voltage-def__title-box__title {
  position: relative;
  z-index: 1;
  padding-bottom: calc(var(--padding-y) + 1.25rem);
  color: #ffffff;
}

@media screen and (min-width: 75em) {
  .low-voltage-def__title-box__title {
    --padding-x: 1.875rem;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .low-voltage-def__title-box__title {
    font-size: 1.25rem;
  }
}

.low-voltage-def__title-box__title span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media print, screen and (min-width: 64em) {
  .low-voltage-def__title-box__title span {
    min-height: 2.4em;
  }
}

.low-voltage-def__title-box__title::before, .low-voltage-def__title-box__title::after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));
}

.low-voltage-def__title-box__title::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.low-voltage-def__title-box__title::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
}

.low-voltage-def__title-box__text-box {
  margin: 0;
  line-height: 1.2;
  list-style: none;
}

@media print, screen and (min-width: 64em) {
  .low-voltage-def__title-box__text-box {
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-direction: column;
  }
}

.low-voltage-def__title-box__item:not(:last-child) {
  position: relative;
}

.low-voltage-def__title-box__item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 3.125rem);
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

@media print, screen and (max-width: 63.99875em) {
  .low-voltage-def__title-box__item:nth-of-type(1) {
    padding-top: calc(var(--padding-y) + 0.625rem);
  }
}

@media print, screen and (min-width: 64em) {
  .low-voltage-def__title-box__item {
    --cont-size: calc(100vw - 12.5rem);
    --padding-y: calc((var(--cont-size) / 12 * 9) * 0.037);
  }
}

@media screen and (min-width: 102.5em) {
  .low-voltage-def__title-box__item {
    --cont-size: 90rem;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-low-power-table td:not(:last-child),
  .asic-low-power-table th:not(:last-child) {
    width: 12%;
  }
  .asic-low-power-table td:first-child,
  .asic-low-power-table th:first-child {
    width: 17%;
  }
}

/* END. Unit: ASIC - Low Power Solution (B1.4)  */
/* Unit: ASIC - Design For Testability (B1.5)  */
.asic-design-dft-table {
  border-bottom: 1px solid #9c9c9c;
}

.asic-design-dft-table tbody {
  background: rgba(86, 86, 86, 0.05);
}

.asic-design-dft-table tbody:nth-child(2n + 1) {
  background: transparent;
}

.asic-design-dft-table tbody:hover {
  background: rgba(0, 153, 102, 0.1);
}

.asic-design-dft-table tbody tr {
  background: transparent;
}

.asic-design-dft-table tbody tr:first-child:hover {
  background: transparent;
}

.asic-design-dft-table tbody tr:first-child:hover td:not(:first-child) {
  background: rgba(0, 153, 102, 0.1);
}

.asic-design-dft-table tbody tr:first-child:hover td:first-child:hover ~ td {
  background: transparent;
}

@media print, screen and (min-width: 64em) {
  .asic-design-dft-table tbody tr:not(:first-child) th,
  .asic-design-dft-table tbody tr:not(:first-child) td {
    padding-left: 1.25rem;
  }
}

.asic-design-dft-table tbody tr:last-child {
  border-bottom: 0 none;
}

@media print, screen and (min-width: 40em) {
  .asic-design-dft-table tbody tr:not(:first-child) td {
    position: relative;
  }
  .asic-design-dft-table tbody tr:not(:first-child) td::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #9c9c9c;
  }
  .asic-design-dft-table tbody tr:not(:first-child) td:first-child::before {
    left: 20px;
    width: calc(100% - 20px);
  }
  .asic-design-dft-table tbody tr:not(:first-child) td:last-child::before {
    width: calc(100% - 20px);
  }
}

@media print, screen and (min-width: 64em) {
  .asic-design-dft-table tbody tr:not(:first-child) td:last-child::before {
    width: calc(100% - 14.04358%);
  }
}

@media print, screen and (min-width: 40em) {
  .asic-design-dft-table th:first-child, .asic-design-dft-table th:nth-child(2) {
    width: 25%;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-design-dft-table th:first-child {
    width: 23.88889%;
  }
  .asic-design-dft-table th:nth-child(2) {
    width: 16.94444%;
  }
}

.asic-design-dft-table td,
.asic-design-dft-table th {
  word-break: break-word;
}

@media print, screen and (max-width: 39.99875em) {
  .asic-design-dft-table .title {
    margin-bottom: 1.125rem;
    padding: 0.875rem 0.9375rem;
    line-height: 1;
    color: #ffffff;
    background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
  .asic-design-dft-table .title[data-title]::before {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.625rem;
    font-weight: bold;
    color: #ffffff;
  }
  .asic-design-dft-table tbody {
    display: block;
  }
  .asic-design-dft-table tbody:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .asic-design-dft-table tbody tr:first-child {
    padding-top: 0;
  }
  .asic-design-dft-table tbody tr:not(:first-child) {
    position: relative;
  }
  .asic-design-dft-table tbody tr:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.625rem;
    width: calc(100% - 1.25rem);
    height: 1px;
    background: #9c9c9c;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-design-table td:first-child,
  .asic-design-table th:first-child {
    width: 11.11111%;
  }
  .asic-design-table td:nth-child(2), .asic-design-table td:nth-child(3),
  .asic-design-table th:nth-child(2),
  .asic-design-table th:nth-child(3) {
    width: 14.58333%;
  }
}

@media screen and (min-width: 75em) {
  .asic-design-table td:first-child,
  .asic-design-table th:first-child {
    width: 17.36111%;
  }
}

/* END. Unit: ASIC - Design For Testability (B1.5)  */
/* Unit: ASIC - Flagship SoC Design Solution (B1.6)  */
.asic-flagship-soc-design {
  margin: 0;
  list-style: none;
}

.asic-flagship-soc-design__item {
  --padding-bottom: 3.75rem;
}

.asic-flagship-soc-design__item:not(:last-child) {
  margin-bottom: var(--padding-bottom);
}

@media print, screen and (min-width: 40em) {
  .asic-flagship-soc-design__item {
    --padding-bottom: 5.625rem;
    display: flex;
    align-items: center;
  }
}

.asic-flagship-soc-design__title {
  --padding-x: 0.625rem;
  --padding-y: 0.8125rem;
  position: relative;
  margin-bottom: 0;
  padding: var(--padding-y) var(--padding-x);
  text-align: center;
  color: #ffffff;
}

.asic-flagship-soc-design__title::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
}

@media print, screen and (max-width: 39.99875em) {
  .asic-flagship-soc-design__title {
    margin-bottom: 9%;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-flagship-soc-design__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    width: 30%;
    max-width: 21.4375rem;
    min-height: 8.125rem;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-flagship-soc-design__title {
    margin-right: 7.75rem;
  }
}

.asic-flagship-soc-design__arrow {
  position: absolute;
  width: 10%;
  min-width: 0.625rem;
  max-width: 7.75rem;
  background: url("../images/solution/arrow-line-green.png") no-repeat center center/100%;
}

@media print, screen and (max-width: 39.99875em) {
  .asic-flagship-soc-design__arrow {
    top: 83%;
    left: 50%;
    transform: rotate(90deg);
    transform-origin: left center;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-flagship-soc-design__arrow {
    top: 50%;
    left: 100%;
    width: 20%;
    transform: translateY(-50%);
  }
}

@media print, screen and (min-width: 64em) {
  .asic-flagship-soc-design__arrow {
    width: 7.75rem;
  }
}

.asic-flagship-soc-design__arrow::before {
  content: '';
  display: block;
  padding-top: 24.19355%;
}

@media print, screen and (min-width: 40em) {
  .asic-flagship-soc-design__list {
    flex: 1;
    margin-left: 2.8125rem;
  }
}

.asic-flagship-soc-design__list li:not(:last-child) {
  margin-bottom: 0.625rem;
}

@media print, screen and (min-width: 64em) {
  .asic-flagship-table td:first-child, .asic-flagship-table td:nth-child(2), .asic-flagship-table td:nth-child(3),
  .asic-flagship-table th:first-child,
  .asic-flagship-table th:nth-child(2),
  .asic-flagship-table th:nth-child(3) {
    width: 13.88889%;
  }
}

@media screen and (min-width: 75em) {
  .asic-flagship-table td:first-child,
  .asic-flagship-table th:first-child {
    width: 19.44444%;
  }
}

/* END. Unit: ASIC - Flagship SoC Design Solution (B1.6)  */
/* Unit: ASIC - Success Story (B1.7)  */
.sec-asic-suc-record .hash-list {
  word-break: break-all;
}

.asic-suc-chart {
  position: relative;
}

@media print, screen and (min-width: 64em) {
  .asic-suc-chart__chart {
    height: 33.125rem;
  }
}

.asic-suc-chart__legend {
  margin: 0;
  list-style: none;
}

@media print, screen and (max-width: 39.99875em) {
  .asic-suc-chart__legend {
    margin-left: 1.875rem;
  }
}

@media print, screen and (min-width: 40em) {
  .asic-suc-chart__legend {
    position: absolute;
    z-index: 5;
    bottom: 35px;
    right: 0;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-suc-chart__legend {
    bottom: 20px;
  }
}

.asic-suc-chart__legend__item {
  display: flex;
  align-items: center;
}

@media print, screen and (max-width: 63.99875em) {
  .asic-suc-chart__legend__item {
    font-size: 0.75rem;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .asic-suc-chart__legend__item {
    display: inline-flex;
    margin-right: 0.9375rem;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-suc-chart__legend__item {
    margin-bottom: 1.11111em;
  }
}

.asic-suc-chart__legend__color {
  display: inline-block;
  margin-right: 0.3125rem;
  width: 0.625rem;
  background: currentColor;
}

@media print, screen and (min-width: 64em) {
  .asic-suc-chart__legend__color {
    margin-right: 1.25rem;
    width: 2.5rem;
  }
}

.asic-suc-chart__legend__color::before {
  content: '';
  display: block;
  padding-top: 100%;
}

@media print, screen and (max-width: 39.99875em) {
  .sec-asic-suc .sec-title.border {
    border-bottom: 0 none;
  }
}

@media print, screen and (min-width: 64em) {
  .asic-suc-table td:first-child,
  .asic-suc-table th:first-child {
    width: 30%;
  }
  .asic-suc-table td:nth-child(2),
  .asic-suc-table th:nth-child(2) {
    width: 30%;
  }
}

/* END. Unit: ASIC - Success Story (B1.7)  */
/* Solution - Production Services */
/* Unit: Production - Overview (B2.1)  */
/* END. Unit: Production - Overview (B2.1)  */
/* Unit: Production - Advanced Package Technology (B2.2)  */
@media print, screen and (max-width: 39.99875em) {
  .pd-adv-co-simulation .img-box {
    margin-bottom: 3.125rem;
    text-align: center;
  }
}

/* END. Unit: Production - Advanced Package Technology (B2.2)  */
/* Unit: Production - Test Service (B2.3)  */
.pd-test-chart__chart {
  margin-bottom: 2.5rem;
  height: calc(100vw - 80px);
}

@media print, screen and (min-width: 40em) {
  .pd-test-chart__chart {
    margin-bottom: 4.375rem;
  }
}

@media print, screen and (min-width: 64em) {
  .pd-test-chart__chart {
    height: 43.4375rem;
  }
}

.pd-test-high-speed__img-box-1 {
  margin-bottom: 2.5rem;
}

@media print, screen and (min-width: 40em) {
  .pd-test-high-speed__img-box-1 {
    margin-bottom: 3.75rem;
  }
}

.pd-test-high-speed__img-box-2 img {
  width: auto;
  max-width: 385px;
}

.heading-space {
  height: 1.6em;
  margin-bottom: 0.65385em;
}

/* END. Unit: Production - Test Service (B2.3)  */
/* Unit: Production - Product Engineering Service (B2.4)  */
/* END. Unit: Production - Product Engineering Service (B2.4)  */
/* START. Unit: Production - Quality & Reliability Service (B2.5)  */
@media print, screen and (max-width: 39.99875em) {
  .pd-quality-list {
    font-size: 0.875rem;
  }
}

@media print, screen and (min-width: 64em) {
  .pd-quality-list {
    display: flex;
  }
}

@media print, screen and (min-width: 64em) {
  .pd-quality-list__cell {
    flex: 1;
  }
}

.pd-quality-list__cell.right .pd-quality-list__title {
  background: linear-gradient(46deg, #179dc4 31%, #3ccab6 80%, #61f7a8 98%);
  background-size: 120%;
}

.pd-quality-list__text-box {
  background: #f6f6f6;
}

.pd-quality-list__title {
  --padding-x: 0.625rem;
  --padding-y: 0.8125rem;
  margin-bottom: 0;
  padding: var(--padding-y) var(--padding-x);
  text-align: center;
  color: #ffffff;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
}

@media print, screen and (min-width: 64em) {
  .pd-quality-list__title {
    --padding-y: 1.5rem;
  }
}

.pd-quality-list__list {
  margin-bottom: 0;
  padding: 0.625rem 1.25rem 1.875rem;
  list-style: square;
}

@media print, screen and (min-width: 64em) {
  .pd-quality-list__list {
    padding: 2.0625rem 2.375rem 2.3125rem;
  }
}

.pd-quality-list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.pd-quality-list__arrow {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  max-width: 230px;
}

.pd-quality-list__arrow::before {
  content: '';
  display: block;
  padding-top: 57.6087%;
  background: url("../images/solution/arrow-green.png");
  background-size: 100%;
}

.pd-quality-list__arrow__text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  color: #ffffff;
  transform: translate(-50%, -50%);
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .pd-quality-list__arrow__text {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 102.5em) {
  .pd-quality-list__arrow__text {
    font-size: 1.625rem;
  }
}

@media print, screen and (max-width: 63.99875em) {
  .pd-quality-list__arrow {
    margin-bottom: 0.9375rem;
    text-align: center;
  }
}

@media print, screen and (min-width: 64em) {
  .pd-quality-list__arrow {
    margin-right: 1.25rem;
    width: 17.36111%;
    max-width: 250px;
  }
  .pd-quality-list__arrow::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27.17391%;
    margin-left: -50%;
    width: 100%;
    transform: rotate(-90deg) scale(1.73585);
  }
  .pd-quality-list__arrow__text {
    left: 58%;
  }
}

/* END. Unit: Production - Quality & Reliability Service (B2.5)  */
/* START. Unit: Production - Supply Chain Management Service (B2.6)  */
.pd-supply-list {
  margin: 0;
  list-style: none;
}

.pd-supply-list img {
  pointer-events: auto;
}

@media print, screen and (min-width: 40em) {
  .pd-supply-list__item:first-child .hex-title-box__title {
    -webkit-clip-path: var(--clip-label);
            clip-path: var(--clip-label);
  }
}

.pd-supply-list__item:last-child .pd-supply-list__arrow {
  display: none;
}

.pd-supply-list__img-box {
  text-align: center;
}

.pd-supply-list__arrow {
  margin: 1.25rem auto;
  max-width: 230px;
}

.pd-supply-list__arrow::before {
  content: '';
  display: block;
  padding-top: 57.6087%;
  background: url("../images/solution/arrow-gray.png");
  background-size: 100%;
}

@media print, screen and (max-width: 63.99875em) {
  .pd-supply-list__img-group {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    text-align: center;
    background: #f6f6f6;
  }
  .pd-supply-list__img-inside {
    display: flex;
    flex-wrap: wrap;
  }
  .pd-supply-list__img-box {
    --padding-x: 0.625rem;
    --content-width: calc(100vw - 8.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
    margin-right: var(--padding-x);
    margin-left: var(--padding-x);
    width: calc(var(--content-width) / 3 - var(--padding-x) * 2);
  }
  .pd-supply-list__img-box img {
    max-height: 60px;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .pd-supply-list__img-box {
    --content-width: calc(100vw - 5rem);
  }
  .pd-supply-list__img-box img {
    max-height: 30px;
  }
}

@media print, screen and (min-width: 64em) {
  .pd-supply-list {
    display: flex;
  }
  .pd-supply-list__item {
    width: 20%;
  }
  .pd-supply-list__img-group {
    margin-bottom: -1.25rem;
  }
  .pd-supply-list__img-box {
    margin-bottom: 1.875rem;
  }
  .pd-supply-list__arrow {
    display: none;
  }
}

@media print, screen and (max-width: 63.99875em) {
  .pd-supply-list .hex-title-box__title {
    margin-bottom: 0;
  }
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .pd-supply-list .hex-title-box__title {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
}

/* END. Unit: Production - Supply Chain Management Service (B2.6)  */
/* Solution - IP Portfolio */
@media print, screen and (min-width: 64em) {
  .ip-card {
    --margin: 0.3125rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--margin) * -1);
  }
}

@media screen and (min-width: 90em) {
  .ip-card {
    margin-right: auto;
    margin-left: auto;
    width: 83.33333%;
  }
}

.ip-card__title {
  padding: 1.25rem;
  color: #ffffff;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
}

@media print, screen and (max-width: 63.99875em) {
  .ip-card__title {
    margin-bottom: 1rem;
  }
}

@media print, screen and (min-width: 64em) {
  .ip-card__title {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 20%;
    max-width: 15.625rem;
    background: transparent;
    filter: drop-shadow(0 0 20px rgba(38, 38, 38, 0.13));
    transform: translate(-50%, -50%);
  }
  .ip-card__title::before {
    content: '';
    display: block;
    padding-top: 115.47005%;
    width: 100%;
  }
  .ip-card__title__inside {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
}

.ip-card__item {
  padding: 1.25rem;
  background: #f5f5f5;
}

@media print, screen and (min-width: 64em) {
  .ip-card__item {
    --padding: 3.125rem;
    --padding-center: 8.125rem;
    --padding-outer: 3.125rem;
    --cornor-size: 70px;
    margin: var(--margin);
    padding: var(--padding);
    padding-bottom: 3.75rem;
    width: calc(50% - var(--margin) * 2);
  }
  .ip-card__item:nth-of-type(1), .ip-card__item:nth-of-type(4) {
    padding-right: var(--padding-center);
    padding-left: var(--padding-outer);
  }
  .ip-card__item:nth-of-type(2), .ip-card__item:nth-of-type(3) {
    padding-right: var(--padding-outer);
    padding-left: var(--padding-center);
  }
  .ip-card__item:nth-of-type(1) {
    -webkit-clip-path: polygon(var(--cornor-size) 0, 100% 0, 100% 100%, 0 100%, 0 var(--cornor-size));
            clip-path: polygon(var(--cornor-size) 0, 100% 0, 100% 100%, 0 100%, 0 var(--cornor-size));
  }
  .ip-card__item:nth-of-type(2) {
    -webkit-clip-path: polygon(0 0, calc(100% - var(--cornor-size)) 0, 100% var(--cornor-size), 100% 100%, 0 100%);
            clip-path: polygon(0 0, calc(100% - var(--cornor-size)) 0, 100% var(--cornor-size), 100% 100%, 0 100%);
  }
  .ip-card__item:nth-of-type(3) {
    order: 4;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--cornor-size)), calc(100% - var(--cornor-size)) 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--cornor-size)), calc(100% - var(--cornor-size)) 100%, 0 100%);
  }
  .ip-card__item:nth-of-type(4) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, var(--cornor-size) 100%, 0 calc(100% - var(--cornor-size)));
            clip-path: polygon(0 0, 100% 0, 100% 100%, var(--cornor-size) 100%, 0 calc(100% - var(--cornor-size)));
  }
}

@media screen and (min-width: 90em) {
  .ip-card__item {
    --padding: 5.625rem;
    --padding-center: 9.375rem;
    --padding-outer: 5rem;
  }
}

.ip-card__subtitle {
  text-transform: uppercase;
}

.ip-card__list {
  margin-bottom: 0;
  margin-left: 0.75rem;
  color: #000000;
}

@media print, screen and (min-width: 64em) {
  .ip-card__list {
    margin-left: 0;
  }
}

.ip-card__list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.sec-ip-file + .sec-ip-file {
  padding-top: 0;
}

@media print, screen and (max-width: 39.99875em) {
  .ip-file-table th:last-child,
  .ip-file-table td:last-child {
    text-align: center;
  }
  .ip-file-table th:last-child a,
  .ip-file-table td:last-child a {
    display: block;
  }
}

@media print, screen and (min-width: 40em) {
  .ip-file-table th:first-child,
  .ip-file-table td:first-child {
    width: 25%;
  }
  .ip-file-table th:nth-child(2),
  .ip-file-table td:nth-child(2) {
    width: 16.66667%;
  }
  .ip-file-table th:last-child,
  .ip-file-table td:last-child {
    width: 224px;
    text-align: center;
  }
}

/* Unit: IP - Overview (B3.1)  */
.partner-list {
  list-style: none;
}

.partner-list img {
  pointer-events: auto;
}

.partner-list a {
  display: block;
}

@media (hover: hover) and (min-width: 75em) {
  .partner-list a {
    transition: opacity 0.3s, transform 0.3s;
  }
  .partner-list a:hover, .partner-list a:focus {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

.partner-list__item {
  margin-bottom: 1.25rem;
}

@media print, screen and (min-width: 40em) {
  .partner-list__item {
    margin-bottom: 3.125rem;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .partner-list {
    --margin-x: 0.625rem;
    margin-right: calc(var(--margin-x) * -1);
    margin-left: calc(var(--margin-x) * -1);
  }
  .partner-list__item.cell {
    margin-right: var(--margin-x);
    margin-left: var(--margin-x);
    width: calc(100% / 3 - var(--margin-x) * 2) !important;
  }
}

.ip-tb-wrapper {
  --gap: 0.625rem;
  position: relative;
}

@media screen and (max-width: 23.375em) {
  .ip-tb {
    font-size: 0.875rem;
  }
}

@media print, screen and (min-width: 40em) {
  .ip-tb {
    font-size: 1.25rem;
  }
  .ip-tb-wrapper {
    --gap: 1.25rem;
  }
}

@media screen and (min-width: 75em) {
  .ip-tb {
    font-size: 1.625rem;
  }
}

.ip-tb__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--gap);
  margin-bottom: 0.625rem;
}

.ip-tb__cell {
  --padding-x: 0.625rem;
  --padding-y: 0.625rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-y) var(--padding-x);
  min-height: 5.8em;
  font-weight: bold;
  text-align: center;
  color: #009966;
}

.ip-tb__cell:first-child {
  width: 13.07692em;
  line-height: 1.2;
  color: #000000;
  background: #ccc;
}

.ip-tb__cell:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  right: calc(var(--gap) * -1);
  width: var(--gap);
  height: 100%;
  background: #ffffff;
}

.ip-tb__label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.35em 1.25rem;
  font-size: 76.92308%;
  color: #ffffff;
  background: #009966;
}

.ip-tb__label + .ip-tb__title-text.has-small {
  margin-top: 0.73077em;
}

.ip-tb__head-group .ip-tb__cell {
  color: #ffffff;
  background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
}

.ip-tb__head-group .ip-tb__cell:first-child {
  color: #000000;
  background: #ffffff;
}

.ip-tb__title-text small {
  display: block;
  font-size: 76.92308%;
  font-weight: normal;
}

.ip-tb__body-group .ip-tb__row:nth-child(2n + 1) .ip-tb__cell:not(:first-child) {
  background: #eee;
}

.ip-tb__body-group .ip-tb__row:hover {
  background: rgba(0, 153, 102, 0.1);
}

.ip-tb__body-group .ip-tb__row:hover .ip-tb__cell:not(:first-child) {
  background: transparent;
}

.ip-tb__body-group .ip-tb__cell:not(:first-child):hover {
  background: rgba(0, 153, 102, 0.1) !important;
}

@media print, screen and (max-width: 63.99875em) {
  .ip-tb {
    width: calc(var(--title-size) + var(--gap) * 4 + var(--cell-size) * 4);
  }
  .ip-tb-wrapper {
    --title-size: 260px;
    --cell-size: 20vw;
  }
  .ip-tb-wrapper::before, .ip-tb-wrapper::after {
    --gradient-color: 255, 255, 255;
    content: '';
    position: absolute;
    z-index: 5;
    top: -1px;
    display: none;
    width: 1.875rem;
    height: calc(100% + 2px);
    background: linear-gradient(to right, rgba(var(--gradient-color), 0) 0%, rgba(var(--gradient-color), 1) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .ip-tb-wrapper::before {
    left: calc(var(--title-size) + var(--gap));
    transform: scale(-1);
  }
  .ip-tb-wrapper::after {
    right: 0;
  }
  .ip-tb-wrapper.has-scroll::before, .ip-tb-wrapper.has-scroll::after {
    display: block;
  }
  .ip-tb-wrapper:not(.is-scroll-start)::before {
    opacity: 1;
  }
  .ip-tb-wrapper:not(.is-scroll-end)::after {
    opacity: 1;
  }
  .ip-tb-scroll-area {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .ip-tb__row {
    grid-template-columns: var(--title-size) repeat(4, 1fr);
  }
  .ip-tb__cell:first-child {
    --padding-y: 1.5rem;
    width: auto;
    max-width: 100%;
  }
  .ip-tb--origin .ip-tb__cell:first-child {
    opacity: 0;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .ip-tb-wrapper {
    --cell-size: 30vw;
  }
}

@media screen and (max-width: 30em) {
  .ip-tb-wrapper {
    --title-size: calc(50vw - 50px);
  }
}

.ip-tb--copy {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: var(--title-size);
  pointer-events: none;
}

@media print, screen and (min-width: 64em) {
  .ip-tb--copy {
    display: none;
  }
}

.ip-tb .sign::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sign {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  color: #009966;
}

.sign-tri {
  width: 0;
  height: 0;
  border: 0.80769em solid transparent;
  border-top-width: 0;
  border-bottom-width: 1.38462em;
  border-bottom-color: currentColor;
}

.sign-circle {
  width: 1.42308em;
  height: 1.42308em;
  background: currentColor;
  border-radius: 100%;
}

.sign-check {
  margin-top: -8%;
  width: 1.53846em;
  height: 1.11538em;
  color: transparent;
  border: 0.23077em solid #009966;
  border-top: 0 none;
  border-right: 0 none;
  transform: rotate(-45deg);
}

.sign-none {
  width: 1.34615em;
  height: 0.19231em;
  background: currentColor;
}

.sign-date {
  text-transform: uppercase;
}

.ip-td-note {
  margin: 0;
  margin-top: 1.35em;
  list-style: none;
}

@media print, screen and (min-width: 40em) {
  .ip-td-note {
    font-size: 1.25rem;
  }
}

.ip-td-note__item {
  font-weight: bold;
  color: #000000;
}

.ip-td-note__title {
  margin-right: 1.25rem;
}

.ip-td-note .sign {
  margin-right: 0.75em;
  transform: translateY(0.5em);
}

/* END. Unit: IP - Overview (B3.1)  */
/* START. Unit: IP - High Bandwidth Memory IP (B3.2)  */
/* END. Unit: IP - High Bandwidth Memory IP (B3.2)  */
/* START. Unit: IP - GUC Die-to-Die (GLink-2.5D/3D) IP (B3.3)  */
/* END. Unit: IP - GUC Die-to-Die (GLink-2.5D/3D) IP (B3.3)  */
/* START. Unit: IP - High Speed SerDes IP (B3.4)  */
/* END. Unit: IP - High Speed SerDes IP (B3.4)  */
/* START. Unit: IP - Mixed-Signal Front-End IP (B3.5)  */
/* END. Unit: IP - Mixed-Signal Front-End IP (B3.5)  */
/* START. Unit: IP - Embedded Memory IP (B3.6)  */
/* END. Unit: IP - Embedded Memory IP (B3.6)  */
