{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/about.min.css">
{/block}
<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-about">
        <div class="page-banner__bg lazyload" data-src="images/about/banner-about.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="about.php"><span itemprop="name">{_g_about}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_g3_offices}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_g3_offices}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Menu (After Scroll Down)-->
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl office-menu" active="-1" data-magellan="" data-offset="160" data-deep-linking="true">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont">
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link" href="#taiwan" draggable="false">{_taiwan}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="#usa" draggable="false">{_usa}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="#europe" draggable="false">{_europe}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="#japan" draggable="false">{_japan}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="#korea" draggable="false">{_korea}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="#china" draggable="false">{_china}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Taiwan-->
    <section class="sec sec-office first sec-office-tw">
        <div class="grid-container" id="taiwan" data-magellan-target="">
            <div class="sec-title">
                <h2 class="sec-title__title">{_taiwan}</h2>
            </div>
            <!-- Taiwan Main-->
            <!-- GUC Headquarters | 總部-->
            <div class="office-main grid-x">
                <div class="office-main__img-box cell large-auto lazyload" data-src="images/about/office.jpg" title="GUC Headquarters"></div>
                <div class="office-main__text-box cell large-5 lazyload lazyload-css">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_guc}<br class="show-for-large-only">{_headquarters}</span><a class="office-info__map-link" href="https://goo.gl/maps/eFHAvMdX62S2" title="Link to &quot;GUC &lt;br class=&quot;show-for-large-only&quot;&gt;Headquarters&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_name1}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+886-3-564-6600">+886-3-564-6600</a> #216305
                            </li>
                            <li class="office-info__item">{_info_fax}+886-3-563-6386
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:oliver.shyu@guc-asic.com" title="Send mail to GUC &lt;br class=&quot;show-for-large-only&quot;&gt;Headquarters">oliver.shyu@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Taiwan Others-->
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
                <!-- GUC Taipei | 台北-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_guc_taipei}</span><a class="office-info__map-link" href="https://goo.gl/maps/ZyqzWdCEEC82" title="Link to &quot;GUC Taipei&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_taipei_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_taipei_name}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+886-3-564-6600">+886-3-564-6600</a> #216399
                            </li>
                            <li class="office-info__item">{_info_fax}+886-3-563-6386
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:kevin.chen@guc-asic.com" title="Send mail to GUC Taipei">kevin.chen@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- GUC Tainan | 台南-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_guc_tainan}</span><a class="office-info__map-link" href="https://goo.gl/maps/twD84RPwGgkwCc2BA" title="Link to &quot;GUC Tainan&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_tainan_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_tainan_name}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+886-3-564-6600">+886-3-564-6600</a> #216399
                            </li>
                            <li class="office-info__item">{_info_fax}+886-3-563-6386
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:kevin.chen@guc-asic.com" title="Send mail to GUC Tainan">kevin.chen@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Global (Single)-->
    <section class="sec sec-office" id="office-global">
        <div class="grid-container">
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
                <!-- USA | 美國-->
                <div class="cell" id="usa" data-magellan-target="usa">
                    <div class="sec-title">
                        <h2 class="sec-title__title">{_usa}</h2>
                    </div>
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_north_america}</span><a class="office-info__map-link" href="https://goo.gl/maps/RPyh9fkhciaVJkVc6" title="Link to &quot;GUC North America&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_north_america_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_north_america_name}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+1-408-382-8900">+1-408-382-8900</a>
                            </li>
                            <li class="office-info__item">{_info_fax}+1-408-321-8299
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:Sales_NA@guc-asic.com" title="Send mail to GUC North America">Sales_NA@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- EUROPE | 歐洲-->
                <div class="cell" id="europe" data-magellan-target="europe">
                    <div class="sec-title">
                        <h2 class="sec-title__title">{_europe}</h2>
                    </div>
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_europe_bv}</span><a class="office-info__map-link" href="https://goo.gl/maps/Qb9p5rNiXyJ2" title="Link to &quot;GUC Europe B.V.&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_europe_bv_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_europe_bv_name}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+31-2 03052901">+31-2 03052901</a>
                            </li>
                            <li class="office-info__item">{_info_mobile}<a class="js-tel-change" href="tel:+31-6-44129373">+31-6-44129373</a>
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:christelle.faucon@guc-asic.com" title="Send mail to GUC Europe B.V.">christelle.faucon@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- JAPAN | 日本-->
                <div class="cell" id="japan" data-magellan-target="japan">
                    <div class="sec-title">
                        <h2 class="sec-title__title">{_japan}</h2>
                    </div>
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_guc_japan}</span><a class="office-info__map-link" href="https://goo.gl/maps/Cq437Ny1Hkn" title="Link to &quot;GUC Japan&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_japan_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_japan_name}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+81-45-222-8256">+81-45-222-8256</a>
                            </li>
                            <li class="office-info__item">{_info_fax}+81-45-222-8259
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:Japan@guc-asic.com" title="Send mail to GUC Japan">Japan@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- KOREA | 韓國-->
                <div class="cell" id="korea" data-magellan-target="korea">
                    <div class="sec-title">
                        <h2 class="sec-title__title">{_korea}</h2>
                    </div>
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_guc_korea}</span><a class="office-info__map-link" href="https://goo.gl/maps/3GsP4rmqT1V62jda9" title="Link to &quot;GUC Korea&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_korea_address}
                            </li>
                            <li class="office-info__item">{_info_name}{_korea_name}
                            </li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+82-2-553-3842">+82-2-553-3842</a>
                            </li>
                            <li class="office-info__item">{_info_fax}+82-2-553-3846
                            </li>
                            <li class="office-info__item">{_info_mobile}<a class="js-tel-change" href="tel:+82-2-553-3846">+82-2-553-3846</a>
                            </li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:jeff.lin@guc-asic.com" title="Send mail to GUC Korea">jeff.lin@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- China-->
    <section class="sec sec-office" id="china" data-magellan-target="china">
        <div class="grid-container">
            <div class="sec-title">
                <h2 class="sec-title__title">{_china}</h2>
            </div>
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
                <!-- GUC Shanghai | 上海-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_shanghai}</span><a class="office-info__map-link" href="https://goo.gl/maps/QjszSXxoNLn" title="Link to &quot;GUC Shanghai&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_shanghai_address}</li>
                            <li class="office-info__item">{_info_name}{_shanghai_name}</li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+86-21-33665868#5180">+86-21-33665868 #5180</a></li>
                            <li class="office-info__item">{_info_fax}+86-21-33665878</li>
                            <!-- <li class="office-info__item">{_info_mobile}<a class="js-tel-change" href="tel:+86-138-1638-5860">+86-138-1638-5860</a></li> -->
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:brad.chou@guc-asic.com" title="Send mail to GUC Shanghai">brad.chou@guc-asic.com</a></li>
                        </ul>
                    </div>
                </div>
                <!-- GUC ShenZhen | 深圳-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_shenzhen}</span><a class="office-info__map-link" href="https://goo.gl/maps/oEcbrDdYZKFy3TTq8" title="Link to &quot;GUC ShenZhen&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_shenzhen_address}</li>
                            <li class="office-info__item">{_info_name}{_shenzhen_name}</li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+86-21-33665868#5180">+86-21-33665868 #5180</a></li>
                            <!-- <li class="office-info__item">{_info_mobile}<a class="js-tel-change" href="tel:+86-1355-682-6026">+86-1355-682-6026</a></li> -->
                            <li class="office-info__item">{_info_fax}+86-21-33665878</li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:brad.chou@guc-asic.com" title="Send mail to GUC ShenZhen">brad.chou@guc-asic.com</a></li>
                        </ul>
                    </div>
                </div>
                <!-- GUC Beijing | 北京-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_beijing}</span>
                            <a class="office-info__map-link" href="https://goo.gl/maps/MCgPb61BisBbweVb6" title="Link to &quot;GUC Beijing&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_beijing_address}</li>
                            <li class="office-info__item">{_info_name}{_beijing_name}</li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+86-21-33665868#5180">+86-21-33665868 #5180</a></li>
                            <!-- <li class="office-info__item">{_info_mobile}<a class="js-tel-change" href="tel:+86-186-0027-7421">+86-186-0027-7421</a></li> -->
                            <li class="office-info__item">{_info_fax}+86-21-33665878</li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:brad.chou@guc-asic.com" title="Send mail to GUC Beijing">brad.chou@guc-asic.com</a></li>
                        </ul>
                    </div>
                </div>
                <!-- GUC Nanjing | 南京-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_nanjing}</span><a class="office-info__map-link" href="https://goo.gl/maps/5Rvv6ejgmD8F24ox8" title="Link to &quot;GUC Nanjing&quot; Google Map [Open with new window]" target="_blank" rel="noopener noreferrer"><i class="be-icon be-icon-map-marker" aria-hidden="true"></i></a>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_nanjing_address}</li>
                            <li class="office-info__item">{_info_name}{_nanjing_name}</li>
                            <li class="office-info__item">{_info_tel}<a class="js-tel-change" href="tel:+86-21-33665868#5180">+86-21-33665868 #5180</a></li>
                            <!-- <li class="office-info__item">{_info_mobile}<a class="js-tel-change" href="tel:+86-182-1778-7539">+86-182-1778-7539</a></li>
                            <li class="office-info__item">{_info_line}dennis.lin</li>
                            <li class="office-info__item">{_info_wechat}dennislin6515</li> -->
                            <li class="office-info__item">{_info_fax}+86-21-33665878</li>
                            <li class="office-info__item">{_info_email}<a class="text-underline" href="mailto:brad.chou@guc-asic.com" title="Send mail to GUC Nanjing">brad.chou@guc-asic.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script src="js/about-offices.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('about');
        });

    </script>
{/block}