{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/about.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-about">
        <div class="page-banner__bg lazyload" data-src="images/about/banner-about.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="about.php"><span itemprop="name">{_g_about}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_g2_leadership}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_g2_leadership}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Leadership Content-->
    <section class="sec sec-leadership">
        <div class="grid-container leadership">
            <h2 class="show-for-sr">{_d1_h2}</h2>
            <ul class="leadership__list">
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_09_sean-tai.jpg" alt="Ken Chen-President" title="Ken Chen-President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d2_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d2_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d2_p1}</p>
                            <p>{_d2_p2}</p>
                            <p>{_d2_p3}</p>
                        </div>
                    </div>
                </li>
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_02_daniel-chien.jpg" alt="Daniel Chien-Senior Vice President &amp; CFO" title="Daniel Chien-Senior Vice President &amp; CFO" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d3_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d3_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d3_p1}</p>
                            <p>{_d3_p2}</p>
                        </div>
                    </div>
                </li>
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_03_louis-lin.jpg" alt="Louis Lin-Senior Vice President" title="Louis Lin-Senior Vice President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d4_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d4_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d4_p1}</p>
                            <p>{_d4_p2}</p>
                            <p>{_d4_p3}</p>
                        </div>
                    </div>
                </li>
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_05_simon-yen.jpg" alt="Simon Yen-Vice President" title="Simon Yen-Vice President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d5_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d5_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d5_p1}</p>
                            <p>{_d5_p2}</p>
                            <p>{_d5_p3}</p>
                        </div>
                    </div>
                </li>
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_06_justin-hsieh.jpg" alt="Justin Hsieh-Vice President" title="Justin Hsieh-Vice President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d6_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d6_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d6_p1}</p>
                            <p>{_d6_p2}</p>
                            <p>{_d6_p3}</p>
                        </div>
                    </div>
                </li>
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_08_jen-tai-hsu.jpg" alt="Jen-Tai Hsu-Vice President" title="Jen-Tai Hsu-Vice President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d7_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d7_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d7_p1}</p>
                            <p>{_d7_p2}</p>
                            <p>{_d7_p3}</p>
                        </div>
                    </div>
                </li>
                <!-- <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_vincent-w-li.jpg" alt="Vincent W. Li-Vice President &amp; CHRO" title="Vincent W. Li-Vice President &amp; CHRO" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d8_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d8_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d8_p1}</p>
                            <p>{_d8_p2}</p>
                            <p>{_d8_p3}</p>
                        </div>
                    </div>
                </li>
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_jen-tai-hsu.jpg" alt="Jen-Tai Hsu-Vice President" title="Jen-Tai Hsu-Vice President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d9_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d9_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d9_p1}</p>
                            <p>{_d9_p2}</p>
                            <p>{_d9_p3}</p>
                        </div>
                    </div>
                </li> -->
                <li class="leadership__item">
                    <div class="leadership__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/about/leader_10_patrick-wang.jpg" alt="Patrick Wang-Vice President" title="Patrick Wang-Vice President" width="600" height="400"/></div>
                    </div>
                    <div class="leadership__text-box">
                        <div class="leadership__name-box">
                            <h3 class="h2 leadership__name title-dark">{_d10_h3}</h3>
                            <h4 class="h3 leadership__job title-dark">{_d10_h4}</h4>
                        </div>
                        <div class="leadership__desc">
                            <p>{_d10_p1}</p>
                            <p>{_d10_p2}</p>
                            <p>{_d10_p3}</p>
                        </div>
                    </div>
                </li>
			</ul>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('about');
        });

    </script>
{/block}