{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/about.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-about">
        <div class="page-banner__bg lazyload" data-src="images/about/banner-about.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="about.php"><span itemprop="name">{_g_about}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_g1_company}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_g1_company}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Company Profile-->
    <section class="sec sec-about-com">
        <div class="grid-container">
            <div class="sec-title mb-0">
                <h2 class="sec-title__title normal">{_d1_h2}</h2>
            </div>
            <p>{_d1_p1}</p>
            <p>{_d1_p2}</p>
            <p>{_d1_p3}</p>
            <p>{_d1_p4}</p>
        </div>
    </section>
    <!-- GUC Core Strengths-->
    <section class="sec sec-about-core pt-0" id="guc-core-strengths">
        <div class="grid-container">
            <div class="sec-title mb-0">
                <h2 class="sec-title__title normal">{_d2_h2}</h2>
            </div>
            <div class="sec-block margin-large">
                <p>{_d2_p}</p>
            </div>
            <div class="sec-block margin-large">
                <div class="text-center">
                    <h3 class="title-dark mb-0">{_d3_h3_1}<br class="hide-for-small-only">{_d3_h3_2}</h3>
                    <div class="about-core__img-box"><img class="about-core__img-box__img lazyload" src="images/1x1.gif" data-src="images/index/core_img.png" alt="GUC Core Strengths" width="935" height="886"></div>
                </div>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d4_h3}</h3>
                <p>{_d4_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d5_h3}</h3>
                <p>{_d5_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d6_h3}</h3>
                <p>{_d6_p}</p>
            </div>
        </div>
    </section>
    <!-- Contact Information-->
    <section class="sec sec-about-contact pt-0">
        <div class="grid-container">
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
                <!-- Investor Relations-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_d7_h3}</span>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_title_name}{_d7_li1}
                            </li>
                            <li class="office-info__item">{_title_tel}<a class="js-tel-change" href="tel:+886-3-564-6600">+886-3-564-6600</a>
                            </li>
                            <li class="office-info__item">{_title_fax}+886-3-666-8208
                            </li>
                            <li class="office-info__item">{_title_email}<a class="text-underline" href="mailto:irinfo@guc-asic.com" title="Send mail to Investor Relations">irinfo@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Public Relations-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_d8_h3}</span>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_title_name}{_d8_li1}
                            </li>
                            <li class="office-info__item">{_title_tel}<a class="js-tel-change" href="tel:+886-3-564-6600">+886-3-564-6600</a>
                            </li>
                            <li class="office-info__item">{_title_fax}+886-3-563-5515
                            </li>
                            <li class="office-info__item">{_title_email}<a class="text-underline" href="mailto:pr@guc-asic.com" title="Send mail to Public Relations">pr@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Human Resources-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_d9_h3}</span>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_title_email}<a class="text-underline" href="mailto:hr@guc-asic.com" title="Send mail to Human Resources">hr@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('about');
        });

    </script>
{/block}