{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/career.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-career">
        <div class="page-banner__bg lazyload" data-src="images/career/banner-career.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="career.php"><span itemprop="name">{_e_careers}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_e2_job}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_e2_job}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Why GUC-->
    <section class="sec sec-job-reason" n:if="lib\Router::getLang()=='en'">
        <div class="grid-container job-reason">
            <div class="sec-title">
                <h2 class="sec-title__title normal">Why GUC</h2>
            </div>
            <div class="sec-block">
                <p>A career at GUC offers exciting opportunities to work with the best and brightest. We believe that people are our greatest asset and the key to our future success. Join our team and explore your potential with GUC！</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">Engineer</h3>
                <p>Job Category: IC Design / SoC / Digital IC Design / Software / Firmware / Analog / Physical Design / Layout / Design Service / FAE / Product / Test / Production Planning</p>
                <ul>
                    <li>Mininum Qualification: BA/BS in Electronic Engineering, Electrical Engineering, Photinics, Information Engineering, Communication Engineering, Industrial Engineering or a related technical field or equivalent practical experience in semiconductor industry.</li>
                    <li>Preferred Qualification: MS, MBA or PhD</li>
                </ul>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">R&amp;D Substitute Service</h3>
                <p>Qualification: MS or PhD in Electronic Engineering, Electrical Engineering, Photinics, Information Engineering, Communication Engineering, Industrial Engineering or a related technical field.</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">Summer Intern</h3>
                <p>Qualification: Domestic or international students with MS, MBA or PhD degree.<br>Application Process：<br>&nbsp;&nbsp;&nbsp;April-Resume uploading<br>&nbsp;&nbsp;&nbsp;May-Interview<br>&nbsp;&nbsp;&nbsp;July to August-Internship</p>
            </div>
        </div>
    </section>
    <section class="sec sec-job-reason" n:if="lib\Router::getLang()=='tw'">
        <div class="grid-container job-reason">
            <div class="sec-title">
                <h2 class="sec-title__title normal">選擇GUC</h2>
            </div>
            <div class="sec-block">
                <p>GUC是世界一流的IC設計服務公司，提供具挑戰性的工作機會，讓您可以與最優秀的人才合作。員工是我們最重要的資產，也是企業成功的關鍵。加入GUC，和我們一起創造無限價值！</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">工程師徵才</h3>
                <p>職務類別：IC設計 / SoC / 數位IC設計 / 軟體 / 韌體 / 類比 / 實體設計 / Layout / 設計服務 / FAE / 產品 / 測試 / 生產企劃</p>
                <p>資格條件：大學(含)以上 電機 / 電子 / 光電 / 資工 / 通訊 / 工工 相關系所畢業或具備 IC 設計半導體產業經驗人才</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">研發替代役</h3>
                <p>資格條件：電機 / 電子 / 光電 / 資工 / 通訊 / 工工 相關系所的碩士學位或博士學位</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">暑期實習生計畫</h3>
                <p>申請資格：國內外仍在學之碩、博班學生。</p>
                <p>申請時間：每年度4月報名，5月甄選，7-8月實習。</p>
            </div>
        </div>
    </section>
    <section class="sec sec-job-reason" n:if="lib\Router::getLang()=='cn'">
        <div class="grid-container job-reason">
            <div class="sec-title">
                <h2 class="sec-title__title normal">选择GUC</h2>
            </div>
            <div class="sec-block">
                <p>GUC是世界一流的IC设计服务公司，提供具挑战性的工作机会，让您可以与最优秀的人才合作。员工是我们最重要的资产，也是企业成功的关键。加入GUC，和我们一起创造无限价值！</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">工程师征才</h3>
                <p>热招职位：<br>
                &nbsp;&nbsp;&nbsp;1、Physical design engineer<br>
                &nbsp;&nbsp;&nbsp;2、Front-end design engineer<br>
                &nbsp;&nbsp;&nbsp;3、DFT design engineer<br>
                &nbsp;&nbsp;&nbsp;4、Project Manager / General Solution Architect<br>
                &nbsp;&nbsp;&nbsp;5、IP Field Application Engineer / Technical manager<br>
                <p>资格条件：国内外之本科、硕、博班毕业，集成电路、微电子等相关专业</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">实习生计划</h3>
                <p>申请资格：国内外仍在学之本科、硕、博班学生，集成电路、微电子、电子工程等相关专业。 
                <p>申请时间：每年度5月报名，6月甄选，7-12月实习。</p>
            </div>
        </div>
    </section>
    <!-- Join US-->
    <section class="sec sec-bg sec-job-join">
        <div class="bg-box bg-ft bg-overflow-hidden bg-color bg-blue-wire">
            <div class="bg-box__bg lazyload lazyload-css"></div>
        </div>
        <div class="grid-container job-join">
            <div class="sec-title">
                <h2 class="sec-title__title normal">{_join_us}</h2>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_ready}</h3>
                <p n:if="lib\Router::getLang()=='en'">{_ready_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_contact_us}</h3>
                <p>{_email}<a class="text-underline" href="mailto:{_hr_email}" title="{_send_title}">{_hr_email}</a>{_guc_h}<a class="text-underline" href="mailto:{_cn_email}" title="{_send_cn_title}">{_cn_email}</a>{_guc_s} / <a class="text-underline" href="mailto:{_jp_email}" title="{_send_jp_title}">{_jp_email}</a>{_guc_j}</p>
                <div class="button-group">
                    <div class="button-group__item"><a class="button button-global button-arrow" href="https://www.104.com.tw/company/7hkiz4o" title="{_link_title}" target="_blank" rel="noopener noreferrer"><span class="text">{_link_txt}</span></a>
                    </div>
                    <div class="button-group__item"><a class="button button-global button-arrow" href="https://ehrweb.104.com.tw/job.do?uno=16299879&amp;internal=1" title="{_link2_title}" target="_blank" rel="noopener noreferrer"><span class="text">{_link2_txt}</span></a>
                    </div>
                </div>
            </div>
            <div class="sec-block">
                <p>{_click_txt}<a class="text-underline" href="https://jobs.51job.com/all/co2763670.html" title="{_s_job_title}" target="_blank" rel="noopener noreferrer">{_shanghai}</a>/ <a class="text-underline" href="https://jobs.51job.com/all/co5095826.html" title="{_n_job_title}" target="_blank" rel="noopener noreferrer">{_nanjing}</a> / <a class="text-underline" href="https://en-gage.net/gucjapan_career/" title="{_j_job_title}" target="_blank" rel="noopener noreferrer">{_japan}</a></p>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('careers');
        });

    </script>
{/block}