{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/career.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-career">
        <div class="page-banner__bg lazyload" data-src="images/career/banner-career.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="career.php" itemprop="item"><span itemprop="name">{_e_careers}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_e1_career}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_e1_career}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Work and life-->
    <section class="sec sec-career-life">
        <div class="grid-container career-life">
            <div class="sec-title">
                <h2 class="sec-title__title">{_work_and_life}</h2>
            </div>
            <div class="career-life__group grid-x small-up-1 medium-up-2 large-up-3">
                <div class="career-life__item cell">
                    <div class="career-life__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/career/career-life-health.jpg" alt="" width="385" height="260"/></div>
                    </div>
                    <h3 class="career-life__title title-dark">{_health}</h3>
                    <div class="career-life__desc-box">
                        <ul class="career-life__list">
                            <li class="career-life__list__item">{_h_item1}</li>
                            <li class="career-life__list__item">{_h_item2}</li>
                            <li class="career-life__list__item">{_h_item3}</li>
                            <li class="career-life__list__item">{_h_item4}</li>
                        </ul>
                    </div>
                </div>
                <div class="career-life__item cell">
                    <div class="career-life__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/career/career-life-welfare.jpg" alt="" width="385" height="260"/></div>
                    </div>
                    <h3 class="career-life__title title-dark">{_welfare}</h3>
                    <div class="career-life__desc-box">
                        <ul class="career-life__list">
                            <li class="career-life__list__item">{_w_item1}</li>
                            <li class="career-life__list__item">{_w_item2}</li>
                            <li class="career-life__list__item">{_w_item3}</li>
                            <li class="career-life__list__item">{_w_item4}</li>
                            <li class="career-life__list__item">{_w_item5}</li>
                        </ul>
                    </div>
                </div>
                <div class="career-life__item cell">
                    <div class="career-life__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/career/career-life-facilities.jpg" alt="" width="385" height="260"/></div>
                    </div>
                    <h3 class="career-life__title title-dark">{_facilities}</h3>
                    <div class="career-life__desc-box">
                        <ul class="career-life__list">
                            <li class="career-life__list__item">{_f_item1}</li>
                            <li class="career-life__list__item">{_f_item2}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Employee Events-->
    <section class="sec sec-career-event">
        <div class="grid-container career-life">
            <div class="sec-title">
                <h2 class="sec-title__title">{_employee}</h2>
            </div>
            <div class="career-life__group grid-x small-up-1 medium-up-2 large-up-3">
                <div class="career-life__item cell">
                    <div class="career-life__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/career/career-event-communication.jpg" alt="" width="385" height="260"/></div>
                    </div>
                    <h3 class="career-life__title title-dark">{_communication}</h3>
                    <div class="career-life__desc-box">
                        <ul class="career-life__list">
                            <li class="career-life__list__item">{_c_item1}</li>
                            <li class="career-life__list__item">{_c_item2}</li>
                        </ul>
                    </div>
                </div>
                <div class="career-life__item cell">
                    <div class="career-life__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/career/career-event-cohesion.jpg" alt="" width="385" height="260"/></div>
                    </div>
                    <h3 class="career-life__title title-dark">{_cohesion}</h3>
                    <div class="career-life__desc-box">
                        <ul class="career-life__list">
                            <li class="career-life__list__item">{_co_item1}</li>
                            <li class="career-life__list__item">{_co_item2}</li>
                        </ul>
                    </div>
                </div>
                <div class="career-life__item cell">
                    <div class="career-life__img-box box-lack-cornor">
                        <div class="box-lack-cornor__cont"><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="images/career/career-event-event.jpg" alt="" width="385" height="260"/></div>
                    </div>
                    <h3 class="career-life__title title-dark">{_events}</h3>
                    <div class="career-life__desc-box">
                        <ul class="career-life__list">
                            <li class="career-life__list__item">{_e_item1}</li>
                            <li class="career-life__list__item">{_e_item2}</li>
                            <li class="career-life__list__item">{_e_item3}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Final-->
    <section class="sec-bg sec-career-final">
        <div class="bg-box bg-ft bg-overflow-hidden bg-color bg-blue-wire">
            <div class="bg-box__bg lazyload lazyload-css"></div>
        </div>
        <!-- Learning and Development-->
        <article class="sec sec-career-learning">
            <div class="grid-container career-learning">
                <div class="grid-x">
                    <div class="cell small-12 large-4">
                        <div class="sec-title">
                            <h2 class="sec-title__title" n:if="lib\Router::getLang()=='en'">{_learning}<br>{_development}</h2>
                            <h2 class="sec-title__title" n:if="lib\Router::getLang()!='en'">{_learning}</h2>
                        </div>
                        <p>{_l_p1}</p>
                        <p>{_l_p2}</p>
                        <p>{_l_p3}</p>
                    </div>
                    <div class="cell large-auto large-offset-1">
                        <div class="career-learning__img-box"><img class="career-learning__img-box__img lazyload" src="images/1x1.gif" data-src="images/career/career-learning.png" alt="" width="960" height="960"></div>
                    </div>
                </div>
            </div>
        </article>
        <!-- Total Rewards-->
        <article class="sec sec-career-rewards">
            <div class="grid-container career-rewards">
                <div class="career-rewards__cont grid-x">
                    <div class="career-rewards__text-box cell small-12 large-6 large-offset-1">
                        <div class="sec-title">
                            <h2 class="sec-title__title">{_total}</h2>
                        </div>
                        <p>{_t_p}</p>
                        <ul class="career-rewards__list">
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item1_t}</span><span class="career-rewards__desc">{_t_item1}</span></li>
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item2_t}</span><span class="career-rewards__desc">{_t_item2}</span></li>
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item3_t}</span><span class="career-rewards__desc">{_t_item3}</span></li>
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item4_t}</span><span class="career-rewards__desc">{_t_item4}</span></li>
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item5_t}</span><span class="career-rewards__desc">{_t_item5}</span></li>
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item6_t}</span><span class="career-rewards__desc">{_t_item6}</span></li>
                            <li class="career-rewards__item"><span class="career-rewards__title">{_t_item7_t}</span><span class="career-rewards__desc">{_t_item7}</span></li>
                        </ul>
                    </div>
                    <div class="cell large-auto">
                        <div class="career-rewards__img-box"><img class="career-rewards__img-box__img lazyload" src="images/1x1.gif" data-src="images/career/career-rewards.png" alt="" width="708" height="677"></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('careers');
        });

    </script>
{/block}