{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/search-n-other.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-policy">
        <div class="page-banner__bg lazyload" data-src="images/other/banner-policy.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_ft_cookie}</span>
                            <meta itemprop="position" content="2"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_ft_cookie}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Cookie Policy Content-->
    <section class="sec sec-cookie">
        <div class="grid-container">
            <h2 class="show-for-sr">{_d1_h2}</h2>
            <div class="sec-block">
                <p class="text-tip">{_d1_p1}</p>
                <p>{_d1_p2}</p><br>
                <p>{_d1_p3}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d2_h3}</h3>
                <p>{_d2_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d3_h3}</h3>
                <ul>
                    <li>
                        <h4 class="text-em">{_d3_li1_h4}</h4>
                        <p>{_d3_li1_p}</p>
                    </li>
                    <li>
                        <h4 class="text-em">{_d3_li2_h4}</h4>
                        <p>{_d3_li2_p}</p>
                    </li>
                    <li>
                        <h4 class="text-em">{_d3_li3_h4}</h4>
                        <p>{_d3_li3_p}</p>
                    </li>
                </ul>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d4_h3}</h3>
                <p>{_d4_p1}</p>
                <ul>
                    <li>
                        <p>{_d4_li1}</p>
                    </li>
                    <li>
                        <p>{_d4_li2}</p>
                    </li>
                    <li>
                        <p>{_d4_li3}</p>
                    </li>
                    <li>
                        <p>{_d4_li4}</p>
                    </li>
                </ul>
                <p>{_d4_p2}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d5_h3}</h3>
                <p>{_d5_p1}</p>
                <p>{_d5_p2}</p><br>
                <table class="table-collapse table-x-padding cookie-table">
                    <thead>
                    <tr>
                        <th>{_d5_th1}</th>
                        <th>{_d5_th2}</th>
                        <th>{_d5_th3}</th>
                        <th>{_d5_th4}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="type" data-title="Type of Cookie">{_t1_td1}</td>
                        <td class="name" data-title="Name">{_t1_td2}</td>
                        <td class="purpose" data-title="Purpose">{_t1_td3}</td>
                        <td class="dur" data-title="Duration">{_t1_td4}</td>
                    </tr>
                    <tr>
                        <td class="type" data-title="Type of Cookie">{_t2_td1}</td>
                        <td class="name" data-title="Name">{_t2_td2}</td>
                        <td class="purpose" data-title="Purpose">{_t2_td3}</td>
                        <td class="dur" data-title="Duration">{_t2_td4}</td>
                    </tr>
                    <tr>
                        <td class="type" data-title="Type of Cookie">{_t3_td1}</td>
                        <td class="name" data-title="Name">{_t3_td2}</td>
                        <td class="purpose" data-title="Purpose">{_t3_td3}</td>
                        <td class="dur" data-title="Duration">{_t3_td4}</td>
                    </tr>
                    </tbody>
                </table><br>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark"></h3>
                <p>{_d6_p1}<a class="text-underline text-word-break-all" href="https://www.allaboutcookies.org/manage-cookies/" title="All About Cookies.org [Open with new window]" aria-label="All About Cookies.org" target="_blank" rel="noopener noreferrer">https://www.allaboutcookies.org/manage-cookies/</a>{_d6_p2}</p>
            </div>
        </div>
    </section>
</main>

{block js}

{/block}