{layout layout/layout.html}

{block css}
    <style>
        /* 404 Page */
        .error-page {
            position: relative;
            min-height: calc(100vh - 2.75rem);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        @media print, screen and (min-width: 64em) {
            .error-page {
                min-height: calc(100vh - 7.5rem);
            }
        }

        /* 文字區塊 */
        .error-page .text-box {
            text-align: center;
            position: relative;
            z-index: 1;
            max-width: 90vw;
        }

        /* 裝飾文字文字：404/OOPS! */
        .error-page .title {
            margin-bottom: -6%;
            pointer-events: none;
        }
        .error-page .title span {
            display: inline-block;
            position: relative;
            width: 600px;
            max-width: 100%;
        }
        /* 404 文字空間*/
        .error-page .title span::before {
            content: "";
            display: block;
            padding-top: 50%;
            padding-top: calc(240 / 560 * 100%);
        }
        .error-page svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .error-page svg text {
            text-anchor: middle;
        }
        .error-page svg .break_line {
            stroke-width: 0;
            -webkit-animation: text_breaker 0.5s 3s forwards;
            animation: text_breaker 0.5s 3s forwards;
        }
        .error-page svg .title-num {
            font-size: 10rem;
            font-weight: bold;
            fill: #009966;
        }

        /* 標題文字：PAGE NOT FOUND */
        .error-page .sub-title {
            font-weight: bold;
            color: #000
        }
        .ie .error-page {
            height: 100vh;
        }
        .ie .error-page .title path {
            stroke-width: 14;
        }
        @-webkit-keyframes text_breaker {
            to {
                stroke-width: 14;
            }
        }

        @keyframes text_breaker {
            to {
                stroke-width: 14;
            }
        }

    </style>
{/block}

<main class="main-container" n:block="content">
    <section class="error-page">
        <div class="text-box">
            <h1 class="title" aria-label="404"><span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 204">
                <defs>
                  <mask id="mask" x="0" y="0" width="100%" height="100%">
                    <rect x="0" y="0" width="100%" height="100%" fill="#fff"></rect>
                    <path class="break_line" fill="none" stroke="#000" stroke-width="14" stroke-miterlimit="10" transform="translate(-338 -20)" d="M635.902,133.617L613.554,110.3 l-22.219,23.442l-22.35-23.319l-22.218,23.443l-22.353-23.318l-22.218,23.441l-22.351-23.32l-22.22,23.444l-22.112-23.543 l-22.22,23.442l-22.348-23.319l-22.219,23.442l-22.351-23.318l-22.22,23.441l-22.348-23.318l-22.222,23.443l-21.724-23.543 l-22.218,23.442L213.3,110.964l-22.22,23.441l-22.35-23.316l-22.219,23.44l-22.35-23.319l-22.221,23.444L79.83,111.111 l-22.22,23.442l-22.35-23.32l-22.22,23.445l-22.348-23.319l-22.219,23.442l-22.351-23.321l-22.22,23.446"></path>
                  </mask>
                </defs>
                <text class="title-num" mask="url(#mask)" x="50%" y="0" dy="1em" font-size="10rem" font-family="'Arial'">{_oops}</text>
              </svg></span></h1>
            <h2 class="sub-title">{_not_found}</h2>
            <p class="desc">{_p}</p><a class="button button-global button-arrow" href="./"><span class="text">{_home}</span></a>
        </div>
    </section>
</main>

{block js}
    <script src="js/vendor/swiper-bundle.min.js" async></script>
    <script src="js/vendor/lib-ani.min.js" async></script>
    <script src="js/index.min.js" defer></script>
{/block}