{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/esg.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-esg">
        <div class="page-banner__bg lazyload" data-src="images/esg/banner-esg.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="esg.php"><span itemprop="name">{_f_esg}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_f2_report}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_f2_report}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- ESG Report Content -->
    <section class="sec sec-esg-report">
        <div class="grid-container esg-report">
            <ul class="img-info-box em-first grid-x grid-margin-x small-up-2 medium-up-3">
                <!-- 圖片建議大小：440*330(4:3)-->
                <!-- [START] Item-->
                <li class="img-info-box__item cell text-center" n:foreach="$list as $k => $v"><a class="img-info-box__link" href="../upload/esg_report/{$v['file']}" title="{$v['title']}" target="_blank">
                        <div class="img-info-box__img-box box-lack-cornor">
                            <div class="box-lack-cornor__shadow show-for-hover"></div>
                            <div class="box-lack-cornor__cont">
                                <!-- 封面圖，同一張(1/2)--><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="../upload/esg_report/{$v['img']}" alt="" width="440" height="330"/>
                                <div class="box-lack-cornor__inside">
                                    <div class="box-lack-cornor__hover-line">
                                        <svg class="svg-bg img-deco" width="254">
                                            <use xlink:href="#img-hover-bg"></use>
                                        </svg>
                                        <!-- 封面圖，同一張(2/2)-->
                                        <div class="img lazyload" data-src="../upload/esg_report/{$v['img']}"></div>
                                        <svg class="svg-line img-deco" width="254">
                                            <use xlink:href="#img-hover-line"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="img-info-box__title h3" aria-hidden="true">{$v['year']}</div>
                        <div class="show-for-sr">{$v['title']}</div></a></li>
                <!-- [END] Item-->
            </ul>
            <svg class="svg-def" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 254 220.385">
                <symbol id="img-hover-line" viewBox="0 0 254 220.385">
                    <g fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2">
                        <path d="M78.174 118.45L-.816 72.845M.028 62.633l78.146-45.118v-.032M78.174 219.385V17.515M78.174 118.45l87.413-50.468V0"></path>
                        <path d="M253 0v17.483l-87.413 50.468-87.413-50.468V0M-.816 173.78l78.99 45.605 87.413-50.467V67.982"></path>
                    </g>
                </symbol>
                <symbol id="img-hover-bg" viewBox="0 0 254 220.385">
                    <path d="M78.174 219.385L.028 174.267V73.332l78.146 45.118v100.935zM.028 62.617L78.174 17.5V0H.028zm78.146 55.8l87.413-50.468-87.413-50.466z" fill="#fff"></path>
                </symbol>
                <defs>
                    <clipPath id="img-hover-clip" clipPathUnits="objectBoundingBox">
                        <path d="M.356,1,0,.8V.334L.356.54ZM0,.285.356.079V0H0ZM.356.54l.4-.231L.356.08Z"></path>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('esg');
        });

    </script>
{/block}