{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/esg.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-esg">
        <div class="page-banner__bg lazyload" data-src="images/esg/banner-esg.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="esg.php"><span itemprop="name">{_f_esg}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_f1_esg}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_f1_esg}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- ESG Content-->
    <section class="sec sec-esg">
        <div class="grid-container">
            <div class="sec-block">
                <p>{_p1}</p>
                <p>{_p2}</p>
            </div>
            <div class="file-list">
                <ul class="file-list__list">
                    <li class="file-list__item" n:foreach="$list as $k => $v"><a class="file-list__link" href="{if $v['type'] == 1}../upload/esg/{$v['file']}{else}{$v['url']}{/if}" title="[open with new window]" target="_blank"><span class="file-list__item__desc">{$v['title']}</span><span class="file-list__item__icon-box"><i n:class="'be-icon',(lib\Tools::getFileExt($v['file'])=='pdf')?'be-icon-pdf':'be-icon-download'" aria-hidden="true"></i></span></a></li>
                </ul>
            </div>
            <p>{_link} "<a class="text-em" href="../upload/esg_report/{$report['file']}" target="_blank">{$report['year']} {_file}</a>"</p>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('esg');
        });

    </script>
{/block}