{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/news.min.css">
{/block}
<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-news">
        <div class="page-banner__bg lazyload" data-src="images/news/banner-news.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="news.php"><span itemprop="name">{_d_press}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_d3_events}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_d3_events}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl" active="2">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont">
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link" href="news.php" draggable="false">{_d1_news}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="news-spotlight.php" draggable="false">{_d2_spotlight}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="event.php" draggable="false">{_d3_events}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- List Content-->
    <section class="sec sec-news-list">
        <div class="grid-container news-list">
            <!-- List-->
            <div class="news-list" role="table" aria-label="Press Release List">
                <div class="news-list__head" role="rowgroup">
                    <div class="news-list__item" role="row">
                        <div class="news-list__cell date" role="columnheader">{_date}</div>
                        <div class="news-list__cell title" role="columnheader">{_title}</div>
                    </div>
                </div>
                <div class="news-list__body" role="rowgroup">
                    <div class="news-list__item" role="row" n:foreach="$list as $k => $v">
                        <a n:if="$v['url']!=''" class="news-list__link" href="{$v['url']}" target="_blank" rel="noopener noreferrer" title="[Open with new window]">
                            <div class="news-list__cell date" role="cell" data-title="Date">{$v['event_start_date']|dateBetween:$v['event_end_date']}</div>
                            <div class="news-list__cell title" role="cell" data-title="Title">{$v['title']}</div>
                        </a>
                        <div n:if="$v['url']==''" class="news-list__link" >
                            <div class="news-list__cell date" role="cell" data-title="Date">{$v['event_start_date']|dateBetween:$v['event_end_date']}</div>
                            <div class="news-list__cell title" role="cell" data-title="Title">{$v['title']}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END List-->
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('news');
        });

    </script>
{/block}