{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/faq.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-faq">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-faq.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="faq.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c4_faq}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c4_faq}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="sec sec-faq">
        <div class="grid-container faq">
            <!-- [START] List-->
            <ul class="faq__list accordion" data-accordion="" data-deep-link="true" data-multi-expand="true" data-allow-all-closed="true" n:inner-foreach="$list as $k => $v">
                <li class="faq__item accordion-item" data-accordion-item="" id="faq-{$k}-item"><a class="faq__title accordion-title" href="#faq-{$k}">{$v['question']}<i class="be-icon be-icon-arrow-bottom" aria-hidden="true"></i></a>
                    <div class="faq__cont accordion-content" id="faq-1" data-tab-content="" data-scroll-target="#faq-{$k}-item">{$v['answer']|noescape}
                    </div>
                </li>
            </ul>
            <!-- [END] List-->
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}