{layout layout/layout.html}

<main class="main-container" n:block="content">
    <!-- Banner-->
    <section class="sec-index-banner js-ani">
        <div class="index-banner">
            <div class="swiper-box">
                <div class="swiper-container" id="index-banner-carousel">
                    <div class="swiper-wrapper">
                        <!-- 最多 3 篇、不可放影片-->
                        <!-- 圖片建議大小：大圖1300*870、小圖1125*1200（暗色系、不要在圖片上加需要閱讀的文字）-->
                        <!-- 程式說明：<source> data-srcset 帶入大圖，<img> data-src 帶入小圖-->
                        <!-- Item Start-->
                        <div class="swiper-slide index-banner__item" n:foreach="$bannerList as $k => $v">
                            <div class="index-banner__cont">
                                <picture class="index-banner__img-box object-fit">
                                    <source srcset="images/1x1.gif" data-srcset="../upload/index_banner/{$v['img']}" media="(min-width: 1024px)"/><img class="index-banner__img swiper-lazy" src="images/1x1.gif" data-src="../upload/index_banner/{$v['img2']}" alt=""/>
                                </picture>
                                <div class="index-banner__cover lazyload lazyload-css"></div>
                                <div class="index-banner__text-box grid-container">
                                    <div class="index-banner__text-box__inside">
                                        <h2 class="index-banner__title h1 clamp-3">{$v['title']}</h2>
                                        <h3 class="index-banner__sub-title h3 clamp-3">{$v['title2']}</h3><a n:if="$v['url'] != ''" class="button button-global button-arrow index-banner__button white" href="{$v['url']}" title="{$v["title"]}"><span class="text">{_learn_more}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Item End-->
                    </div>
                </div>
                <div class="swiper-nav">
                    <div class="swiper-button-next border">
                        <svg class="circle-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="44px" height="44px">
                            <circle r="15.915" cy="18" cx="18" fill="none" stroke="currentColor" stroke-width="3" stroke-dasharray="100" stroke-dashoffset="100"></circle>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev border"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Solutions-->
    <section class="sec sec-bg sec-index-solution js-ani">
        <div class="bg-box">
            <div class="bg-box__bg bg-1 lazyload" data-src="images/index/solution_deco1.png"></div>
            <div class="bg-box__bg bg-2 lazyload" data-src="images/index/solution_deco2.png"></div>
        </div>
        <div class="grid-container index-solution">
            <div class="sec-title">
                <h2 class="sec-title__title">{_solutions}</h2>
            </div>
            <ul class="index-solution__list grid-x grid-margin-x small-up-1 large-up-3">
                <li class="index-solution__item cell"><a class="index-solution__link" href="solution-asic.php">
                        <div class="index-solution__img-box img-rel hexagon-box hex-none">
                            <svg class="index-solution__img-box__svg normal img-deco hex-svg" width="142">
                                <use xlink:href="#hex-border"></use>
                            </svg>
                            <svg class="index-solution__img-box__svg hover img-deco hex-svg" width="142">
                                <use xlink:href="#hex-solid"></use>
                            </svg><img class="index-solution__img-box__img normal img-deco lazyload" src="images/1x1.gif" data-src="images/index/solution_icon1.png" alt="" width="169" height="195"/><img class="index-solution__img-box__img hover img-deco lazyload" src="images/1x1.gif" data-src="images/index/solution_icon1_hover.png" alt="" width="169" height="195"/>
                        </div>
                        <h3 class="index-solution__title">{_asic_service}</h3>
                        <p class="index-solution__desc">{_asic_service_desc}</p>
                        <div class="text-arrow text-em index-solution__more">{_learn_more}
                        </div></a></li>
                <li class="index-solution__item cell"><a class="index-solution__link" href="solution-pd.php">
                        <div class="index-solution__img-box img-rel hexagon-box hex-none">
                            <svg class="index-solution__img-box__svg normal img-deco hex-svg" width="142">
                                <use xlink:href="#hex-border"></use>
                            </svg>
                            <svg class="index-solution__img-box__svg hover img-deco hex-svg" width="142">
                                <use xlink:href="#hex-solid"></use>
                            </svg><img class="index-solution__img-box__img normal img-deco lazyload" src="images/1x1.gif" data-src="images/index/solution_icon2.png" alt="" width="169" height="195"/><img class="index-solution__img-box__img hover img-deco lazyload" src="images/1x1.gif" data-src="images/index/solution_icon2_hover.png" alt="" width="169" height="195"/>
                        </div>
                        <h3 class="index-solution__title">{_production_service}</h3>
                        <p class="index-solution__desc">{_production_service_desc}</p>
                        <div class="text-arrow text-em index-solution__more">{_learn_more}
                        </div></a></li>
                <li class="index-solution__item cell"><a class="index-solution__link" href="solution-ip.php">
                        <div class="index-solution__img-box img-rel hexagon-box hex-none">
                            <svg class="index-solution__img-box__svg normal img-deco hex-svg" width="142">
                                <use xlink:href="#hex-border"></use>
                            </svg>
                            <svg class="index-solution__img-box__svg hover img-deco hex-svg" width="142">
                                <use xlink:href="#hex-solid"></use>
                            </svg><img class="index-solution__img-box__img normal img-deco lazyload" src="images/1x1.gif" data-src="images/index/solution_icon3.png" alt="" width="169" height="195"/><img class="index-solution__img-box__img hover img-deco lazyload" src="images/1x1.gif" data-src="images/index/solution_icon3_hover.png" alt="" width="169" height="195"/>
                        </div>
                        <h3 class="index-solution__title">{_ip_portfolio}</h3>
                        <p class="index-solution__desc">{_ip_portfolio_desc}</p>
                        <div class="text-arrow text-em index-solution__more">{_learn_more}
                        </div></a></li>
            </ul>
        </div>
        <!-- 六角形 SVG Symbol-->
        <svg class="svg-def" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 146 169">
            <defs>
                <lineargradient id="primary-gradient-bg" x1="23.123" y1="143.942" x2="122.878" y2="25.058" gradientUnits="userSpaceOnUse">
                    <stop offset="0.4" stop-color="#04a672"></stop>
                    <stop offset="1" stop-color="#a9f7b6"></stop>
                </lineargradient>
            </defs>
            <symbol id="hex-solid" viewBox="0 0 146 169">
                <path d="M144.42,125.866,73,167.232,1.581,125.866V43.134L73,1.768l71.42,41.366Z" fill="url(#primary-gradient-bg)"></path>
            </symbol>
            <symbol id="hex-border" viewBox="0 0 146 169">
                <path d="M144.42,125.866,73,167.232,1.581,125.866V43.134L73,1.768l71.42,41.366Z" fill="none" stroke="#04a672" stroke-miterlimit="10" stroke-width="2"></path>
            </symbol>
        </svg>
    </section>
    <!-- News-->
    <section class="sec sec-bg sec-index-news js-ani">
        <div class="bg-box">
            <div class="bg-box__bg mobile hide-for-large lazyload" data-src="images/index/news_bg_m.png"></div>
            <div class="bg-box__bg show-for-large lazyload" data-src="images/index/news_bg.png"></div>
            <div class="bg-box__bg reflection show-for-large lazyload" data-src="images/index/news_bg.png"></div>
        </div>
        <div class="grid-container index-news">
            <div class="sec-title">
                <h2 class="sec-title__title">{_guc_news}</h2>
            </div>
            <div class="swiper-box">
                <div class="swiper-container" id="index-news-carousel">
                    <div class="swiper-wrapper">
                        <!-- 最多 6 篇-->
                        <!-- Item Start-->
                        <div class="swiper-slide index-news__item" n:foreach="$newsList as $k => $v"><a class="index-news__link" href="{$v['page']}-cont.php?k={$v['url_id']}" title="{$v['title']}">
                                <div class="index-news__text-box">
                                    <div class="h6 index-news__tag clamp-1">{\enum\NewsType::get($v['type'])}</div>
                                    <h3 class="index-news__title clamp-3">{$v['title']}</h3>
                                    <p class="index-news__desc clamp-6">{$v['html']|stripHtml}</p>
                                </div>
                                <div class="button button-global button-arrow angle-30 index-news__button"><span class="text">{_learn_more}</span>
                                </div></a><span class="index-news__shadow"></span></div>
                        <!-- Item End-->
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <!-- About Core-->
    <section class="sec sec-bg sec-index-core js-ani">
        <div class="bg-box">
            <div class="bg-box__bg lazyload" data-src="images/index/core_bg.jpg"></div>
        </div>
        <div class="grid-container index-core">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-7">
                    <div class="sec-title">
                        <h2 class="sec-title__title">{_core_strengths}</h2>
                    </div><a class="index-core__img-box" href="about.php#guc-core-strengths" title="{_core_strengths_title}"><img class="index-core__img-box__img lazyload" src="images/1x1.gif" data-src="images/index/core_img.png" alt="{_core_strengths_alt}"></a>
                    <div class="sec-text-box">
                        <div class="sec-text-box__desc">
                            <p>{_core_strengths_desc}</p>
                        </div><a class="button button-global button-arrow" href="about.php"><span class="text">{_about_us}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- More About GUC-->
    <section class="sec sec-bg sec-index-about js-ani">
        <div class="bg-box">
            <div class="bg-box__bg bg-1 lazyload" data-src="images/index/about_deco1.png"></div>
            <div class="bg-box__bg bg-2 lazyload" data-src="images/index/about_deco2.png"></div>
        </div>
        <div class="grid-container index-about">
            <div class="sec-title">
                <h2 class="sec-title__title">{_more}<br class="show-for-small-only">{_about_guc}</h2>
            </div>
            <div class="index-about__cont grid-x small-up-1 medium-up-2 large-up-3">
                <div class="index-about__item cell"><a class="index-about__link" href="esg-report.php">
                        <div class="index-about__img-box img-rel"><img class="index-about__img-box__img bg lazyload" src="images/1x1.gif" data-src="images/index/about_img1.png" alt="" width="416" height="483"/><img class="index-about__img-box__img mobile lazyload" src="images/1x1.gif" data-src="images/index/about_img1_m_2x.png" data-srcset="images/index/about_img1_m_2x.png 2x, images/index/about_img1_m_3x.png 3x" alt="" width="334" height="214"/>
                            <div class="index-about__img-box__inside img-rel"><img class="index-about__img-box__img hover lazyload" src="images/1x1.gif" data-src="images/index/about_img1_hover.png" alt="" width="252" height="218"/></div>
                        </div>
                        <h3 class="index-about__title">{_esg_report}</h3>
                        <div class="text-arrow index-about__more">{_learn_more}
                        </div></a></div>
                <div class="index-about__item cell"><a class="index-about__link" href="investor-financials-calendar.php">
                        <div class="index-about__img-box img-rel"><img class="index-about__img-box__img bg lazyload" src="images/1x1.gif" data-src="images/index/about_img2.png" alt="" width="416" height="483"/><img class="index-about__img-box__img mobile lazyload" src="images/1x1.gif" data-src="images/index/about_img2_m_2x.png" data-srcset="images/index/about_img2_m_2x.png 2x, images/index/about_img2_m_3x.png 3x" alt="" width="334" height="214"/>
                            <div class="index-about__img-box__inside img-rel"><img class="index-about__img-box__img hover lazyload" src="images/1x1.gif" data-src="images/index/about_img2_hover.png" alt="" width="252" height="218"/></div>
                        </div>
                        <h3 class="index-about__title">{_financial_calendar}</h3>
                        <div class="text-arrow index-about__more">{_learn_more}
                        </div></a></div>
                <div class="index-about__item cell"><a class="index-about__link" href="career.php">
                        <div class="index-about__img-box img-rel"><img class="index-about__img-box__img bg lazyload" src="images/1x1.gif" data-src="images/index/about_img3.png" alt="" width="416" height="483"/><img class="index-about__img-box__img mobile lazyload" src="images/1x1.gif" data-src="images/index/about_img3_m_2x.png" data-srcset="images/index/about_img3_m_2x.png 2x, images/index/about_img3_m_3x.png 3x" alt="" width="334" height="214"/>
                            <div class="index-about__img-box__inside img-rel"><img class="index-about__img-box__img hover lazyload" src="images/1x1.gif" data-src="images/index/about_img3_hover.png" alt="" width="252" height="218"/></div>
                        </div>
                        <h3 class="index-about__title">{_careers_with_guc}</h3>
                        <div class="text-arrow index-about__more">{_learn_more}
                        </div></a></div>
            </div>
        </div>
    </section>
    <!-- GLink-->
    <section class="sec sec-bg sec-index-glink js-ani">
        <div class="bg-box bg-ft">
            <!-- 背景圖：圖片建議大小：大圖1920*1380（左側要留文字放置區域 60%）-->
            <div class="bg-box__bg lazyload" data-src="../upload/index_content/{$indexContent['img']}"></div>
        </div>
        <div class="grid-container index-glink">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-8">
                    <div class="sec-title">
                        <h2 class="sec-title__title">{_unleashing_the_future}</h2>
                    </div>
                    <div class="sec-text-box">
                        <div class="sec-text-box__desc">
                            <p>{_unleashing_the_future_desc}</p>
                        </div><a class="button button-global button-arrow" href="{$indexContent['url']}"><span class="text">{_learn_more}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script src="js/vendor/swiper-bundle.min.js" async></script>
    <script src="js/vendor/lib-ani.min.js" async></script>
    <script src="js/index.min.js" defer></script>
{/block}