{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}


<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-com">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-company.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c2_corporate}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c2_corporate}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="0">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview is-active" href="investor-company.php" aria-hidden="true" tabindex="-1"><span class="text">{_c2_corporate}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item is-active"><a class="unit-menu__link overview" href="investor-company.php" draggable="false"><span class="text">{_c2_corporate}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-board.php" draggable="false">{_c21_board}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-committee.php" draggable="false">{_c22_committees}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-audit.php" draggable="false">{_c23_audit}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-cgo.php" draggable="false">{_c24_cgo}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-policy.php" draggable="false">{_c25_policy}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="policy.php#risk-management" draggable="false">{_c26_risk}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabC as $k => $v"><a class="unit-menu__link" href="investor-company-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Corporate Governance Content-->
    <section class="sec sec-com-intro">
        <div class="grid-container">
            <div class="sec-block margin-large">
                <p>{_d1_p1}</p>
                <p>{_d1_p2}</p>
                <p><a class="com-intro__video-link text-underline text-em" href="download/6thCorporateGovernanceEvaluation_GUC_SD_20081316355.wmv">{_d1_a}<i class="be-icon be-icon-video" aria-label="Video Download" role="img"></i></a></p>
            </div>
            <div class="sec-block margin-large">
                <div class="text-center"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/investor/company-timeline--uc.png" alt="Timeline of Implemented Corporate Governance Measures vs. Legal Requirements" width="1460" height="1170"></div>
                <p class="text-tip text-left hide-for-large"><i class="be-icon be-icon-search" aria-hidden="true"></i>{_d2}</p>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title mb-0">
                    <h2 class="sec-title__title normal">{_d3_h}</h2>
                </div>
                <p>{_d3_p}</p>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title mb-0">
                    <h2 class="sec-title__title normal">{_d4_h}</h2>
                </div>
                <p>{_d4_p1}</p>
                <p>{_d4_p2}</p>
                <p>{_d4_p3}</p>
                <p>{_d4_p4}</p>
            </div>
            <div class="sec-block margin-large">
                <div class="com-intro__table-wrapper js-scroll-detect" data-scroll-area="table-scroll-area" data-arrow="false">
                  <div class="com-intro__table-scroll-area custom-scrollbar" id="table-scroll-area">
                    <table class="com-intro__table table-collapse table-title-absolute table-em-first">
                        <thead>
                        <tr>
                            <th class="tb__title" colspan="2">{_d5_th}</th>
                            <th class="tb__item">2021</th>
                            <th class="tb__item">2020</th>
                            <th class="tb__item">2019</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tb__title" colspan="2">{_d5_td1}</td>
                            <td class="tb__item" data-title="2021">0</td>
                            <td class="tb__item" data-title="2020">1</td>
                            <td class="tb__item" data-title="2019">1</td>
                        </tr>
                        </tbody>
                        <tbody class="tb__group-rowspan">
                        <tr>
                            <td class="tb__title" rowspan="4">{_d5_td2}</td>
                            <td class="tb__title">{_d5_td2_2}</td>
                            <td class="tb__item" data-title="2021">2({_note1})</td>
                            <td class="tb__item" data-title="2020">2</td>
                            <td class="tb__item" data-title="2019">0</td>
                        </tr>
                        <tr>
                            <td class="tb__title">{_d5_td3}</td>
                            <td class="tb__item" data-title="2021">0</td>
                            <td class="tb__item" data-title="2020">0</td>
                            <td class="tb__item" data-title="2019">1</td>
                        </tr>
                        <tr>
                            <td class="tb__title">{_d5_td4}</td>
                            <td class="tb__item" data-title="2021">0</td>
                            <td class="tb__item" data-title="2020">0</td>
                            <td class="tb__item" data-title="2019">0</td>
                        </tr>
                        <tr>
                            <td class="tb__title">{_d5_td5}</td>
                            <td class="tb__item" data-title="2021">0</td>
                            <td class="tb__item" data-title="2020">0</td>
                            <td class="tb__item" data-title="2019">0</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="tb__title" colspan="2">{_d5_td6}</td>
                            <td class="tb__item" data-title="2021">2({_note2})</td>
                            <td class="tb__item" data-title="2020">2</td>
                            <td class="tb__item" data-title="2019">1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="sec-block margin-large">
                <p>{_d6_note1}<br>{_d6_note2}</p>
                <p>{_d6_p1}</p>
                <p>{_d6_p2}<a class="text-underline" href="https://www1.guc-asic.com:8443/guc/" target="_blank" rel="noopener noreferrer" title="{_d6_p2_a_title}">{_d6_p2_a}</a>{_d6_p2_2}</p>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script src="js/investor-company.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}