{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-com">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-company.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c2_corporate}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c21_board}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c21_board}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-company.php" aria-hidden="true" tabindex="-1"><span class="text">{_c2_corporate}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-company.php" draggable="false"><span class="text">{_c2_corporate}</span></a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-company-board.php" draggable="false">{_c21_board}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-committee.php" draggable="false">{_c22_committees}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-audit.php" draggable="false">{_c23_audit}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-cgo.php" draggable="false">{_c24_cgo}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-policy.php" draggable="false">{_c25_policy}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="policy.php#risk-management" draggable="false">{_c26_risk}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabC as $k => $v"><a class="unit-menu__link" href="investor-company-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Board of Directors Content-->
    <section class="com-board">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <!-- [START] 左側錨點選單-->
                <aside class="com-board__aside cell large-2" id="board-main-aside">
                    <div class="board-nav-wrapper" data-sticky-container="">
                        <nav class="board-nav js-dropdown-menu" data-sticky="" data-anchor="board-main-aside" data-margin-top="3.75" data-sticky-on="large">
                            <button class="board-nav__current select" type="button">{_select}</button>
                            <!-- 各區塊標題＋id連結列表-->
                            <ul class="board-nav__list list" data-magellan="" data-offset="90" data-threshold="120" data-deep-linking="true">
                                <li class="board-nav__item" n:foreach="$titleList as $k => $v"><a class="board-nav__link" href="#board-sec-{$k}">{$v['title']}</a></li>
                            </ul>
                        </nav>
                    </div>
                </aside>
                <!-- [END] 左側錨點選單-->
                <!-- [START] 右側主內容-->
                <div class="com-board__main-cont cell large-auto large-offset-1" id="board-main-cont" n:inner-foreach="$titleList as $k => $v">
                    <section class="sec board-block" id="board-sec-{$k}" data-magellan-target="board-sec-{$k}">
                        <div class="board-block__title-box"><a class="board-block__title-anchor" href="#board-sec-{$k}" data-smooth-scroll="" data-offset="90">#</a>
                            <h2 class="board-block__title title-dark">{$v['title']}</h2>
                        </div>
                        <!-- ↓【內容區】-->
                        {if isset($list[$k])}
                        {var $i = 0}
                        {foreach $list[$k] as $k1 => $v1}
                            {if $i != $v1['type']}
                            <div n:class="'board-block__cont-group',($v1['type']==1)?'normal':'table'">
                            {/if}
                            <div n:class="'board-block__cont',($v1['close_type']==1)?'':'has-toggle'">
                                <div class="board-block__subtitle h3 title-dark" n:if="$v1['title']">{$v1['title']}</div>
                                <div class="board-block__panel">
                                    <!-- ↓ 文字敘述區-->
                                    <div class="board-block__desc article-cont" n:if="$v1['type']!=2">
                                        {$v1['content']|noescape}
                                    </div>

                                    <div class="board-block__table-wrapper" n:if="$v1['type']!=1">
                                        {var $tableData = json_decode($v1['table_content'], true)}
                                        <table class="table-collapse">
                                            <thead>
                                            <tr>
                                                <th>{$tableData[0][0]}</th>
                                                <th>{$tableData[0][1]}</th>
                                                <th>{$tableData[0][2]}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr n:foreach="$tableData as $k3 => $v3">
                                                {if $k3 != 0}
                                                <td data-title="{$tableData[0][0]}">{$v3[0]|breakLines}</td>
                                                <td data-title="{$tableData[0][1]}">{$v3[1]|breakLines}</td>
                                                <td data-title="{$tableData[0][2]}">{$v3[2]|breakLines}</td>
                                                {/if}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- ↓備註區-->
                                    <div n:if="$v1['type']!=1 && $v1['note']!=''" class="board-block__note text-tip">{$v1['note']}<a n:if="$v1['note_url']!=''" href="{$v1['note_url']}" target="_blank">{$v1['note_txt']}</a>
                                    </div>
                                </div>
                            </div>
                            {if $iterator->nextValue['type'] != $v1['type']}
                        </div>
                            {/if}
                            {var $i = $v1['type']}
                        {/foreach}
                        {/if}
                    </section>
                </div>
                <!-- [END] 右側主內容-->
            </div>
        </div>
    </section>
</main>

{block js}
    <script src="js/investor-company-board.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}