{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-sh">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-shareholder.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c3_shareholders}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c3_shareholders}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="0">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview is-active" href="investor-shareholder.php" aria-hidden="true" tabindex="-1"><span class="text">{_c3_shareholders}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item is-active"><a class="unit-menu__link overview" href="investor-shareholder.php" draggable="false"><span class="text">{_c3_shareholders}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-meeting.php" draggable="false">{_c31_meeting}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-history.php" draggable="false">{_c32_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-major.php" draggable="false">{_c33_major}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabS as $k => $v"><a class="unit-menu__link" href="investor-shareholder-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="sec sec-sh-intro">
        <div class="grid-container">
            <p>{_d1_p1}<br>{_d1_p2}</p>
            <ul class="text-em">
                <li><a class="text-underline" href="https://mis.twse.com.tw/stock/fibest.jsp?stock=3443&amp;lang=en_us&amp;oddFlag=false " target="_blank" rel="noopener noreferrer" title="{_d1_a1_t}">{_d1_a1}</a></li>
                <li><a class="text-underline" href="https://mops.twse.com.tw/mops/web/t05st01 " target="_blank" rel="noopener noreferrer" title="{_d1_a2_t}">{_d1_a2}</a></li>
                <li><a class="text-underline" href="https://mops.twse.com.tw/mops/web/t05st01?step=1&amp;firstin=true&amp;year=110&amp;co_id=3443 " target="_blank" rel="noopener noreferrer" title="{_d1_a3_t}">{_d1_a3}</a></li>
            </ul>
        </div>
    </section>
    <section class="sec sec-sh-contact pt-0">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_d2_h2}</h2>
            </div>
            <div class="grid-x grid-margin-x small-up-1 medium-up-2">
                <!-- Common Share Transfer Agent-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_d3_h3}</span>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_d3_li1}
                            </li>
                            <li class="office-info__item">{_d3_li2}
                            </li>
                            <li class="office-info__item">{_d3_li3}<a class="js-tel-change" href="tel:+886-2-6636-5566">+886-2-6636-5566</a>
                            </li>
                            <li class="office-info__item">{_d3_li4}+886-2-2311-6723
                            </li>
                        </ul>
                    </div><a class="button button-global button-arrow" href="http://www.chinatrust.com.tw" target="_blank" rel="noopener noreferrer" title="China Trust Commercial Bank [Open with new window]"><span class="text">{_d3_a}</span></a>
                </div>
                <!-- GUC Investor Relations-->
                <div class="cell">
                    <div class="office-info">
                        <h3 class="office-info__title title-dark"><span class="text">{_d4_h3}</span>
                        </h3>
                        <ul class="office-info__list">
                            <li class="office-info__item">{_d4_li1}
                            </li>
                            <li class="office-info__item">{_d4_li2}
                            </li>
                            <li class="office-info__item">{_d4_li3}<a class="js-tel-change" href="tel:+886-3-564-6600">+886-3-564-6600</a>
                            </li>
                            <li class="office-info__item">{_d4_li4}<a class="text-underline" href="mailto:irinfo@guc-asic.com" title="Send mail to GUC Investor Relations">irinfo@guc-asic.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}