{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}
<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-fs">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c1_financials}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c13_annual}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c13_annual}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="3">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-financials.php" aria-hidden="true" tabindex="-1"><span class="text">{_c1_financials}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-financials.php" draggable="false"><span class="text">{_c1_financials}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-monthly.php" draggable="false">{_c11_monthly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-quarterly.php" draggable="false">{_c12_quarterly}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-financials-annual.php" draggable="false">{_c13_annual}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-history.php" draggable="false">{_c14_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-report.php" draggable="false">{_c15_report}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-calendar.php" draggable="false">{_c16_calendar}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabF as $k => $v"><a class="unit-menu__link" href="investor-financials-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Annual Content -->
    <section class="sec sec-fs-annual">
        <div class="grid-container fs-annual">
            <ul class="img-info-box em-first grid-x grid-margin-x small-up-2 medium-up-3">
                <!-- 圖片建議大小：360*450-->
                <!-- [START] Item-->
                <li class="img-info-box__item cell text-center" n:foreach="$list as $k => $v"><a class="img-info-box__link" href="../upload/inv_fin_annual/{$v['file']}" title="{$v['year']} Annual Report" target="_blank">
                        <div class="img-info-box__img-box box-lack-cornor">
                            <div class="box-lack-cornor__shadow show-for-hover"></div>
                            <div class="box-lack-cornor__cont">
                                <!-- 封面圖，同一張(1/2)--><img class="box-lack-cornor__img lazyload" src="images/1x1.gif" data-src="../upload/inv_fin_annual/{$v['img']}" alt="" width="360" height="450"/>
                                <div class="box-lack-cornor__inside">
                                    <div class="box-lack-cornor__hover-line">
                                        <svg class="svg-bg img-deco" width="254">
                                            <use xlink:href="#img-hover-bg"></use>
                                        </svg>
                                        <!-- 封面圖，同一張(2/2)-->
                                        <div class="img lazyload" data-src="../upload/inv_fin_annual/{$v['img']}"></div>
                                        <svg class="svg-line img-deco" width="254">
                                            <use xlink:href="#img-hover-line"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="img-info-box__title h3" aria-hidden="true">{$v['year']}</div>
                        <div class="show-for-sr">{$v['year']} Annual Report</div></a></li>
            </ul>
            <svg class="svg-def" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 254 220.385">
                <symbol id="img-hover-line" viewBox="0 0 254 220.385">
                    <g fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2">
                        <path d="M78.174 118.45L-.816 72.845M.028 62.633l78.146-45.118v-.032M78.174 219.385V17.515M78.174 118.45l87.413-50.468V0"></path>
                        <path d="M253 0v17.483l-87.413 50.468-87.413-50.468V0M-.816 173.78l78.99 45.605 87.413-50.467V67.982"></path>
                    </g>
                </symbol>
                <symbol id="img-hover-bg" viewBox="0 0 254 220.385">
                    <path d="M78.174 219.385L.028 174.267V73.332l78.146 45.118v100.935zM.028 62.617L78.174 17.5V0H.028zm78.146 55.8l87.413-50.468-87.413-50.466z" fill="#fff"></path>
                </symbol>
                <defs>
                    <clipPath id="img-hover-clip" clipPathUnits="objectBoundingBox">
                        <path d="M.356,1,0,.8V.334L.356.54ZM0,.285.356.079V0H0ZM.356.54l.4-.231L.356.08Z"></path>
                    </clipPath>
                </defs>
            </svg>
            <div class="fs-annual__final text-center">
                <h3 class="fs-annual-final__title title-dark text-uppercase">{_historical}</h3>
                <p>{_insert_code}</p>
                <!-- 公開觀測站連結
                英文： https://emops.twse.com.tw/server-java/t58query, title="MOPS [Open with new window]"
                繁中： https://mops.twse.com.tw/mops/web/t57sb01_q5, title="公開資訊觀測站 [另開新視窗]"
                簡中： https://mops.twse.com.tw/mops/web/t57sb01_q5, title="公开信息观测站 [另开新窗口]"
                --><a class="button button-global button-arrow" href="{_link}" title="{_link_title}" target="_blank" rel="noopener noreferrer"><span class="text">{_learn_more}</span></a>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}