{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-fs">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c1_financials}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c11_monthly}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c11_monthly}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-financials.php" aria-hidden="true" tabindex="-1"><span class="text">{_c1_financials}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-financials.php" draggable="false"><span class="text">{_c1_financials}</span></a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-financials-monthly.php" draggable="false">{_c11_monthly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-quarterly.php" draggable="false">{_c12_quarterly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-annual.php" draggable="false">{_c13_annual}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-history.php" draggable="false">{_c14_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-report.php" draggable="false">{_c15_report}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-calendar.php" draggable="false">{_c16_calendar}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabF as $k => $v"><a class="unit-menu__link" href="investor-financials-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Monthly Content-->
    <section class="sec sec-fs-monthly">
        <div class="grid-container fs-monthly">
            <div class="sec-bar">
                <div class="sec-bar__left-box">{_unit_nt}</div>
                <div class="sec-bar__right-box">
                    <div class="sec-bar__select-wrapper">
                        <select class="sec-bar__select" n:inner-foreach="$years as $k => $v" onchange="window.location.href='?year='+$(this).val()">
                            <option n:attr="value=>$v, selected=>($v==$_GET['year'])">{$v}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 表格資料-->
            <div class="fs-monthly__table-wrapper">
                <table class="fs-monthly__table table-collapse table-title-absolute">
                    <thead>
                    <tr>
                        <th class="month">{_month}</th>
                        <th class="net-revenue">{_net_revenue}</th>
                        <th class="yoy"><abbr title="Year-over-year">{_yoy_change}</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- [START] 各月份統計-->
                    <tr n:foreach="$list as $k => $v">
                        <td class="month" data-title="Month">{\enum\Month::get($v['month'])}</td>
                        <td class="net-revenue" data-title="Net Revenue">{$v['value']|number}</td>
                        <td class="yoy" data-title="YOY Change">{$v['yoy']}%</td>
                    </tr>

                    <!-- [END] 各月份統計-->
                    <!-- [START] 總計-->
                    <tr class="tfoot">
                        <td class="month" data-title="Month">Total</td>
                        <td class="net-revenue" data-title="Net Revenue">{$sumValue|number}</td>
                        <td class="yoy" data-title="YOY Change">{$sumYOY}%</td>
                    </tr>
                    <!-- [END] 總計-->
                    </tbody>
                </table>
            </div>
            <!-- 下載項目-->
            <div class="fs-monthly__download"><a class="text-icon primary-color" href="../upload/inv_fin_mon_value/{$file}" target="_blank">{_fileName}<i class="be-icon be-icon-download" aria-hidden="true"></i></a></div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}