{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-fs">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c1_financials}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c14_history}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c14_history}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="4">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-financials.php" aria-hidden="true" tabindex="-1"><span class="text">{_c1_financials}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-financials.php" draggable="false"><span class="text">{_c1_financials}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-monthly.php" draggable="false">{_c11_monthly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-quarterly.php" draggable="false">{_c12_quarterly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-annual.php" draggable="false">{_c13_annual}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-financials-history.php" draggable="false">{_c14_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-report.php" draggable="false">{_c15_report}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-calendar.php" draggable="false">{_c16_calendar}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabF as $k => $v"><a class="unit-menu__link" href="investor-financials-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- History - Current-->
    <section class="sec sec-fs-history-current">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_current}</h2>
            </div>
            <div class="file-list-group">
                <div class="file-list">
                    <h3 class="file-list__title">{_taiwan}</h3>
                    <ul class="file-list__list">
                        <li class="file-list__item"><a class="file-list__link" href="../upload/inv_fin_historical/{$f[1]['file']}" title="[open with new window]" target="_blank"><span class="file-list__item__desc">{$f[1]['title']}</span><span class="file-list__item__icon-box"><i n:class="'be-icon',($f[1]['ext']=='pdf')?'be-icon-pdf':'be-icon-download'" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- History - Year And Before-->
    <section class="sec sec-fs-history-before">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_before}</h2>
            </div>
            <div class="file-list-group">
                <!-- R.O.C. GAAP-->
                <div class="file-list">
                    <h3 class="file-list__title">{_roc}</h3>
                    <ul class="file-list__list">
                        <li class="file-list__item"><a class="file-list__link" href="../upload/inv_fin_historical/{$f[2]['file']}" title="[open with new window]" target="_blank"><span class="file-list__item__desc">{$f[2]['title']}</span><span class="file-list__item__icon-box"><i n:class="'be-icon',($f[2]['ext']=='pdf')?'be-icon-pdf':'be-icon-download'" aria-hidden="true"></i></span></a></li>
                    </ul>
                    <p class="text-tip">{_roc_tip}</p>
                </div>
                <!-- Major Differences-->
                <div class="file-list">
                    <h3 class="file-list__title">{_differences}</h3>
                    <ul class="file-list__list">
                        <li class="file-list__item"><a class="file-list__link" href="../upload/inv_fin_historical/{$f[3]['file']}" title="[open with new window]" target="_blank"><span class="file-list__item__desc">{$f[3]['title']}</span><span class="file-list__item__icon-box"><i n:class="'be-icon',($f[3]['ext']=='pdf')?'be-icon-pdf':'be-icon-download'" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}