{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-sh">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-shareholder.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c3_shareholders}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c32_history}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c32_history}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="2">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-shareholder.php" aria-hidden="true" tabindex="-1"><span class="text">{_c3_shareholders}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-shareholder.php" draggable="false"><span class="text">{_c3_shareholders}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-meeting.php" draggable="false">{_c31_meeting}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-shareholder-history.php" draggable="false">{_c32_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-major.php" draggable="false">{_c33_major}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabS as $k => $v"><a class="unit-menu__link" href="investor-shareholder-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Major Shareholders List-->
    <section class="sec sec-sh-history">
        <div class="grid-container sh-history">
            <h2 class="show-for-sr">Major Shareholders List</h2>
            <!-- 表格資料-->
            <div class="sh-history__table-wrapper js-scroll-detect" data-scroll-area="table-scroll-area" data-arrow="false">
                <div class="sh-history__table-scroll-area" id="table-scroll-area">
                    <table class="sh-history__table table-collapse table-em-first">
                        <thead>
                        <tr>
                            <th>{_th1}</th>
                            <th class="text-center" colspan="2">{_th2}</th>
                            <th>{_th3}</th>
                            <th>{_th4}</th>
                            <th>{_th5}</th>
                            <th>{_th6}</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{_td1}</td>
                            <td>{_td2}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr n:foreach="$list as $v">
                            <td class="year" data-title="{_th1}">{$v['year']}</td>
                            <td data-title="{_td1}">{if $v['stock']!=""}{$v['stock']} share{else}-{/if}</td>
                            <td data-title="{_td2}">{if $v['cash']!=""}NT${$v['cash']}{/if}</td>
                            <td data-title="{_th3}">{$v['dividend']|dateFormatTwYear}</td>
                            <td data-title="{_th4}">{$v['record']|dateFormatTwYear}</td>
                            <td data-title="{_th5}">{$v['distribution']|dateFormatTwYear}</td>
                            <td data-title="{_th6}">{$v['meeting']|dateFormatTwYear}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 最後更新日期-->
            <p class="text-tip">{_update}{$updateTime|dateForUpdate}</p>
        </div>
    </section>
</main>

{block js}
    <script src="js/investor-shareholder-history.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}