{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-com">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-company.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c2_corporate}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c22_committees}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c22_committees}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="2">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-company.php" aria-hidden="true" tabindex="-1"><span class="text">{_c2_corporate}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-company.php" draggable="false"><span class="text">{_c2_corporate}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-board.php" draggable="false">{_c21_board}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-company-committee.php" draggable="false">{_c22_committees}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-audit.php" draggable="false">{_c23_audit}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-cgo.php" draggable="false">{_c24_cgo}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-policy.php" draggable="false">{_c25_policy}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="policy.php#risk-management" draggable="false">{_c26_risk}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabC as $k => $v"><a class="unit-menu__link" href="investor-company-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Committee Content-->
    <section class="sec sec-com-committee">
        <h2 class="show-for-sr">Committee Introduction</h2>
        <div class="grid-container job-reason">
            <article class="article-cont" id="article-cont" n:inner-foreach="$list as $k => $v">
                <h3>{$v['title']}</h3>
                {$v['html']|noescape}
                {if !$iterator->last}<br><br>{/if}
{*                <p n:if="$v['url']!=''">{_url_txt1}<a class="text-underline" href="{$v['url']}">{_url_txt2}</a>{_url_txt3}</p><br><br>*}
            </article>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/article.min.js" defer></script>
    <script>
        (function() {
            // 因為此頁的上稿區域跟其它頁標題層級不同
            // 要用JS方式將每個標題的層級往上提一層
            function addHeadingClass() {
                var articleArea = document.querySelector('#article-cont');
                var heading = articleArea.querySelectorAll('h3, h4, h5, h6');
                [].forEach.call(heading, function(item) {
                    var addClass = 'h' + (parseInt(item.tagName.toUpperCase().slice(-1)) - 1);
                    console.log(addClass, item);
                    item.classList.add(addClass);
                });
            }
            window.addEventListener('load', addHeadingClass);
        })();
    </script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}