{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-sh">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-shareholder.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c3_shareholders}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c33_major}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c33_major}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="3">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-shareholder.php" aria-hidden="true" tabindex="-1"><span class="text">{_c3_shareholders}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-shareholder.php" draggable="false"><span class="text">{_c3_shareholders}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-meeting.php" draggable="false">{_c31_meeting}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-history.php" draggable="false">{_c32_history}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-shareholder-major.php" draggable="false">{_c33_major}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabS as $k => $v"><a class="unit-menu__link" href="investor-shareholder-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Major Shareholders List-->
    <section class="sec sec-sh-major">
        <div class="grid-container sh-major">
            <h2 class="show-for-sr">Major Shareholders List</h2>
            <!-- 表格資料-->
            <div class="sh-major__table-wrapper">
                <table class="sh-major__table table-collapse table-em-first">
                    <thead>
                    <tr>
                        <th class="num">{_th1}</th>
                        <th class="name">{_th2}</th>
                        <th class="shareholding">{_th3}</th>
                        <th class="ratio">{_th4}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr n:foreach="$list as $v">
                        <td class="num" data-title="{_th1}">{$v['number']}</td>
                        <td class="name" data-title="{_th2}">{$v['name']}</td>
                        <td class="shareholding" data-title="{_th3}">{if $v['shares']!=""}{$v['shares']|number}{/if}</td>
                        <td class="ratio" data-title="{_th4}">{if $v['ratio']!=""}{$v['ratio']}%{/if}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 最後更新日期-->
            <p class="text-tip">{_update}{$updateTime|dateForUpdate}</p>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}