{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-com">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-company.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-company.php"><span itemprop="name">{_c2_corporate}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c23_audit}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c23_audit}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="3">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-company.php" aria-hidden="true" tabindex="-1"><span class="text">{_c2_corporate}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-company.php" draggable="false"><span class="text">{_c2_corporate}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-board.php" draggable="false">{_c21_board}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-committee.php" draggable="false">{_c22_committees}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-company-audit.php" draggable="false">{_c23_audit}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-cgo.php" draggable="false">{_c24_cgo}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-company-policy.php" draggable="false">{_c25_policy}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="policy.php#risk-management" draggable="false">{_c26_risk}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabC as $k => $v"><a class="unit-menu__link" href="investor-company-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Internal Audit Content-->
    <section class="sec sec-com-audit">
        <div class="grid-container">
            <p>{_p1}</p>
            <p>{_p2}</p>
            <p>{_p3}</p>
            <p>{_p4}</p>
        </div>
    </section>
</main>


{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}