{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-sh">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-shareholder.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-shareholder.php"><span itemprop="name">{_c3_shareholders}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c31_meeting}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c31_meeting}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-shareholder.php" aria-hidden="true" tabindex="-1"><span class="text">{_c3_shareholders}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-shareholder.php" draggable="false"><span class="text">{_c3_shareholders}</span></a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-shareholder-meeting.php" draggable="false">{_c31_meeting}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-history.php" draggable="false">{_c32_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-shareholder-major.php" draggable="false">{_c33_major}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabS as $k => $v"><a class="unit-menu__link" href="investor-shareholder-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Quarterly Content-->
    <section class="sec sec-sh-meeting">
        <div class="grid-container sh-meeting">
            <div class="sec-bar">
                <div class="sec-bar__left-box"></div>
                <div class="sec-bar__right-box">
                    <div class="sec-bar__select-wrapper">
                        <select class="sec-bar__select" n:inner-foreach="$years as $k => $v" onchange="window.location.href='?year='+$(this).val()">
                            <option n:attr="value=>$v, selected=>($v==$year)">{$v}</option>
                        </select>
                    </div>
                </div>
            </div>
            <h2 class="show-for-sr">Quarterly Report Download</h2>
            <div class="file-list-group">
                <!-- 除PDF有特殊ICON，其餘檔案類型都使用下載ICON-->
                <div class="file-list">
                    <ul class="file-list__list">
                        <li class="file-list__item" n:foreach="$list as $k => $v"><a class="file-list__link" href="../upload/inv_sha_meeting/{$v['file']}" title="[open with new window]" target="_blank"><span class="file-list__item__desc">{$v['title']}</span><span class="file-list__item__icon-box"><i n:class="'be-icon',(lib\Tools::getFileExt($v['file'])=='pdf')?'be-icon-pdf':'be-icon-download'" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}