{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-fs">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c1_financials}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{$tab['title']}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{$tab['title']}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    {var $active = 6}
    {foreach $tabF as $k => $v}
        {if $v['url_id']==$_GET['k']}
            {var $active = 6 + $iterator->counter}
        {/if}
    {/foreach}
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="{$active}">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-financials.php" aria-hidden="true" tabindex="-1"><span class="text">{_c1_financials}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-financials.php" draggable="false"><span class="text">{_c1_financials}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-monthly.php" draggable="false">{_c11_monthly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-quarterly.php" draggable="false">{_c12_quarterly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-annual.php" draggable="false">{_c13_annual}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-history.php" draggable="false">{_c14_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-report.php" draggable="false">{_c15_report}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-calendar.php" draggable="false">{_c16_calendar}</a></li>
                        {foreach $tabF as $k => $v}
                        <li n:class="'unit-menu__item',($v['url_id']==$_GET['k'])?'is-active':''"><a class="unit-menu__link" href="investor-financials-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Overview-->
    <section class="sec sec-fs-overview">
        <div class="grid-container fs-overview">
            {$tab['html']|noescape}
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}