{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-fs">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c1_financials}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c1_financials}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="0">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview is-active" href="investor-financials.php" aria-hidden="true" tabindex="-1"><span class="text">{_c1_financials}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item is-active"><a class="unit-menu__link overview" href="investor-financials.php" draggable="false"><span class="text">{_c1_financials}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-monthly.php" draggable="false">{_c11_monthly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-quarterly.php" draggable="false">{_c12_quarterly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-annual.php" draggable="false">{_c13_annual}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-history.php" draggable="false">{_c14_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-report.php" draggable="false">{_c15_report}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-calendar.php" draggable="false">{_c16_calendar}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabF as $k => $v"><a class="unit-menu__link" href="investor-financials-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Overview-->
    <section class="sec sec-fs-overview">
        <div class="grid-container fs-overview">
            <h2 class="show-for-sr">{_overview}</h2>
            <div class="fs-overview__desc">
                {$c['html']|noescape}
            </div>
            <div class="grid-x align-center text-center">
                <div class="cell small-12 medium-10 large-8">
                    <div class="grid-x grid-margin-x small-up-1 medium-up-2">
                        <div class="cell fs-overview__item">
                            <h3 class="fs-overview__title">{_market_cap}</h3>
                            <div class="fs-overview__num">{$c['mc_count']}</div>
                            <div class="fs-overview__tip">{_mc_unit}{$c['mc_date']|date:'%m/%d/%Y'}{_mc_unit2}</div>
                        </div>
                        <div class="cell fs-overview__item">
                            <h3 class="fs-overview__title">{_shares_out}</h3>
                            <div class="fs-overview__num">{$c['so_count']|number}</div>
                            <div class="fs-overview__tip">{_so_common}{$c['so_date']|date:'%m/%d/%Y'}{_so_common2}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 圖表資料的 data-table
      data-type: 讀取資料的類型
      data-download: 下載的圖片基本名稱，實際檔名：data-download_最小的年份值-最大的年份值.png
      數字(.num)的欄位，數字不要加逗號(comma)
      -->
    <!-- Revenues-->
    <section class="sec sec-fs-chart">
        <div class="grid-container fs-chart">
            <h2 class="h3 fs-chart__title">{_revenues}</h2>
            <p class="fs-chart__desc">{_r_unit}</p>
            <div class="fs-chart__chart-area">
                <div class="fs-chart__chart" id="fs-chart-revenues" role="image" aria-label="Revenues Chart" data-download="GUC_Revenues_Chart">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th data-type="string">{_year}</th>
                            <th data-type="number">{_nt_million}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- [START] ↓圖表抓取資料-->
                        <tr n:foreach="$r as $k => $v">
                            <td class="year">{($v['quarterly']==0)?$v['year']:((\enum\Quarterly::get($v['quarterly'])).substr($v['year'], -2))}</td>
                            <td class="num">{$v['value']}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fs-chart__tool">
                    <button class="fs-chart__tool__ctrl-button button" type="button" data-toggle="chart-tool-1" title="Tool" aria-label="Tool"><i class="be-icon be-icon-dot-v" aria-hidden="true"></i></button>
                    <div class="dropdown-pane fs-chart__tool__dropdown" id="chart-tool-1" data-dropdown="" data-position="bottom" data-alignment="right">
                        <ul class="fs-chart__tool__list">
                            <li class="fs-chart__tool__item">
                                <!-- data-hide: 隱藏數字時的文字；data-show: 顯示數字時的文字-->
                                <button class="fs-chart__tool__item-button button js-chart-show-num" type="button" data-hide="Hide Number" data-show="Show Number">{_show_number}</button>
                            </li>
                            <li class="fs-chart__tool__item">
                                <button class="fs-chart__tool__item-button button js-chart-download-img" type="button">{_download_image}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Net Income-->
    <section class="sec sec-fs-chart">
        <div class="grid-container fs-chart">
            <h2 class="h3 fs-chart__title">{_net_income}</h2>
            <p class="fs-chart__desc">{_ni_unit}</p>
            <div class="fs-chart__chart-area">
                <div class="fs-chart__chart" id="fs-chart-net-income" role="image" aria-label="Net Income Chart" data-download="GUC_NetIncome_Chart">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th data-type="string">{_year}</th>
                            <th data-type="number">{_nt_thousand}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- [START] ↓圖表抓取資料-->
                        <tr n:foreach="$n as $k => $v">
                            <td class="year">{($v['quarterly']==0)?$v['year']:((\enum\Quarterly::get($v['quarterly'])).substr($v['year'], -2))}</td>
                            <td class="num">{$v['value']}</td>
                        </tr>
                        <!-- [END] ↑可刪除重複區塊-->
                        <!-- [END] ↑圖表抓取資料-->
                        </tbody>
                    </table>
                </div>
                <div class="fs-chart__tool">
                    <button class="fs-chart__tool__ctrl-button button" type="button" data-toggle="chart-tool-2" title="Tool" aria-label="Tool"><i class="be-icon be-icon-dot-v" aria-hidden="true"></i></button>
                    <div class="dropdown-pane fs-chart__tool__dropdown" id="chart-tool-2" data-dropdown="" data-position="bottom" data-alignment="right">
                        <ul class="fs-chart__tool__list">
                            <li class="fs-chart__tool__item">
                                <!-- data-hide: 隱藏數字時的文字；data-show: 顯示數字時的文字-->
                                <button class="fs-chart__tool__item-button button js-chart-show-num" type="button" data-hide="Hide Number" data-show="Show Number">{_show_number}</button>
                            </li>
                            <li class="fs-chart__tool__item">
                                <button class="fs-chart__tool__item-button button js-chart-download-img" type="button">{_download_image}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
<script src="https://www.gstatic.com/charts/loader.js" async></script>
<script src="js/investor-financials.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}