{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/investor.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-inv-fs">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c_investors}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="investor-financials.php"><span itemprop="name">{_c1_financials}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_c16_calendar}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_c16_calendar}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="6">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="investor-financials.php" aria-hidden="true" tabindex="-1"><span class="text">{_c1_financials}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="investor-financials.php" draggable="false"><span class="text">{_c1_financials}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-monthly.php" draggable="false">{_c11_monthly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-quarterly.php" draggable="false">{_c12_quarterly}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-annual.php" draggable="false">{_c13_annual}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-history.php" draggable="false">{_c14_history}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="investor-financials-report.php" draggable="false">{_c15_report}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="investor-financials-calendar.php" draggable="false">{_c16_calendar}</a></li>
                        <li class="unit-menu__item" n:foreach="$tabF as $k => $v"><a class="unit-menu__link" href="investor-financials-tab.php?k={$v['url_id']}" draggable="false">{$v['title']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Calandar Content-->
    <section class="sec sec-fs-calandar">
        <div class="grid-container fs-calandar">
            <!-- 表格資料-->
            <div class="fs-calandar__table-wrapper">
                <table class="fs-calandar__table table-collapse table-title-absolute">
                    <thead>
                    <tr>
                        <th class="date"><span class="h3">{_date}</span></th>
                        <th class="event"><span class="h3">{_event}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- [START] Item-->
                    <tr n:foreach="$list as $k => $v">
                        <td class="date" data-title="Date">{$v['date']|dateTimeFormatByLang}</td>
                        <td class="event" data-title="Event">{$v['event']}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 提醒-->
            <p class="text-tip">{_tip}</p>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('investors');
        });

    </script>
{/block}