{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/search-n-other.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-faq">
        <div class="page-banner__bg lazyload" data-src="images/other/banner-legal.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_ft_legal}</span>
                            <meta itemprop="position" content="2"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_ft_legal}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Legal Statement Content-->
    <section class="sec sec-legal">
        <div class="grid-container">
            <h2 class="show-for-sr">{_h2}</h2>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d_h3}</h3>
                <p>{_d_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d2_h3}</h3>
                <p>{_d2_p}</p>
                <div><img class="pointer-events-auto" src="images/guc_logo.svg" alt="GUC Trademark" title="guc_logo.svg" width="470" height="117"></div><br>
                <p>{_d2_p2}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d3_h3}</h3>
                <p>{_d3_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d4_h3}</h3>
                <p>{_d4_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d5_h3}</h3>
                <p>{_d5_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_d6_h3}</h3>
                <p>{_d6_p}</p>
            </div>
        </div>
    </section>
</main>

{block js}

{/block}