{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/news.min.css">
{/block}
<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-news">
        <div class="page-banner__bg lazyload" data-src="images/news/banner-news.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="news.php"><span itemprop="name">{_d_press}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="news.php"><span itemprop="name">{_d2_spotlight}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{$data['title']}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_d2_spotlight}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont">
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link" href="news.php" draggable="false">{_d1_news}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="news-spotlight.php" draggable="false">{_d2_spotlight}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="event.php" draggable="false">{_d3_events}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="sec sec-article sec-news-cont">
        <div class="grid-container news-cont">
            <div class="sec-bar">
                <div class="sec-bar__left-box"><a class="text-arrow reverse button-back" href="javascript:window.history.go(-1);">Back</a>
                </div>
                <div class="sec-bar__right-box">
                    <!-- 分享-->
                    <ul class="share-list">
                        <!-- Copy Link: 屬性 data-success 成功後顯示的文字-->
                        <li class="share-list__item"><a class="share-list__link hide js-navigator-share" href="javascript:;" title="Share" aria-label="Share" role="button"><i class="be-icon be-icon-share" aria-hidden="true"></i></a></li>
                        <li class="share-list__item"><a class="share-list__link js-copy-link" href="javascript:;" title="Copy Link" aria-label="Copy Link" role="button" data-success="Copied!"><i class="be-icon be-icon-link" aria-hidden="true"></i></a></li>
                        <li class="share-list__item" n:syntax="off"><a class="share-list__link sharer" href="http://www.facebook.com/share.php?u={articleUrl}" title="Share with Facebook" aria-label="Share with Facebook" role="button" data-windowname="Share with Facebook" data-settings="menubar=no,toolbar=no,resizable=no,scrollbars=yes,height=700,width=550"><i class="be-icon be-icon-fb" aria-hidden="true"></i></a></li>
                        <li class="share-list__item" n:syntax="off"><a class="share-list__link sharer" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={articleUrl}&amp;title={articleTitle}&amp;source=GUC" title="Share with Linkedin" aria-label="Share with Linkedin" role="button" data-windowname="Share with Linkedin" data-settings="menubar=no,toolbar=no,resizable=no,scrollbars=yes,height=700,width=550"><i class="be-icon be-icon-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- 文章-->
            <article class="article-block">
                <!-- 標題-->
                <h2 class="article-block__title" id="article-title">{$data['title']}</h2>
                <!-- 日期：屬性 datetime JS 寫法（其餘程式語言要自行查詢）: new Date().toISOString().replace(/Z/, '+08:00')-->
                <time class="article-block__date" datetime="{$data['start_date']}" title="{$data['start_date']}">{$data['start_date']|dateBetween:$data['start_date']}</time>
                <!-- 內容-->
                <div class="article-block__cont article-cont" id="article-container">
                    {$data['html']|noescape}
                </div>
                <!-- Values-->
                <div class="article-block__bottom news-value" n:if="enum\NewsType::isVisible($data['type'])">
                    <h4 class="news-value__title title-dark">{_guc_value}</h4>
                    <ul class="news-value__list" n:inner-foreach="enum\NewsType::get() as $k => $v">
                        <li n:if="enum\NewsType::isVisible($k)" n:class="'news-value__item',($data['type']==$k)?'is-active'">{$v}</li>
                    </ul>
                </div>
            </article>
            <!-- 上下一篇-->
            <div class="news-ctrl">
                <div class="news-ctrl__item" n:if="$next">
                    <h3 class="news-ctrl__title h3 title-bar no-skew">{_next}</h3><a class="news-ctrl__link text-underline" href="news-spotlight-cont.php?k={$next['url_id']}">{$next['title']}</a>
                </div>
                <div class="news-ctrl__item" n:if="$prev">
                    <h3 class="news-ctrl__title h3 title-bar no-skew">{_prev}</h3><a class="news-ctrl__link text-underline" href="news-spotlight-cont.php?k={$prev['url_id']}">{$prev['title']}</a>
                </div>
            </div>
            <!-- Most Popular-->
            <div class="news-popular">
                <h3 class="news-popular__title h3 title-bar no-skew">{_popular}</h3>
                <ul class="news-popular__list grid-x grid-margin-x small-1 large-up-3">
                    <!-- 最多 3 篇-->
                    <!-- Item Start-->
                    <li class="news-popular__item cell" n:foreach="$list as $k => $v"><a class="news-popular__link lazyload lazyload-css" href="{$v['page']}-cont.php?k={$v['url_id']}" title="{$v['title']}">
                            <div class="news-popular__text-box">
                                <h4 class="news-popular__news-title clamp-4">{$v['title']}</h4>
                            </div></a><span class="news-popular__shadow"></span></li>
                    <!-- Item End-->
                </ul>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/clipboard.min.js" async></script>
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/news.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('news');
        });

    </script>
{/block}