{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/about.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-about">
        <div class="page-banner__bg lazyload" data-src="images/about/banner-about.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="about.php"><span itemprop="name">{_g_about}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_g4_policy}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_g4_policy}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Policy Intro-->
    <section class="sec sec-policy-intro">
        <div class="grid-container">
            <div class="sec-title">
                <h2 class="sec-title__title normal">{_env_title}</h2>
            </div>
            <div class="sec-block">
                <p>{_env_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_env_h3}</h3>
                <ul>
                    <li>{_env_li1}</li>
                    <li>{_env_li2}</li>
                    <li>{_env_li3}</li>
                    <li>{_env_li4}</li>
                    <li>{_env_li5}</li>
                    <li>{_env_li6}</li>
                    <li>{_env_li7}</li>
                </ul><a class="text-icon primary-color text-underline" href="download/GUC_ISO_45001.pdf" target="_blank">{_env_file}<i class="be-icon be-icon-pdf" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
    <!-- Quality Policy-->
    <section class="sec sec-policy-quality pt-0">
        <div class="grid-container">
            <div class="sec-title">
                <h2 class="sec-title__title normal">{_quality_title}</h2>
            </div>
            <div class="sec-block">
                <p>{_quality_p}</p>
                <ul class="no-bullet">
                    <li><a class="text-icon primary-color text-underline" href="download/ISO 9001.pdf" target="_blank">{_quality_li1}<i class="be-icon be-icon-pdf" aria-hidden="true"></i></a></li>
                    <li><a class="text-icon primary-color text-underline" href="download/QC 080000.pdf" target="_blank">{_quality_li2}<i class="be-icon be-icon-pdf" aria-hidden="true"></i></a></li>
                    <li><a class="text-icon primary-color text-underline" href="download/ISO 13485.pdf" target="_blank">{_quality_li3}<i class="be-icon be-icon-pdf" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Risk Management-->
    <section class="sec sec-bg sec-policy-risk" id="risk-management">
        <div class="bg-box bg-ft bg-overflow-hidden bg-color bg-blue-wire">
            <div class="bg-box__bg lazyload lazyload-css"></div>
        </div>
        <div class="grid-container policy-risk">
            <div class="sec-title">
                <h2 class="sec-title__title normal">{_risk_title}</h2>
            </div>
            <div class="sec-block">
                <p>{_risk_p1}</p>
                <p>{_risk_p2}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_risk_h3}</h3>
                <ul>
                    <li>{_risk_li1}</li>
                    <li>{_risk_li2}</li>
                    <li>{_risk_li3}</li>
                    <li>{_risk_li4}</li>
                    <li>{_risk_li5}</li>
                    <li>{_risk_li6}</li>
                </ul>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_operation_h3}</h3>
                <p>{_operation_p}</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">{_imp_h3}</h3>
                <ol>
                    <li>{_imp_li1}</li>
                    <li>{_imp_li2}</li>
                    <li>{_imp_li3}</li>
                </ol>
            </div>
            <div class="sec-block">
                <!-- 內頁連結區-->
                <div class="button-group">
                    <!-- [START] Item-->
                    <div class="button-group__item" n:foreach="$list as $k => $v"><a class="button button-global button-arrow" href="policy-cont.php?k={$v['url_id']}"><span class="text">{$v['title']}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('about');
        });

    </script>
{/block}