{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/about.min.css">
{/block}
<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-about">
        <div class="page-banner__bg lazyload" data-src="images/investor/banner-financials.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="about.php"><span itemprop="name">{_g_about}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="policy.php"><span itemprop="name">{_g4_policy}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{$p['title']}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{$p['title']}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Policy Article Content-->
    <section class="sec sec-policy-ip">
        <div class="grid-container">
            <div class="sec-bar">
                <div class="sec-bar__left-box"><a class="text-arrow reverse button-back" href="javascript:window.history.go(-1);">Back</a>
                </div>
            </div>
            <article class="article-cont" id="article-cont">
                {$p['html']|noescape}
            </article>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('about');
        });

    </script>
{/block}