{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/search-n-other.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-policy">
        <div class="page-banner__bg lazyload" data-src="images/other/banner-policy.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_ft_privacy}</span>
                            <meta itemprop="position" content="2"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_ft_privacy}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Privacy Policy Content-->
    <section class="sec sec-privacy">
        <div class="grid-container">
            {model\PrivacyDao::getFirst()['html']|noescape}
        </div>
    </section>
</main>

{block js}

{/block}