{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/search-n-other.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-search">
        <div class="page-banner__bg lazyload" data-src="images/other/banner-search.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/{\lib\Router::getLang()}/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_search_result}</span>
                            <meta itemprop="position" content="2"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <!-- Search Input-->
                    <form class="search-input" action="">
                        <div class="hd-search__input-group">
                            <button class="hd-search__button-submit" type="submit" title="Submit"><i class="be-icon be-icon-search" role="img" aria-label="Submit"></i></button>
                            <input class="hd-search__input" type="text" id="search-inside" name="q" aria-label="Search" placeholder="{_h_search_txt}" autocomplete="off" value="{$_GET['q']}" required>
                            <button class="hd-search__clean" type="reset" title="Clean"><i class="be-icon be-icon-close" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Result-->
    <section class="sec sec-search" n:if="lib\Router::getLang()!='cn'">
        <div class="grid-container search-result">
            <h2 class="show-for-sr">{_search_result}</h2>
            <!-- [START] Google Search-->
            <!-- 串接時請自行填寫cx-->
          <script async="" src="https://cse.google.com/cse.js?cx={\lib\Config::getSearchCode(\lib\Router::getLang())}"></script>
          <div class="gcse-searchresults-only"></div>
            <!-- Google Search Style-->
            <style type="text/css">
                .gsc-control-cse {
                    background: 0 0;
                    padding: 0;
                    border: 0 none;
                }
                .gsc-control-cse table, .gsc-search-box table {
                    margin-bottom: 0;
                }
                .gsc-control-cse tr, .gsc-search-box tr {
                    border-bottom: 0 none !important;
                    background: 0 0;
                }
                .gsc-control-cse tr:hover, .gsc-search-box tr:hover {
                    background: 0 0;
                }
                .gsc-control-cse td, .gsc-control-cse th, .gsc-search-box td, .gsc-search-box th {
                    padding: 10px 0;
                }
                .gsc-input {
                    margin-bottom: 0;
                }
                table.gsc-input td {
                    padding: 10px;
                }
                .gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
                    font-size: 20px;
                }
                .gsc-control-cse, .gsc-control-cse .gsc-table-result {
                    font-size: inherit;
                }
                .gsc-control-cse a:hover {
                    text-decoration: underline;
                }
                .gsc-result-info {
                    padding-left: 0;
                }
                .gsc-webResult.gsc-result {
                    border: 0 none;
                }
                .gsc-adBlock {
                    border: 0 none;
                }
            </style>
            <!-- [END] Google Search-->
        </div>
    </section>

    <section class="sec sec-search" n:if="lib\Router::getLang()=='cn'">
        <div class="grid-container search-result">
            <h2 class="show-for-sr">Search Result</h2>
            <!-- [START] Google Search v2 - 串接API-->
            <div class="result-block" id="search-block">
                <div class="result-block__hd">
                    <div class="result-block__hd__l">
                        <!-- 搜尋時間、結果數量--><small class="text-tip">About {$total|number} results ({$searchTime} seconds)</small>
                    </div>
                    <div class="result-block__hd__r">
                        <!-- 排列順序-->
{*                        <div class="result-block__sort"><span class="result-block__sort__title">Sort by:</span>*}
{*                            <select class="result-block__sort__select" name="search-sort">*}
{*                                <option value="Relevance">Relevance</option>*}
{*                                <option value="Date">Date</option>*}
{*                            </select>*}
{*                        </div>*}
                    </div>
                </div>
                <div class="result-block__body">
                    <!-- 搜尋結果內容-->
                    <ul class="result-list">
                        <li class="result-list__item" n:foreach="$list as $v"><a class="result-list__title" href="{$v['link']}" target="_blank">{$v['htmlTitle']|noescape}</a>
{*                            <div class="result-list__breadcrumb">*}
{*                                <!-- 麵包屑（網址），第二個以上，前面需要有「 › 」符號--><span>www.guc-asic.com</span><span> › zh-tw</span><span> › about</span>*}
{*                            </div>*}
                            <div class="result-list__desc-box">
                                <!-- 圖片，沒有不要生成-->
                                <div class="result-list__img-box" n:if="isset($v['pagemap']['cse_thumbnail'][0]['src'])"><a class="result-list__img-link" href="{$v['link']}" target="_blank"><img class="result-list__img" src="{$v['pagemap']['cse_thumbnail'][0]['src']}" alt="Thumbnail image"/></a></div>
                                <div class="result-list__desc">{$v['htmlSnippet']|noescape}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="result-block__ft">
                    <!-- [START] 頁碼-->
                    <nav class="result-block__page" aria-label="Pagination">
                        <ul class="pagination text-center">
                            <li n:class="'pagination-previous',($page==1)?'disabled':''"><a n:tag-if="$page>1" href="search.php?page={($page-1)}&q={$_GET['q']}" aria-label="Previous page"><span class="text">Previous</span></a></li>
                            {var $range = 2}
                            {for $i=1;$i<=$totalPage;$i++}
                                {if $page == $i}
                                <li class="current"><span class="show-for-sr">You're on page</span> {$i}</li>
                                {elseif ($page!=$i) && ($i<=2 || $i >= ($totalPage-1) || ($i >= ($page - $range) && $i <= ($page + $range) ))}
                                <li><a href="search.php?page={$i}&q={$_GET['q']}" aria-label="Page {$i}">{$i}</a></li>
                                {elseif ($i == 3 && ($page - $range) > 3 ) || ($i == ($totalPage - 2) && ($page + $range) < ($totalPage - 2))}
                                <li class="ellipsis"></li>
                                {/if}
                            {/for}
{*                            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>*}
{*                            <!-- 其餘-->*}
{*                            <li><a href="javascript:;" aria-label="Page 2">2</a></li>*}
{*                            <li><a href="javascript:;" aria-label="Page 3">3</a></li>*}
{*                            <li><a href="javascript:;" aria-label="Page 4">4</a></li>*}
{*                            <!-- 點點點-->*}
{*                            <li class="ellipsis"></li>*}
{*                            <!-- 最後兩頁-->*}
{*                            <li><a href="javascript:;" aria-label="Page 12">12</a></li>*}
{*                            <li><a href="javascript:;" aria-label="Page 13">13</a></li>*}
                            <li n:class="'pagination-next',($page>=$totalPage)?'disabled':''"><a n:tag-if="$page<$totalPage" href="search.php?page={($page+1)}&q={$_GET['q']}" aria-label="Next page"><span class="text">Next</span></a></li>
                        </ul>
                    </nav>
                    <!-- [END] 頁碼-->
                    <div class="result-block__ft__row">
                        <div class="result-block__ft__l">
                            <!-- 要更換「搜尋關鍵字」--><a class="result-block__link-google" href="https://www.google.com/search?client=ms-google-coop&amp;q={$_GET['q']}&amp;cx={\lib\Config::GOOGLE_SEARCH_CN}"><i class="be-icon be-icon-search" aria-hidden="true"></i>Search for <b>{$_GET['q']}</b> on Google</a>
                        </div>
                        <div class="result-block__ft__r"><a class="gcsc-branding-clickable" href="https://cse.google.com/?ref=b&amp;hl=en" target="_BLANK"><img class="gcsc-branding-img-noclear" src="https://www.google.com/cse/static/images/1x/en/branding.png" srcset="https://www.google.com/cse/static/images/2x/en/branding.png 2x" alt="enhanced by Google"></a></div>
                    </div>
                </div>
            </div>
            <!-- [END] Google Search v2 - 串接API-->
        </div>
    </section>
</main>

{block js}

{/block}