{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-pd">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-pd.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b21_production}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b23_test}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b23_test}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="2">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-pd.php" aria-hidden="true" tabindex="-1"><span class="text">{_b21_production}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-pd.php" draggable="false"><span class="text">{_b21_production}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-advanced.php" draggable="false">{_b22_advanced}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-pd-test.php" draggable="false">{_b23_test}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-engineering.php" draggable="false">{_b24_engineering}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-quality.php" draggable="false">{_b25_quality}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-supply-chain.php" draggable="false">{_b26_supply}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Test Service Content-->
    <section class="sec sec-pd-test">
        <div class="grid-container pd-test">
            <div class="sec-block margin-large">
                <p>The service includes product wafer-level circuit probing (CP) and package-level final test (FT) program development, testing hardware design, manufacturing and production test management. GUC is well experienced in different application products and IPs test, from DDR, MIPI, PCIe, USB to high-speed SerDes, CoWoS HBM, etc.</p>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">High-power, High-speed Interface Test Solutions</h2>
                </div>
                <p>With the increasing advanced technology AI and HPC product designs, the test is getting more and more complicated and challenging with the higher chip power consumption and high-speed interfaces. In order to shorten new products time-to-market, GUC has installed high-end testers, Advantest PS1600 and Teradyne UltraFlex, to support timely test development and engineering analysis. Besides, GUC also works very closely with tester and hardware vendors for the optimized test solutions to meet product test specifications.</p>
            </div>
            <div class="sec-block margin-large pd-test-chart">
                <h3 class="sec-block__title title-dark">GUC High-power, High-speed products</h3>
                <div class="pd-test-chart__chart chart-box" id="pd-test-chart">
                    <div class="data-table"></div>
                </div>
                <ul class="solu-list">
                    <li>High-power test, besides taking ATC (Active Thermal Control) hardware design for device under test temperature control, GUC has also standardized test development methodology to protect chip and hardware.</li>
                    <li>High-speed interface, GUC has the complete load board design, layout, simulation and verification methodology to ensure product test specification can be met with high test coverage.</li>
                </ul>
            </div>
            <div class="sec-block margin-large pd-test-high-speed">
                <h3 class="sec-block__title title-dark">High-speed Interface Test Solution</h3><br><br>
                <div class="img-box pd-test-high-speed__img-box-1"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-test_high-speed.jpg" alt="Tester Low-speed waveform" data-group="high-speed"></div>
                <div class="grid-x grid-margin-x">
                    <div class="img-box cell medium-shrink text-center pd-test-high-speed__img-box-2">
                        <div class="text-center">
                            <h3 class="sec-block__title title-dark">SerDes 56Gbps PAM4</h3>
                        </div>
                        <img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-test_serdes_chart.jpg" alt="SerDes 56Gbps PAM4 Chart" data-group="high-speed">
                    </div>
                    <div class="img-box cell medium-auto pd-test-high-speed__img-box-3">
                        <div class="heading-space h3"></div>
                        <img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-test_serdes_data-table.jpg" alt="SerDes 56Gbps PAM4 Data Table" data-group="high-speed">
                    </div>
                </div>
            </div>
            <div class="sec-block margin-large">
                <p>These complete proven test methodologies enable the program development first-cut success with short cycle time and shorten the product time-to-market.</p>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script src="https://www.gstatic.com/charts/loader.js" async></script>
    <script src="js/solution-pd-test.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}