{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-asic">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-asic.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b11_asic}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b13_chip}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b13_chip}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="2">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-asic.php" aria-hidden="true" tabindex="-1"><span class="text">{_b11_asic}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-asic.php" draggable="false"><span class="text">{_b11_asic}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-soc.php" draggable="false">{_b12_soc}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-asic-chip.php" draggable="false">{_b13_chip}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-low-power.php" draggable="false">{_b14_low}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-design.php" draggable="false">{_b15_design}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-flagship.php" draggable="false">{_b16_flagship}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-success.php" draggable="false">{_b17_success}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Comprehensive Solution-->
    <section class="sec sec-asic-chip">
        <div class="grid-container asic-chip">
            <div class="sec-block margin-large">
                <p>GUC integrates commercial EDA and in-house solution to make sure design quality and efficiency</p>
                <ul class="solu-list">
                    <li>Code purification and coverage analysis</li>
                    <li>Topographic Synthesis</li>
                    <li>DFT integration platform to support HPC multi-core design</li>
                    <li>Low power and IR prevent DFT</li>
                    <li>IP integration/IP quality checking methodology</li>
                    <li>Multi-level hierarchical design and implementation methodology for HPC multi-billion gate design</li>
                    <li>Hierarchical timing signoff for HPC multi-billion gate design</li>
                    <li>PowerMagic® low power methodology</li>
                    <li>High-speed IP testing methodology</li>
                    <li>2.5D Interposer methodology with CoWoS and Die to Die methodology</li>
                    <li>One Pass Implementation platform</li>
                    <li>Dynamic IR, SI and timing aware implementation</li>
                    <li>OCV (On Chip Variation) analysis and prevention methodology</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Comprehensive Solution</h2>
                </div>
                <div class="img-box text-center"><img class="asic-chip-img-solution lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-chip_comprehensive-solution.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- Efficient Chip Implementation Platform-->
    <section class="sec sec-asic-chip pt-0">
        <div class="grid-container asic-chip">
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Efficient Chip Implementation Platform</h2>
                </div>
                <div class="img-box text-center"><img class="asic-chip-img-efficient lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-chip_efficient-chip.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}