{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-asic">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-asic.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b11_asic}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b17_success}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b17_success}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="6">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-asic.php" aria-hidden="true" tabindex="-1"><span class="text">{_b11_asic}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-asic.php" draggable="false"><span class="text">{_b11_asic}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-soc.php" draggable="false">{_b12_soc}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-chip.php" draggable="false">{_b13_chip}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-low-power.php" draggable="false">{_b14_low}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-design.php" draggable="false">{_b15_design}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-flagship.php" draggable="false">{_b16_flagship}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-asic-success.php" draggable="false">{_b17_success}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Tape-out Record-->
    <section class="sec sec-asic-suc-record">
        <div class="grid-container asic-suc-record">
            <div class="sec-block margin-large">
                <ul class="hash-list">
                    <li>NTO (New Tape-Out) number from 2016 ~ 2022H1: 200+</li>
                    <li>of 3nm ~ 16nm NTO: 120+</li>
                    <li>of 3nm ~ 16nm on-going projects: 10+</li>
                    <li>of projects w/ 100M+ gates: 35+</li>
                    <li>of projects w/ 1B+ (>250 W) gates TPO: 7+</li>
                </ul>
            </div>
            <div class="sec-block asic-suc-chart">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Tape-out Record:<br>250+ project tape-out from 2016 to 2022H1</h2>
                </div>
                <div class="asic-suc-chart__chart chart-box" id="asic-suc-chart" role="image" aria-label="Tape-out Record :  250+ project tape-out from 2016 to 2022H1">
                    <div class="data-table"></div>
                </div>
            </div>
        </div>
    </section>
</main>

{block js}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/solution-asic-success.min.js"></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}