{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-ip">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-ip.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b31_ip}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b31_ip}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="0">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview is-active" href="solution-ip.php" aria-hidden="true" tabindex="-1"><span class="text">{_b31_ip}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item is-active"><a class="unit-menu__link overview" href="solution-ip.php" draggable="false"><span class="text">{_b31_ip}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-hbm.php" draggable="false">{_b32_hbm}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-d2d.php" draggable="false">{_b33_d2d}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-serdes.php" draggable="false">{_b34_serdes}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-mixed-single.php" draggable="false">{_b35_afe}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-embed.php" draggable="false">{_b36_foundation}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {include 'layout/solution-overview.html', imgSuffix => '_ip'}

    <!-- [START] Solution Overview 其餘內容-->
    <!-- GUC Comprehensive IP Solution-->
    <section class="sec sec-ip-intro">
        <div class="grid-container ip-intro">
            <div class="sec-block margin-large">
                <p>{_d1_p}</p>
                <p>{_d1_p2}</p>
                <p>{_d1_p3}</p>
            </div>
            <div class="sec-block">
                <div class="sec-title border">
                    <h2 class="sec-title__title">{_d2_h2}</h2>
                </div>
                <!-- [START] 表格-->
                <div class="ip-tb-wrapper js-scroll-detect" data-scroll-area="table-scroll-area" data-arrow="false">
                    <div class="ip-tb-scroll-area" id="table-scroll-area">
                        <div class="ip-tb" role="table" aria-label="Comprehensive IP Solution">
                            <div class="ip-tb__head-group" role="rowgroup">
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="columnheader">IP</div>
                                    <div class="ip-tb__cell" role="columnheader">N3E</div>
                                    <div class="ip-tb__cell" role="columnheader">N5</div>
                                    <div class="ip-tb__cell" role="columnheader">N7/N6</div>
                                    <div class="ip-tb__cell" role="columnheader">N16/12</div>
                                </div>
                            </div>
                            <div class="ip-tb__body-group" role="rowgroup">
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__label">CoWoS</span><span class="ip-tb__title-text">HBM3 PHY + Controller</span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__label">CoWoS</span><span class="ip-tb__title-text">HBM2(E) PHY + Controller</span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__label">CoWoS/InFO</span><span class="ip-tb__title-text has-small">GLink-2.5D<small>(Die-to-die)</small></span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__title-text has-small">GLink-3D<small>(Die-on-die)</small></span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__title-text">32G/28G SerDes PHY</span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__title-text">16G SerDes PHY</span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__title-text">TCAM</span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                </div>
                                <div class="ip-tb__row" role="row">
                                    <div class="ip-tb__cell" role="rowheader"><span class="ip-tb__title-text">Gsps AFE</span>
                                    </div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-none" title="None">None</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                    <div class="ip-tb__cell" role="cell"><span class="sign sign-check" title="Ready">Ready</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [END] 表格-->
                <p>GLink: GUC multi-die interLink</p>
                <!-- 表格備註-->
                <!-- <ul class="ip-td-note">
                    <li class="ip-td-note__item"><span class="ip-td-note__title">{_d2_li_note}</span><span class="ip-td-note__cont"><span class="sign sign-tri" title="{_d2_li_s}">{_d2_li_s}</span>{_d2_li_s2}</span></li>
                    <li class="ip-td-note__item"><span class="ip-td-note__title">{_d2_li_note}</span><span class="ip-td-note__cont"><span class="sign sign-date" title="{_d2_li2_s}">{_d2_li2_s}</span>{_d2_li2_s2}</span></li>
                    <li class="ip-td-note__item"><span class="ip-td-note__title">{_d2_li_note}</span><span class="ip-td-note__cont"><span class="sign sign-circle" title="{_d2_li3_s}">{_d2_li3_s}</span>{_d2_li3_s2}</span></li>
                </ul> -->
            </div>
        </div>
    </section>
    <!-- Featured Partners-->
    <section class="sec sec-ip-intro">
        <div class="grid-container ip-intro">
            <div class="sec-block">
                <div class="sec-title border">
                    <h2 class="sec-title__title">{_d3_h2}</h2>
                </div>
                <ul class="partner-list grid-x grid-margin-x small-up-3 medium-up-4 large-up-6">
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://awaveip.com/" title="Alphawave" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_01.png" alt="Alphawave"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.analogbits.com/" title="Analog Bits" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_02.png" alt="Analog Bits"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="http://www.aragio.com/" title="Aragio" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_03.png" alt="Aragio"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.arasan.com/" title="Arasan" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_04.png" alt="Arasan"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.arm.com/" title="ARM" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_05.png" alt="ARM"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.arteris.com/" title="Arteris" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_06.png" alt="Arteris"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.cadence.com/en_US/home.html" title="Cadence" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_07.png" alt="Cadence"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.cast-inc.com/" title="CAST" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_08.png" alt="CAST"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.ceva-dsp.com/" title="Ceva" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_09.png" alt="Ceva"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.chipsnmedia.com/" title="Chips &amp; Media" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_10.png" alt="Chips &amp; Media"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.comcores.com/" title="Comcores" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_11.png" alt="Comcores"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.credosemi.com/" title="Credo" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_12.png" alt="Credo"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.dolphin-design.fr/" title="Dolphin Integration" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_13.png" alt="Dolphin Integration"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.ememory.com.tw/" title="eMemory" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_14.png" alt="eMemory"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.imaginationtech.com/" title="Imagination" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_15.png" alt="Imagination"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.ltts.com/ " title="L&amp;T Technology Services (L&amp;T)" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_16.png" alt="L&amp;T Technology Services (L&amp;T)"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.m31tech.com/" title="M31" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_17.png" alt="M31"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="http://www.nscore.com/" title="NSCore" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_18.png" alt="NSCore"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.omnidesigntech.com/" title="Omni Design" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_19.png" alt="Omni Design"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.plda.com/" title="PLDA" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_20.png" alt="PLDA"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.proteantecs.com/" title="proteanTecs" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_21.png" alt="proteanTecs"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.pufsecurity.com/" title="PUFSecurity" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_22.png" alt="PUFSecurity"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.siliconcr.com/" title="Silicon Creations" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_23.png" alt="Silicon Creations"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="http://www.silicongate.com/" title="Silicongate " target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_24.png" alt="Silicongate "/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.synopsys.com/" title="Synopsys" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_25.png" alt="Synopsys"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="http://www.truecircuits.com/" title="True Circuits, Inc. (TCI)" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_26.png" alt="True Circuits, Inc. (TCI)"/></a></li>
                    <li class="partner-list__item cell"><a class="partner-list__link" href="https://www.tsmc.com/english" title="TSMC" target="_blank" rel="noopener noreferrer"><img class="partner-list__img lazyload" src="images/1x1.gif" data-src="images/logo/partner_27.png" alt="TSMC"/></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- [END] Solution Overview 其餘內容-->
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script src="js/solution-ip.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}