{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-ip">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-ip.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b31_ip}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b36_foundation}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b36_foundation}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="5">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-ip.php" aria-hidden="true" tabindex="-1"><span class="text">{_b31_ip}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-ip.php" draggable="false"><span class="text">{_b31_ip}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-hbm.php" draggable="false">{_b32_hbm}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-d2d.php" draggable="false">{_b33_d2d}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-serdes.php" draggable="false">{_b34_serdes}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-mixed-single.php" draggable="false">{_b35_afe}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-ip-embed.php" draggable="false">{_b36_foundation}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Intro-->
    <section class="sec sec-ip-fdn">
        <div class="grid-container ip-fdn">
            <p>GUC owns the proprietary embedded memory design and verification know-how to offer exceptional SRAM customization service and TCAM compilers, to enable customer’s product success with great differentiation value.</p>
            <p>TCAM has been a key technology for data network communication because the pattern search and specific match function serve the purpose of today's network big data search requirement. GUC TCAM builds on production-successful IP targeting switch/router applications. The compiler features high performance with reasonable power consumption and is design-friendly for a multitude of high speed network products.</p>
        </div>
    </section>
    <!-- File Download - TCAM-->
    <section class="sec sec-ip-file pt-0" n:foreach="model\SolIpDao::get2LevelByPage(enum\IpPage::EMBED) as $title => $arr">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{$title}</h2>
            </div>
            <div class="file-list-group">
                <table class="table-collapse table-x-padding ip-file-table">
                    <thead>
                    <tr>
                        <th>Part_Number</th>
                        <th>Process</th>
                        <th>Description</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- [START] Item-->
                    <tr n:foreach="$arr as $k => $v">
                        <td data-title="Part_Number">{$v['part_number']}</td>
                        <td data-title="Process">{$v['geometry']}</td>
                        <td data-title="Description">{$v['description']}</td>
                        <td><a n:ifset="$v['download_url']" href="{$v['download_url']}" title="Download Part_Number [Open with new window]" target="_blank"><span class="file-list__item__icon-box"><i class="be-icon be-icon-download" aria-label="Download"></i></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}