{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-ip">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-ip.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b31_ip}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b34_serdes}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b34_serdes}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="3">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-ip.php" aria-hidden="true" tabindex="-1"><span class="text">{_b31_ip}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-ip.php" draggable="false"><span class="text">{_b31_ip}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-hbm.php" draggable="false">{_b32_hbm}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-d2d.php" draggable="false">{_b33_d2d}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-ip-serdes.php" draggable="false">{_b34_serdes}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-mixed-single.php" draggable="false">{_b35_afe}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-embed.php" draggable="false">{_b36_foundation}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Intro-->
    <section class="sec sec-ip-serdes-intro">
        <div class="grid-container">
            <div class="sec-block margin-large">
                <p>EMSPHY (Enterprise Multi-Standard PHY) PMA solution is designed specifically to address a broad range of market segments including Data Storage, Network Communication, PC Interconnect, Radio Interface, and Data Converter Serial Interface. When integrated with application specific PCS/MAC logic functions, GUC’s EMSPHY solution provides a robust and seamless integration in customer‘s system.</p>
                <p>EMSPHY‘s small tile-based footprint supports multi-lane macro configurations, resulting in extremely flexible SOC implementation. EMSPHY supports long reach and can handle up to 35dB of channel loss. For short reach applications, EMSPHY supports programmable low power modes providing an optimized balance of power and system performance.</p>
                <p>All EMSPHY family IPs are designed based on standard TSMC logic process and is available for TSMC 28nm, 16nm, 12nm and 7nm process nodes.</p>
            </div>
            <div class="sec-block mb-0">
                <dl class="ip-card">
                    <dt class="ip-card__title h3"><span class="ip-card__title__inside">GUC EMSPHY</span></dt>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">Data Network Communication</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">56/28/25/10/6.25/3.125/1.25Gbps for Ethernet/CEI/SFI/GPON</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">High Speed Serial Interface</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">CPRI: 4.33024G/.../1.2288Gbps</li>
                            <li class="ip-card__list__item">JESD204C: 32G~1Gbps</li>
                            <li class="ip-card__list__item">CCIX: 25Gbps</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">Data Storage</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">SAS : 24/12/6/3/1.5Gbps</li>
                            <li class="ip-card__list__item">SATA : 6/3/1.5Gbps</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">PC Interconnection</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">16/8/5/2.5Gbps for PCIe-Gen4/3/2/1</li>
                        </ul>
                    </dl>
                </dl>
            </div>
        </div>
    </section>
    <!-- File Download - EMS PHY IP-->
    <section class="sec sec-ip-file pt-0" n:foreach="model\SolIpDao::get2LevelByPage(enum\IpPage::SERDES) as $title => $arr">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{$title}</h2>
            </div>
            <div class="file-list-group">
                <table class="table-collapse table-x-padding ip-file-table">
                    <thead>
                    <tr>
                        <th>Part_Number</th>
                        <th>Process</th>
                        <th>Description</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr n:foreach="$arr as $k => $v">
                        <td data-title="Part_Number">{$v['part_number']}</td>
                        <td data-title="Process">{$v['geometry']}</td>
                        <td data-title="Description">{$v['description']}</td>
                        <td><a n:ifset="$v['download_url']" href="{$v['download_url']}" title="Download Part_Number [Open with new window]" target="_blank"><span class="file-list__item__icon-box"><i class="be-icon be-icon-download" aria-label="Download"></i></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}