{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-ip">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-ip.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b31_ip}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b35_afe}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b35_afe}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="4">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-ip.php" aria-hidden="true" tabindex="-1"><span class="text">{_b31_ip}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-ip.php" draggable="false"><span class="text">{_b31_ip}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-hbm.php" draggable="false">{_b32_hbm}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-d2d.php" draggable="false">{_b33_d2d}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-serdes.php" draggable="false">{_b34_serdes}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-ip-mixed-single.php" draggable="false">{_b35_afe}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-embed.php" draggable="false">{_b36_foundation}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Intro-->
    <section class="sec sec-ip-afe">
        <div class="grid-container ip-afe">
            <div class="sec-block margin-large">
                <p>Mixed-Signal Front-End IPs are designed for Analog-Signal-to-SoC interface transceiver, including wireless Analog Front-End (AFE), traditional Analog-to-Digital converter (ADC) and Digital-to-Analog converter (DAC). These IPs support sampling rate from 10KHz to more than 10GHz, and cover analog signal bandwidth from DC to more than 5GHz. Wide bandwidth handling can achieve both direct sampling and IQ sampling. Highly integration solution includes amplifier, filter, calibration circuit, and high performance PLL to optimize power performance area (PPA) for not only communication system such as 5G, Wi-Fi … etc, but also power control, monitor, video system. GUC Mixed-Signal Front-End IPs also provide production test solution and APB/I2C/JTAG interface for easy integration to enable ASIC success.</p>
            </div>
            <div class="sec-block">
                <h3 class="sec-block__title title-dark">Block diagram of IGAAFEV03A</h3><br>
                <div class="img-box text-center"><img class="ip-afe-img-flow lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/ip-mixed-single_flow.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- File Download - 5G AFE-->
    <section class="sec sec-ip-file pt-0" n:foreach="model\SolIpDao::get2LevelByPage(enum\IpPage::MIXED) as $title => $arr">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{$title}</h2>
            </div>
            <div class="file-list-group">
                <table class="table-collapse table-x-padding ip-file-table">
                    <thead>
                    <tr>
                        <th>Part_Number</th>
                        <th>Process</th>
                        <th>Description</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr n:foreach="$arr as $k => $v">
                        <td data-title="Part_Number">{$v['part_number']}</td>
                        <td data-title="Process">{$v['geometry']}</td>
                        <td data-title="Description">{$v['description']}</td>
                        <td><a n:ifset="$v['download_url']" href="{$v['download_url']}" title="Download Part_Number [Open with new window]" target="_blank"><span class="file-list__item__icon-box"><i class="be-icon be-icon-download" aria-label="Download"></i></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}