{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-pd">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-pd.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b21_production}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b25_quality}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b25_quality}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="4">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-pd.php" aria-hidden="true" tabindex="-1"><span class="text">{_b21_production}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-pd.php" draggable="false"><span class="text">{_b21_production}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-advanced.php" draggable="false">{_b22_advanced}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-test.php" draggable="false">{_b23_test}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-engineering.php" draggable="false">{_b24_engineering}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-pd-quality.php" draggable="false">{_b25_quality}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-supply-chain.php" draggable="false">{_b26_supply}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Quality & Reliability Assurance-->
    <section class="sec sec-pd-quality">
        <div class="grid-container pd-quality">
            <div class="sec-block margin-large">
                <p>GUC's Quality mission is to provide customer the advanced technology product with high quality and sincere service. This service is to provide an excellent Quality &amp; Reliability system to ensure the products we deliver are in world-class quality level. The service also offers the proven and well defined one stop shopping reliability assurance and qualification test services, including component level and board level qualifications according to JESD, EIAJ, MIL-STD and IPC standards.</p>
                <ul class="solu-list">
                    <li>L1: ESD/EOS/ Latch Up/ HTOL/ ELFR/ MSL/ TCT/ HAST/ HTSL/ LTSL/ PCT/ THB, etc.</li>
                    <li>L2: TCT/ Drop/ Shock/ Bend test, etc.</li>
                    <li>ORM: On-going Reliability Monitoring (Monthly or Quarterly)</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Quality &amp; Reliability Assurance</h2>
                </div>
                <ul class="solu-list">
                    <li>New product quality control starts from BOM selection then followed by product qualification according to the standards. Product is verified by PVT and system correlation then determined production screen condition for quality.</li>
                    <li>Manufacturing quality control by product yield and regular reliability monitoring.</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="pd-quality-list">
                    <div class="pd-quality-list__cell left">
                        <div class="pd-quality-list__text-box">
                            <h3 class="pd-quality-list__title">Qualification</h3>
                            <ul class="pd-quality-list__list">
                                <li class="pd-quality-list__item">RoHS, Hazardous Substance Control</li>
                                <li class="pd-quality-list__item">JEDEC, EIAJ, AEC, MIL STD Standards</li>
                                <li class="pd-quality-list__item">Product Qualification</li>
                                <li class="pd-quality-list__item">MTTF and FIT Estimation through Reliability Model</li>
                            </ul>
                        </div>
                        <div class="pd-quality-list__text-box">
                            <h3 class="pd-quality-list__title">Verification &amp; Screening</h3>
                            <ul class="pd-quality-list__list">
                                <li class="pd-quality-list__item">PVT Characterization</li>
                                <li class="pd-quality-list__item">ATE vs. System Correlation</li>
                                <li class="pd-quality-list__item">Stress Testing (Voltage/Temperature)</li>
                                <li class="pd-quality-list__item">Low PPM Program</li>
                                <li class="pd-quality-list__item">Automotive Program *</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pd-quality-list__arrow"><span class="pd-quality-list__arrow__text">Production<br>Readiness</span></div>
                    <div class="pd-quality-list__cell right">
                        <div class="pd-quality-list__text-box">
                            <h3 class="pd-quality-list__title">Quality &amp; Reliability Control</h3>
                            <ul class="pd-quality-list__list">
                                <li class="pd-quality-list__item">Manufacturing Data Monitor</li>
                                <li class="pd-quality-list__item">Assembly &amp; Test Yield Management</li>
                                <li class="pd-quality-list__item">Test Yield/Bin Maverick Control</li>
                                <li class="pd-quality-list__item">ELFR for Initial Production Lots *</li>
                                <li class="pd-quality-list__item">On-going Reliability Monitor (ORM) *</li>
                            </ul>
                        </div>
                        <div class="pd-quality-list__text-box">
                            <h3 class="pd-quality-list__title">Production &amp; Supplier Management</h3>
                            <ul class="pd-quality-list__list">
                                <li class="pd-quality-list__item">Quality Measurement and QBR</li>
                                <li class="pd-quality-list__item">Change Control</li>
                                <li class="pd-quality-list__item">Nonconforming Material Control (MRB)</li>
                                <li class="pd-quality-list__item">100% Chips Visual Scanning</li>
                                <li class="pd-quality-list__item">Continuous Improvement Program</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="text-tip">*Optional</p>
            </div>
        </div>
    </section>
    <!-- GUC Suppliers' Quality System Certificates-->
    <section class="sec sec-pd-quality pt-0">
        <div class="grid-container pd-quality">
            <div class="sec-title border">
                <h2 class="sec-title__title">GUC Suppliers' Quality System Certificates</h2>
            </div>
            <div class="sec-block margin-large">
                <ul class="solu-list">
                    <li>GUC passed ISO9001 in 2008 for general quality management and IEC/QC080000 for Hazardous substance management.</li>
                    <li>All manufacturing service vendors passed ISO9001 Advanced Quality System Certificates.</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="img-box"><img class="pd-quality-img-certificate lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-quality_certificate.jpg" alt=""></div><br>
                <p>Note:</p>
                <ul class="solu-list">
                    <li>ISO9001: General Quality Management Certification</li>
                    <li>ISO/TS16949: Quality Management Certification for Automotive parts</li>
                    <li>ISO14001: Environment Management Certification</li>
                    <li>OHSAS18001: Occupational Health and Safety Management Certification</li>
                    <li>Green/QC08000: Hazardous Substance Process Management Certification</li>
                    <li>Green/SONY GP: SONY Green Partner Certification</li>
                    <li>IECQ17025: Independent Testing Laboratory Certification</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script src="js/solution-pd-quality.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}