{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-asic">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-asic.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b11_asic}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b16_flagship}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b16_flagship}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="5">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-asic.php" aria-hidden="true" tabindex="-1"><span class="text">{_b11_asic}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-asic.php" draggable="false"><span class="text">{_b11_asic}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-soc.php" draggable="false">{_b12_soc}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-chip.php" draggable="false">{_b13_chip}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-low-power.php" draggable="false">{_b14_low}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-design.php" draggable="false">{_b15_design}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-asic-flagship.php" draggable="false">{_b16_flagship}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-success.php" draggable="false">{_b17_success}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Comprehensive Solution for Flagship SoC Design-->
    <section class="sec sec-asic-flagship">
        <div class="grid-container asic-flagship">
            <div class="sec-block margin-large">
                <p>HPC, AI and Networking technique is used for many applications such as data center computing, edge computing, connectivity network etc.. The built-in repeated computing engine and memory bandwidth is more as possible to enlarge the computing capability, so the design complexity and chip size are increase more at HPC/AI/Networking era. Traditional design flow has bottleneck to serve this complexity design. GUC has state-of-art solutions including multi-level hierarchical design, hierarchical timing sign-off, high power IR prevention DFT, high-speed IP integration, 2.5D package(CoWoS/InFO) design within HBM/D2D IP subsystem and chip-package system PI/SI verification to ensure customer design success. With this total solution, GUC had success taped out many flagship SoC design.</p>
            </div>
            <div class="sec-block">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Comprehensive Solution for Flagship SoC Design</h2>
                </div>
                <ul class="asic-flagship-soc-design">
                    <li class="asic-flagship-soc-design__item">
                        <h3 class="asic-flagship-soc-design__title">Low Power<span class="asic-flagship-soc-design__arrow"></span></h3>
                        <ul class="asic-flagship-soc-design__list">
                            <li>MTCMOS, multi-bit FF, MSV, DVFS for power reduction</li>
                            <li>Customize sign off condition for different PVT</li>
                            <li>Shifted clocks distribution for current peaks spreading</li>
                            <li>Low Voltage for power efficiency optimization</li>
                            <li>Low Power Cell Customization / PowerHERO</li>
                        </ul>
                    </li>
                    <li class="asic-flagship-soc-design__item">
                        <h3 class="asic-flagship-soc-design__title">2.5/3D<span class="asic-flagship-soc-design__arrow"></span></h3>
                        <ul class="asic-flagship-soc-design__list">
                            <li>CoWoS interposer with 4 HBM2E(3.2GHz) /HBM3 (7.2GHz)</li>
                            <li>2.5D CoWoS /D2D/DonD  IR/PI/SI</li>
                            <li>D2D with G-link-fs (8-12 GHz) IP</li>
                            <li>SoIC DonD with GLink-3D IP</li>
                        </ul>
                    </li>
                    <li class="asic-flagship-soc-design__item">
                        <h3 class="asic-flagship-soc-design__title">DFT<span class="asic-flagship-soc-design__arrow"></span></h3>
                        <ul class="asic-flagship-soc-design__list">
                            <li>IR-power aware DFT plan, Smart memory BIST grouping</li>
                            <li>Faulty core / tile identification</li>
                            <li>In-house Scan-ECO</li>
                            <li>High-speed interface IP / 2.5D / 3D testing integration</li>
                        </ul>
                    </li>
                    <li class="asic-flagship-soc-design__item">
                        <h3 class="asic-flagship-soc-design__title">Physical Design<span class="asic-flagship-soc-design__arrow"></span></h3>
                        <ul class="asic-flagship-soc-design__list">
                            <li>Automatic power plan creation with IR &amp; routing resource aware</li>
                            <li>CTS : clock adjust cell, big driving clock buffer, H-tree, clock mesh</li>
                            <li>Multiple-Billion gate design with Multiple SerDes integration</li>
                            <li>Distributed Clock Useful Skew to Reduce Peak Current</li>
                        </ul>
                    </li>
                    <li class="asic-flagship-soc-design__item">
                        <h3 class="asic-flagship-soc-design__title">Design integrity<span class="asic-flagship-soc-design__arrow"></span></h3>
                        <ul class="asic-flagship-soc-design__list">
                            <li>Performance monitor kit</li>
                            <li>Hybrid STA with in-house optimal hyper-scale model</li>
                            <li>Ramp up current analysis / Co-sim with L/B, Probe Card, Package, PCB</li>
                            <li>Aging / Jitter effect simulation</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Success Story-->
    <section class="sec sec-asic-flagship pt-0">
        <div class="grid-container asic-flagship">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_b17_success}</h2>
            </div>
            <div class="asic-tb-wrapper">
                <table class="asic-tb asic-flagship-table table-collapse table-title-absolute table-x-padding">
                    <thead>
                    <tr>
                        <th>Process</th>
                        <th>Gate Count</th>
                        <th>Application</th>
                        <th>Key Feature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="Process">7nm</td>
                        <td data-title="Gate Count">&gt;3B</td>
                        <td data-title="Application">HPC</td>
                        <td data-title="Key Feature">CoWoS with 4 HBM, Fail core identification, Hyper Scale Hier. STA, H-tree CTS<br>2-level Hier. design, IR-aware DFT, channel-less design
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">7nm</td>
                        <td data-title="Gate Count">&gt;3B</td>
                        <td data-title="Application">Networking</td>
                        <td data-title="Key Feature">Fail core identification for redundancy, H-tree, 112G SerDes integration, 2-level Hier. design, IR-awar
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">1.25B</td>
                        <td data-title="Application">AI</td>
                        <td data-title="Key Feature">SRAM repair, IR-aware DFT, 2-level Hier. design, multi-core IR ramp-up analysis
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">1B</td>
                        <td data-title="Application">HPC</td>
                        <td data-title="Key Feature">CoWoS with 4 HBM, IR-aware DFT, 2-level Hier. design
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">1.6B</td>
                        <td data-title="Application">AI</td>
                        <td data-title="Key Feature">Fail core identification, IR-aware DFT, Hyper Scale Hier. STA, fishbone clock, channel-less design
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">407M</td>
                        <td data-title="Application">AI</td>
                        <td data-title="Key Feature">IR-aware DFT, H-tree CTS, shift clock distribution for peak power reduction
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">240M</td>
                        <td data-title="Application">Networking</td>
                        <td data-title="Key Feature">SerDes integration, Chip-package PI/SI
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}