{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-asic">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-asic.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b11_asic}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b12_soc}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b12_soc}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-asic.php" aria-hidden="true" tabindex="-1"><span class="text">{_b11_asic}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-asic.php" draggable="false"><span class="text">{_b11_asic}</span></a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-asic-soc.php" draggable="false">{_b12_soc}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-chip.php" draggable="false">{_b13_chip}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-low-power.php" draggable="false">{_b14_low}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-design.php" draggable="false">{_b15_design}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-flagship.php" draggable="false">{_b16_flagship}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-success.php" draggable="false">{_b17_success}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Flow-->
    <section class="sec sec-asic-soc">
        <div class="grid-container asic-soc">
            <div class="sec-block margin-large">
                <p>{_d1_p}</p>
                <p>{_d1_p2}</p>
            </div>
            <div class="sec-block margin-large">
                <ul class="asic-sco-flow">
                    <li class="asic-sco-flow__item">
                        <h3 class="asic-sco-flow__title">{_d2_h3}</h3><span class="asic-sco-flow__arrow"></span>
                        <ul class="asic-sco-flow__list text-center text-em">
                            <li class="asic-sco-flow__list__item">{_d2_li}</li>
                            <li class="asic-sco-flow__list__item">{_d2_li2}</li>
                            <li class="asic-sco-flow__list__item">{_d2_li3}</li>
                            <li class="asic-sco-flow__list__item">{_d2_li4}</li>
                        </ul>
                    </li>
                    <li class="asic-sco-flow__item">
                        <h3 class="asic-sco-flow__title">{_d3_h3}</h3><span class="asic-sco-flow__arrow"></span>
                        <ul class="asic-sco-flow__list text-center text-em">
                            <li class="asic-sco-flow__list__item">{_d3_li}</li>
                            <li class="asic-sco-flow__list__item">{_d3_li2}</li>
                            <li class="asic-sco-flow__list__item">{_d3_li3}</li>
                            <li class="asic-sco-flow__list__item">{_d3_li4}</li>
                        </ul>
                    </li>
                    <li class="asic-sco-flow__item">
                        <h3 class="asic-sco-flow__title">{_d4_h3}</h3><span class="asic-sco-flow__arrow"></span>
                        <ul class="asic-sco-flow__list text-center text-em">
                            <li class="asic-sco-flow__list__item">{_d4_li}</li>
                            <li class="asic-sco-flow__list__item">{_d4_li2}</li>
                        </ul>
                    </li>
                    <li class="asic-sco-flow__item">
                        <h3 class="asic-sco-flow__title">{_d5_h3}</h3><span class="asic-sco-flow__arrow"></span>
                        <ul class="asic-sco-flow__list text-center text-em">
                            <li class="asic-sco-flow__list__item">{_d5_li}</li>
                            <li class="asic-sco-flow__list__item">{_d5_li2}</li>
                            <li class="asic-sco-flow__list__item">{_d5_li3}</li>
                        </ul>
                    </li>
                    <li class="asic-sco-flow__item">
                        <h3 class="asic-sco-flow__title">{_d6_h3}</h3><span class="asic-sco-flow__arrow"></span>
                        <ul class="asic-sco-flow__list text-center text-em">
                            <li class="asic-sco-flow__list__item">{_d6_li}</li>
                            <li class="asic-sco-flow__list__item">{_d6_li2}</li>
                            <li class="asic-sco-flow__list__item">{_d6_li3}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="sec-block text-center img-box"><img class="asic-soc-img-design lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-sco_design.jpg" alt=""></div>
        </div>
    </section>
    <!-- Services-->
    <section class="sec sec-asic-soc">
        <div class="grid-container asic-soc">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_d7_h2}</h2>
            </div>
            <div class="sec-block margin-large">
                <ul class="solu-list">
                    <li>{_d7_li}</li>
                    <li>{_d7_li2}</li>
                    <li>{_d7_li3}</li>
                    <li>{_d7_li4}</li>
                    <li>{_d7_li5}</li>
                    <li>{_d7_li6}</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <h3 class="sec-block__title title-dark">{_d8_h3}</h3><br>
                <div class="text-center img-box"><img class="asic-soc-img-tool-and-flow lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-sco_tool-and-flow.jpg" alt=""></div>
            </div>
            <div class="sec-block margin-large">
                <h3 class="sec-block__title title-dark"></h3>
                <ol class="grid-x grid-margin-x small-up-1 large-up-4 asic-soc-methodology">
                    <li class="cell">
                        <div class="hex-title-box">
                            <div class="hex-title-box__title h3">{_d9_li_h3}</div>
                            <div class="hex-title-box__cont">
                                <ul>
                                    <li>{_d9_li_li}</li>
                                    <li>{_d9_li_li2}</li>
                                    <li>{_d9_li_li3}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="cell">
                        <div class="hex-title-box">
                            <div class="hex-title-box__title h3">{_d9_li2_h3}</div>
                            <div class="hex-title-box__cont">
                                <ul>
                                    <li>{_d9_li2_li}</li>
                                    <li>{_d9_li2_li2}</li>
                                    <li>{_d9_li2_li3}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="cell">
                        <div class="hex-title-box">
                            <div class="hex-title-box__title h3">{_d9_li3_h3}</div>
                            <div class="hex-title-box__cont">
                                <ul>
                                    <li>{_d9_li3_li}</li>
                                    <li>{_d9_li3_li2}</li>
                                    <li>{_d9_li3_li3}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="cell">
                        <div class="hex-title-box">
                            <div class="hex-title-box__title h3">{_d9_li4_h3}</div>
                            <div class="hex-title-box__cont">
                                <ul>
                                    <li>{_d9_li4_li}</li>
                                    <li>{_d9_li4_li2}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="sec-block margin-large">
                <h3 class="sec-block__title title-dark">{_d10_h3}</h3>
                <p>{_d10_p}</p><br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-10">
                        <div class="grid-x medium-up-2 asic-soc-compare">
                            <div class="cell">
                                <h4 class="h3 text-em asic-soc-compare__title">{_d10_h4}</h4>
                                <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-sco_compare_with-waveform.jpg" alt="" data-group="compare"></div>
                            </div>
                            <div class="cell">
                                <h4 class="h3 text-em asic-soc-compare__title">{_d10_h41}</h4>
                                <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-sco_compare_without-waveform.jpg" alt="" data-group="compare"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Success Story-->
    <section class="sec sec-asic-soc">
        <div class="grid-container asic-soc">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_d11_h2}</h2>
            </div>
            <div class="asic-tb-wrapper">
                <table class="asic-tb asic-soc-table table-collapse table-title-absolute table-x-padding">
                    <thead>
                    <tr>
                        <th>{_d11_th}</th>
                        <th>{_d11_th2}</th>
                        <th>{_d11_th3}</th>
                        <th>{_d11_th4}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr2_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr2_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr2_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr2_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr3_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr3_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr3_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr3_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr4_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr4_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr4_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr4_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr5_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr5_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr5_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr5_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr6_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr6_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr6_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr6_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr7_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr7_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr7_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr7_td4}</td>
                    </tr>
                    <tr>
                        <td data-title="{_d11_th}"><strong class="text-em">{_d11_tr8_td}</strong></td>
                        <td data-title="{_d11_th2}">{_d11_tr8_td2}</td>
                        <td data-title="{_d11_th3}">{_d11_tr8_td3}</td>
                        <td data-title="{_d11_th4}">{_d11_tr8_td4}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}