{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-pd">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-pd.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b21_production}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b24_engineering}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b24_engineering}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="3">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-pd.php" aria-hidden="true" tabindex="-1"><span class="text">{_b21_production}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-pd.php" draggable="false"><span class="text">{_b21_production}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-advanced.php" draggable="false">{_b22_advanced}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-test.php" draggable="false">{_b23_test}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-pd-engineering.php" draggable="false">{_b24_engineering}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-quality.php" draggable="false">{_b25_quality}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-supply-chain.php" draggable="false">{_b26_supply}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Product Engineering and Yield Enhancement-->
    <section class="sec sec-pd-engr">
        <div class="grid-container pd-engr">
            <div class="sec-block margin-large">
                <p>This service is to bring up product from initial prototyping to mass production in a timely manner through the coordination among different parts of manufacturing service. The team is well-experienced in foundry manufacturing process, test yield analysis, product electrical performance enhancement and physical failure analysis, etc., to support product time-to-market and time-to-volume.</p>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Product Engineering and Yield Enhancement</h2>
                </div>
                <ul class="solu-list">
                    <li>Manufacturing yield monitoring and analysis by using sophisticated engineering data analysis systems for complete and efficient yield enhancement.</li>
                    <li>A standard procedure is in place to perform product ATE test versus system performance correlation. Device or process can be optimized to maximize the product performance with good yield and quality.</li>
                </ul>
            </div>
            <div class="sec-block">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-5">
                        <h3 class="sec-block__title title-dark">Single or multiple wafers composite yield map analysis</h3>
                        <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-engineering_wafers.jpg" alt="" data-group="pd-engineering"></div>
                    </div>
                    <div class="cell large-6 large-offset-1">
                        <h3 class="sec-block__title title-dark">Shmoo plot, Parameters distribution and Process inline or electrical data correlation analysis</h3>
                        <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-engineering_shmoo-plot.jpg" alt="" data-group="pd-engineering"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Failure Analysis-->
    <section class="sec sec-pd-engr pt-0">
        <div class="grid-container pd-engr">
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Failure Analysis</h2>
                </div>
                <p>GUC cooperates with strategic labs to provide the complete and efficient failure analysis for RMA failure cause identification and production yield enhancement.</p>
            </div>
            <div class="sec-block margin-large">
                <div class="img-box text-center"><img class="pd-engr-img-failure-analysis lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-engineering_failure-analysis.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}