{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-pd">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-pd.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b21_production}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b22_advanced}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b22_advanced}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-pd.php" aria-hidden="true" tabindex="-1"><span class="text">{_b21_production}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-pd.php" draggable="false"><span class="text">{_b21_production}</span></a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-pd-advanced.php" draggable="false">{_b22_advanced}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-test.php" draggable="false">{_b23_test}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-engineering.php" draggable="false">{_b24_engineering}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-quality.php" draggable="false">{_b25_quality}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-supply-chain.php" draggable="false">{_b26_supply}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Package Design-->
    <section class="sec sec-pd-adv">
        <div class="grid-container pd-adv">
            <div class="sec-block margin-large">
                <p>GUC packaging service provides product package evaluation, package design, substrate layout and complete electrical and thermal simulation to ensure product can meet system performance specification.</p>
            </div>
            <div class="sec-block">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Package Design</h2>
                </div>
                <p>Delivered 1st CoWoS product with 56Gbps SerDes package solution in 2018. Working on InFO_oS for mutli-chips high-speed interconnection solution.</p><br><br>
                <div class="img-box text-center"><img class="pd-adv-img-design lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-advance_design.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- 2.5D IC Packaging-->
    <section class="sec sec-pd-adv pt-0">
        <div class="grid-container pd-adv">
            <div class="sec-title border">
                <h2 class="sec-title__title">2.5D IC Packaging</h2>
            </div>
            <div class="sec-block margin-large">
                <p>2.5D IC packaging technology integrates multiple chips into one package enables product higher performance, lower power consumption and smaller form factor for the advanced products targeting AI and HPC applications. It also supports advanced technology node Si yield and cost saving via die partitioning and multi-core expansion.</p>
                <p>In 2016, GUC adopted TSMC's advanced CoWoS (Chip-on-Wafer-on-Substrate) packaging technology for our first HBM (High Bandwidth Memory) IP by TSMC 16nm FinFET process and successfully validated 65nm interposer design, DFT, package and test solutions. In 2018, the first 16nm CoWoS real product was delivered integrating four HBM2 chips with high-speed SerDes interface for AI applications. After that, GUC has completed many CoWoS products design in 7nm and continuously been developing our 5nm/3nm IP to support the advanced products with higher bandwidth HBM2E/HBM3 integration.</p>
            </div>
            <div class="sec-block margin-large">
                <h3 class="sec-block__title title-dark">Chip-Package-Board Co-Simulation</h3>
                <ul class="solu-list">
                    <li>Chip-Package-Board co-design and co-simulation are critical to high speed products for performance enhancement by optimizing floor plan, layout, pad location, I/O and electrical timing budgeting among chip, package and board. GUC’s co-simulation includes mechanical, electrical signal integrity and power integrity and thermal performance.</li>
                    <li>Achieve cost effectiveness by identifying optimized package configuration and size and substrate layers.</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="img-box text-center"><img class="pd-adv-img-chip-package-board lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-advance_chip-package-board.jpg" alt=""></div>
            </div>
            <div class="sec-block margin-large">
                <h3 class="sec-block__title title-dark">CoWoS Chip-Interposer-Package-Board Electrical and Thermal Co-simulation</h3>
                <ul class="solu-list">
                    <li>Perform whole system level power distribution network co-simulation. Extract all interconnect channel effect into co-simulation database, including TSV, via, interposer trace, PTH, package, PCB trace, ubump, C4 bump, BGA ball, decap, etc.</li>
                    <li>Through electrical co-simulation to optimize package decap combination for voltage drop and variation improvement.</li>
                    <li>Thermal simulation model base on real geometry and material property. It is able to support package/interposer modeling and package/system thermal analysis to optimize the system performance.</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6 large-4">
                        <div class="text-center">
                            <h4 class="h3 title-dark">Signal Integrity Co-simulation</h4><br>
                        </div>
                        <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-advance_co-simulation_1.jpg" alt="" data-group="co-simulation"></div>
                    </div>
                    <div class="cell medium-6 large-4 large-offset-1">
                        <div class="text-center">
                            <h4 class="h3 title-dark">Power Integrity Co-simulation</h4><br>
                        </div>
                        <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-advance_co-simulation_2.jpg" alt="" data-group="co-simulation"></div>
                    </div>
                    <div class="cell large-9"><br><br>
                        <div class="text-center">
                            <h4 class="h3 title-dark">System Level Thermal Co-simulation</h4><br>
                        </div>
                    </div>
                    <div class="cell medium-6 large-4">
                        <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-advance_co-simulation_3.jpg" alt="" data-group="co-simulation"></div>
                    </div>
                    <div class="cell medium-6 large-4 large-offset-1">
                        <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-advance_co-simulation_4.jpg" alt="" data-group="co-simulation"></div>
                    </div>
                </div>
            </div>
            <div class="sec-block">
                <p>Another TSMC advanced packaging technology InFO_oS (Integrated Fan-Out on Substrate) features high density RDL to integrate multiple advanced logic chiplets for networking application. In 2020, GUC also developed the first GLink IP for die-to-die connection by TSMC 7nm/6nm technology to support the most advanced products design. It's expected more and more InFO_oS adoption with die-to-die connection solution to integrate chiplets for the next generation products.</p>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}