{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-ip">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-ip.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b31_ip}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b32_hbm}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b32_hbm}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="1">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-ip.php" aria-hidden="true" tabindex="-1"><span class="text">{_b31_ip}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-ip.php" draggable="false"><span class="text">{_b31_ip}</span></a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-ip-hbm.php" draggable="false">{_b32_hbm}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-d2d.php" draggable="false">{_b33_d2d}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-serdes.php" draggable="false">{_b34_serdes}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-mixed-single.php" draggable="false">{_b35_afe}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-embed.php" draggable="false">{_b36_foundation}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Intro-->
    <section class="sec sec-ip-hbm-intro">
        <div class="grid-container">
            <div class="sec-block margin-large">
                <p>GUC HBM IPs provide complete solutions for SoC design targeting high bandwidth applications such as AI, HPC, data centers and networking. GUC HBM IPs are fully compliant to JEDEC JESD235C. With fully optimized hardmacro design on TSMC process technologies, which are proven at 3.6Gbps (HBM2E) and 2.4Gbps (HBM2), GUC’s HBM2(E) PHYs have the best performance in industry. Along with the performances, GUC HBM2(E) PHYs have the optimal power/area balance and cost effectiveness.</p>
                <p>GUC offers HBM2(E) and HBM3 IPs for a wide range of advanced process nodes including 16nm, 12nm, 7nm and 5nm. Essential to HBM IP solutions, GUC is expert in TSMC HBM CoWoS flow, implementation and testing. GUC HBM IPs have been silicon proven and production in real 2.5D IC system application.</p>
            </div>
            <div class="sec-block mb-0">
                <dl class="ip-card">
                    <dt class="ip-card__title h3"><span class="ip-card__title__inside">GUC HBM</span></dt>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">IP Licensing</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">Best PPA PHY and Controller</li>
                            <li class="ip-card__list__item">Sub-system integration</li>
                            <li class="ip-card__list__item">Bring up guideline</li>
                            <li class="ip-card__list__item">DFT guideline</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">Interposer/CoWoS Design</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">GUC patented routing</li>
                            <li class="ip-card__list__item">GUC Verification flow</li>
                            <li class="ip-card__list__item">IR co-design flow</li>
                            <li class="ip-card__list__item">DFT</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">PI/SI and Thermal Co-Design</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">SoC-interposer substrate PCB co-design</li>
                            <li class="ip-card__list__item">System level co-design</li>
                            <li class="ip-card__list__item">Verification flow</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">Manufacturing and Production Management</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">PKG Design</li>
                            <li class="ip-card__list__item">Qualification item, hardware and execution</li>
                            <li class="ip-card__list__item">Characterization, yield, DOE</li>
                        </ul>
                    </dl>
                </dl>
            </div>
        </div>
    </section>
    <!-- File Download - High Bandwidth Memory IP-->
    <section class="sec sec-ip-file pt-0" n:foreach="model\SolIpDao::get2LevelByPage(enum\IpPage::HBM) as $title => $arr">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{$title}</h2>
            </div>
            <div class="file-list-group">
                <table class="table-collapse table-x-padding ip-file-table">
                    <thead>
                    <tr>
                        <th>Part_Number</th>
                        <th>Process</th>
                        <th>Description</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr n:foreach="$arr as $k => $v">
                        <td data-title="Part_Number">{$v['part_number']}</td>
                        <td data-title="Process">{$v['geometry']}</td>
                        <td data-title="Description">{$v['description']}</td>
                        <td><a n:ifset="$v['download_url']" href="{$v['download_url']}" title="Download Part_Number [Open with new window]" target="_blank"><span class="file-list__item__icon-box"><i class="be-icon be-icon-download" aria-label="Download"></i></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}