{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-asic">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-asic.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b11_asic}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b14_low}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b14_low}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="3">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-asic.php" aria-hidden="true" tabindex="-1"><span class="text">{_b11_asic}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-asic.php" draggable="false"><span class="text">{_b11_asic}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-soc.php" draggable="false">{_b12_soc}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-chip.php" draggable="false">{_b13_chip}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-asic-low-power.php" draggable="false">{_b14_low}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-design.php" draggable="false">{_b15_design}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-flagship.php" draggable="false">{_b16_flagship}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-success.php" draggable="false">{_b17_success}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- PowerMagic-->
    <section class="sec sec-asic-low-power">
        <div class="grid-container asic-low-power">
            <div class="sec-block margin-large">
                <p>Low power design is essential to emerging IC design. High performance computing (HPC) device suffers heat dispatching problem. Mobile device requires low stand-by power consuming. Power efficiency is also the key for various applications.</p>
                <p>GUC low power methodology provides a complete solution, including in-design power shut off methodology, multiple supply voltage, dynamic voltage frequency scaling methodology, low power DFT and physical design, low voltage library characterization and signoff margin …etc, to help customer to provide a power competitive solution.</p>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">PowerMagic®</h2>
                </div>
                <div class="img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-low-power_power-magic-table.jpg" alt=""></div>
            </div>
            <div class="sec-block">
                <div class="grid-x grid-margin-x small-up-1 large-up-3 asic-low-power-magic">
                    <div class="cell">
                        <div class="img-box text-center"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-low-power_power-magic-detail_1.jpg" alt=""></div>
                        <div class="hex-title-box is-blue">
                            <div class="hex-title-box__title h3">Design architecture exploration</div>
                            <div class="hex-title-box__cont">
                                <ul class="solu-list">
                                    <li>Predictable multi-objective PPA (leakage vs. dynamic power) early exploration</li>
                                    <li>Design activity driven, Vmin aware for memory and flip-flop concurrent configuration</li>
                                </ul>
                            </div>
                        </div>
                        <div class="hex-title-box is-blue">
                            <div class="hex-title-box__title h3">Low voltage library characterization, customization</div>
                            <div class="hex-title-box__cont">
                                <ul class="solu-list">
                                    <li>GUC re-K serve for N5/N7/N12/N16 and mature processes since 2007</li>
                                    <li>Robust timing margin characterized for high variation at Vtgm condition</li>
                                    <li>GUC proprietary low power library benefit average 20% power reduction</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="img-box text-center"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-low-power_power-magic-detail_2.jpg" alt=""></div>
                        <div class="hex-title-box is-blue">
                            <div class="hex-title-box__title h3">Power aware physical implementation</div>
                            <div class="hex-title-box__cont">
                                <ul class="solu-list">
                                    <li>Data flow, PPA driven macro auto-placement</li>
                                    <li>Activity driven logic restructuring and placement for power reductionand flip-flop concurrent configuration</li>
                                    <li>Proprietary auto power switch stitch for ramp-up</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="img-box text-center"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-low-power_power-magic-detail_3.jpg" alt=""></div>
                        <div class="hex-title-box is-blue">
                            <div class="hex-title-box__title h3">Production of MSV/DVFS, and voltage binning</div>
                            <div class="hex-title-box__cont">
                                <ul class="solu-list">
                                    <li>Robust STA sign-off for cross power domain variation and voltage binning</li>
                                    <li>Robust CP/FT power integrity by co-sim with probe card / load board model</li>
                                    <li>Production BKM for leakage in immature process</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Low Voltage for Power Efficiency-->
    <section class="sec sec-asic-low-power pt-0">
        <div class="grid-container asic-low-power">
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Low Voltage for Power Efficiency</h2>
                </div>
            </div>
            <div class="sec-block low-voltage-def">
                <div class="grid-x grid-margin-x low-voltage-def__group low-voltage">
                    <div class="cell large-3 low-voltage-def__text-box">
                        <div class="low-voltage-def__title-box">
                            <div class="h3 low-voltage-def__title-box__title"><span>Low Voltage Definition</span></div>
                            <ul class="low-voltage-def__title-box__text-box">
                                <li class="low-voltage-def__title-box__item">Performance Degradation per Voltage Simulation</li>
                                <li class="low-voltage-def__title-box__item">Leakage Reduction per Voltage Simulation</li>
                                <li class="low-voltage-def__title-box__item">Acceptable Lowest Voltage Condition Simulation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell img-box large-auto low-voltage-def__img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-low-power_low-voltage-definition_1.jpg" alt=""></div>
                </div>
                <div class="grid-x grid-margin-x low-voltage-def__group post-layout">
                    <div class="cell large-3 low-voltage-def__text-box">
                        <div class="low-voltage-def__title-box">
                            <div class="h3 low-voltage-def__title-box__title"><span>Post-Layout Verification</span></div>
                            <ul class="low-voltage-def__title-box__text-box">
                                <li class="low-voltage-def__title-box__item">Sign-off Customization Liberty re-K</li>
                                <li class="low-voltage-def__title-box__item">Critical Path Simulation</li>
                                <li class="low-voltage-def__title-box__item">Power Efficiency Analysis</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell img-box large-auto low-voltage-def__img-box"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/asic-low-power_low-voltage-definition_2.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Success Story-->
    <section class="sec sec-asic-low-power pt-0">
        <div class="grid-container asic-low-power">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_b17_success}</h2>
            </div>
            <div class="asic-tb-wrapper">
                <table class="asic-tb asic-low-power-table table-collapse table-title-absolute table-x-padding">
                    <thead>
                    <tr>
                        <th>Process</th>
                        <th>Gate Count</th>
                        <th>Speed</th>
                        <th>Application</th>
                        <th>Key Feature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">140M</td>
                        <td data-title="Speed">800MHz</td>
                        <td data-title="Application">AI Inference</td>
                        <td data-title="Key Feature">MTCMOS + MSV + Multi-VT</td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">147M</td>
                        <td data-title="Speed">2.2GHz</td>
                        <td data-title="Application">Drone</td>
                        <td data-title="Key Feature">MSV + Multi-VT</td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">100M</td>
                        <td data-title="Speed">2GHz</td>
                        <td data-title="Application">AP Testchip</td>
                        <td data-title="Key Feature">PSO/MTCMOS + Multi-VT + DVFS</td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">30M</td>
                        <td data-title="Speed">2GHz</td>
                        <td data-title="Application">CPU</td>
                        <td data-title="Key Feature">PSO/MTCMOS + Multi-VT + MSV</td>
                    </tr>
                    <tr>
                        <td data-title="Process">22nm</td>
                        <td data-title="Gate Count">13M</td>
                        <td data-title="Speed">480MHz</td>
                        <td data-title="Application">Multimedia</td>
                        <td data-title="Key Feature">MTCMOS</td>
                    </tr>
                    <tr>
                        <td data-title="Process">22nm</td>
                        <td data-title="Gate Count">30M</td>
                        <td data-title="Speed">600MHz</td>
                        <td data-title="Application">Multimedia</td>
                        <td data-title="Key Feature">MSV MTCMOS</td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">100M</td>
                        <td data-title="Speed">1.5GHz</td>
                        <td data-title="Application">Drone</td>
                        <td data-title="Key Feature"> PSO/MTCMOS + Multi-VT + MSV</td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">100M</td>
                        <td data-title="Speed">700MHz</td>
                        <td data-title="Application">SSD SoC</td>
                        <td data-title="Key Feature">PSO/MTCMOS + Multi-VT</td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">30M</td>
                        <td data-title="Speed">500MHz</td>
                        <td data-title="Application">SSD SoC</td>
                        <td data-title="Key Feature">PSO/MTCMOS + Multi-VT + DVFS</td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">6M</td>
                        <td data-title="Speed">800MHz</td>
                        <td data-title="Application">UFS Controller</td>
                        <td data-title="Key Feature">PSO + Multi-VT</td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">50M</td>
                        <td data-title="Speed">400MHz</td>
                        <td data-title="Application">Digital Camera</td>
                        <td data-title="Key Feature">PSO/MTCMOS + Multi-VT</td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">33M</td>
                        <td data-title="Speed">1.6GHz</td>
                        <td data-title="Application">Processor</td>
                        <td data-title="Key Feature">PSO/MTCMOS + Multi-VT</td>
                    </tr>
                    <tr>
                        <td data-title="Process">40nm</td>
                        <td data-title="Gate Count">5M</td>
                        <td data-title="Speed">300MHz</td>
                        <td data-title="Application">Camcorder</td>
                        <td data-title="Key Feature">PSO + Multi-VT + Customized IO</td>
                    </tr>
                    <tr>
                        <td data-title="Process">65nm</td>
                        <td data-title="Gate Count">8M</td>
                        <td data-title="Speed">300MHz</td>
                        <td data-title="Application">Cell Phone</td>
                        <td data-title="Key Feature">PSO + Multi-VT + DVFS + Data Retention</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script src="js/solution-asic-low-power.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}