{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-asic">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-asic.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-asic.php"><span itemprop="name">{_b11_asic}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b15_design}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b15_design}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="4">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-asic.php" aria-hidden="true" tabindex="-1"><span class="text">{_b11_asic}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-asic.php" draggable="false"><span class="text">{_b11_asic}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-soc.php" draggable="false">{_b12_soc}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-chip.php" draggable="false">{_b13_chip}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-low-power.php" draggable="false">{_b14_low}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-asic-design.php" draggable="false">{_b15_design}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-flagship.php" draggable="false">{_b16_flagship}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-asic-success.php" draggable="false">{_b17_success}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Advanced DFT Solution-->
    <section class="sec sec-asic-design">
        <div class="grid-container asic-design">
            <div class="sec-block margin-large">
                <p>Design For Testability (DFT) refers to those design practices that assist designers to reduce cost of test pattern generation, enhance fault coverage, and hence reduce defect levels at mass production.<br>GUC DFT methodology provides a complete solution including RAM/ROM BIST, DC/AC Scan, Logic BIST, ATPG and boundary scan (JTAG), to achieve ultra-high test coverage.</p>
            </div>
            <div class="sec-block">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Advanced DFT Solution</h2>
                </div>
                <div class="asic-design-dft-table-wrapper">
                    <table class="table-collapse table-x-padding asic-design-dft-table">
                        <thead>
                        <tr>
                            <th>Target</th>
                            <th>Methodology</th>
                            <th>Implementation Approach</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="title" data-title="Target" rowspan="4">Low DPPM</td>
                            <td data-title="Methodology">Scan test</td>
                            <td data-title="Implementation Approach">Fault detection : Stuck-at, Transition delay, Small delay fault, Path-delay fault, Static/Dynamic bridge fault, Cell aware fault</td>
                        </tr>
                        <tr>
                            <td data-title="Methodology">Memory BIST</td>
                            <td data-title="Implementation Approach">At-speed test,  diagnosis, Data retention test</td>
                        </tr>
                        <tr>
                            <td data-title="Methodology">JTAG test</td>
                            <td data-title="Implementation Approach">IEEE 1149.1 / 1149.6, <br>IO DC test</td>
                        </tr>
                        <tr>
                            <td data-title="Methodology">IP integration test</td>
                            <td data-title="Implementation Approach">IP BIST test, CoWoS interposer testing for HBM… ect.</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="title" data-title="Target" rowspan="3">Cost Reduction</td>
                            <td data-title="Methodology">Test pattern reduction</td>
                            <td data-title="Implementation Approach">Scan compression,<br>ATE Xn mode & memory pooling</td>
                        </tr>
                        <tr>
                            <td data-title="Methodology">On-chip clock controller</td>
                            <td data-title="Implementation Approach">Utilize low-end tester</td>
                        </tr>
                        <tr>
                            <td data-title="Methodology">Low pin-count test</td>
                            <td data-title="Implementation Approach">Serializer solution for small package</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="title" data-title="Target" rowspan="2">Yield Improvement</td>
                            <td data-title="Methodology">Power-aware DFT</td>
                            <td data-title="Implementation Approach">Power-aware scan clock planning,<br>Smart SRAM BIST grouping<br>CDA, Q-gating, ICG-gating, Low power ATPG</td>
                        </tr>
                        <tr>
                            <td data-title="Methodology">Memory Repair, Fail core classified</td>
                            <td data-title="Implementation Approach">SRAM solution, EDRAM solution, Fail core identification for AI-HPC</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="title" data-title="Target" rowspan="1">Functional Safety</td>
                            <td data-title="Methodology">In-System Test</td>
                            <td data-title="Implementation Approach">System Logic BIST, System Memory BIST</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Success Story-->
    <section class="sec sec-asic-design pt-0">
        <div class="grid-container asic-design">
            <div class="sec-title border">
                <h2 class="sec-title__title">{_b17_success}</h2>
            </div>
            <div class="asic-tb-wrapper">
                <table class="asic-tb asic-design-table table-collapse table-title-absolute table-x-padding">
                    <thead>
                    <tr>
                        <th>Process</th>
                        <th>Gate Count</th>
                        <th>Key features</th>
                        <th>DFT Feature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="Process">7nm</td>
                        <td data-title="Gate Count">&gt;3B</td>
                        <td data-title="Key features">HPC</td>
                        <td data-title="DFT Feature">DC/AC Scan, HBM interposer test, MBIST,  IEEE 1149.1/1149.6, Fail core identification
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">7nm</td>
                        <td data-title="Gate Count">&gt;3B</td>
                        <td data-title="Key features">Networking</td>
                        <td data-title="DFT Feature">DC/AC Scan,  Fail core testing for logic redundancy, MBIST, TCAMBIST
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">1.25B</td>
                        <td data-title="Key features">AI</td>
                        <td data-title="DFT Feature">DC/AC Scan,  Ultra-scan, @speed MBIST, SRAM repair
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">220M</td>
                        <td data-title="Key features">Camera</td>
                        <td data-title="DFT Feature">DC/AC Scan for 800+ clock domains, @speed MBIST
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">147M</td>
                        <td data-title="Key features">Drone</td>
                        <td data-title="DFT Feature">DC/AC Scan, @speed MBIST, IEEE 1149.1/1149.6
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">22M</td>
                        <td data-title="Key features">Storage</td>
                        <td data-title="DFT Feature">DC/AC Scan, @speed MBIST, IEEE 1149.1/1149.6, Thermal sensor test
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">12nm</td>
                        <td data-title="Gate Count">340M</td>
                        <td data-title="Key features">5G DEF</td>
                        <td data-title="DFT Feature">DC/AC Scan, Scan Compress, Ultra-scan, @speed MBIST, IEEE 1149.1/1149.6, AFE loopback, Thermal sensor test
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">1B</td>
                        <td data-title="Key features">HPC</td>
                        <td data-title="DFT Feature">DC/AC Scan, HBM interposer test, @speed MBIST, SRAM repair
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">20.1M</td>
                        <td data-title="Key features">AI</td>
                        <td data-title="DFT Feature">DC/AC Scan, @speed MBIST, System BIST, IEEE 1149.1/1149.6
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">16nm</td>
                        <td data-title="Gate Count">14M</td>
                        <td data-title="Key features">Automotive</td>
                        <td data-title="DFT Feature">DC/AC Scan, Scan Compress, @speed MBIST, IEEE 1149.1/1149.6, System BIST
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">71M</td>
                        <td data-title="Key features">Networking</td>
                        <td data-title="DFT Feature">DC/AC Scan, @speed MBIST, System BIST,SRAM hard/soft repair
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">100M</td>
                        <td data-title="Key features">SSD</td>
                        <td data-title="DFT Feature">DC/AC Scan, MBIST, IEEE 1149.1, PCIe/ DDR loopback, Thermal sensor test
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">28nm</td>
                        <td data-title="Gate Count">20M</td>
                        <td data-title="Key features">WiGig</td>
                        <td data-title="DFT Feature">DC/AC Scan, Scan Compress, @speed MBIST, IEEE 1149.1, PCIe loopback, AFE loopback, Thermal sensor test
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">40nm</td>
                        <td data-title="Gate Count">20M</td>
                        <td data-title="Key features">Cellular B</td>
                        <td data-title="DFT Feature">DC/AC Scan, MBIST, IEEE 1149.1, Power switch test, USB/ eFuse/ Codec/ ADC
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">40nm</td>
                        <td data-title="Gate Count">60M</td>
                        <td data-title="Key features">LTE Baseband</td>
                        <td data-title="DFT Feature">DC/DC/AC Scan, MBIST, IEEE 1149.1, SRAM repair
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Process">40nm</td>
                        <td data-title="Gate Count">10M</td>
                        <td data-title="Key features">Display</td>
                        <td data-title="DFT Feature">DC/AC Scan, MBIST, IEEE 1149.1, eDRAM repair
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

{block js}
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}