{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-pd">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-pd.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b21_production}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b26_supply}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b26_supply}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="5">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-pd.php" aria-hidden="true" tabindex="-1"><span class="text">{_b21_production}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-pd.php" draggable="false"><span class="text">{_b21_production}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-advanced.php" draggable="false">{_b22_advanced}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-test.php" draggable="false">{_b23_test}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-engineering.php" draggable="false">{_b24_engineering}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-quality.php" draggable="false">{_b25_quality}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-pd-supply-chain.php" draggable="false">{_b26_supply}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Turnkey Service Strategic Alliance-->
    <section class="sec sec-pd-supply">
        <div class="grid-container pd-supply">
            <div class="sec-block margin-large">
                <p>This service offers planning and monitoring for customer demand to ensure delivery is in a timely manner. Customers can gain the following benefits.</p>
                <ul class="solu-list">
                    <li>Identify and select the most suitable top tier supplier</li>
                    <li>Secure capacity to fulfill customer demand</li>
                    <li>Keep delivery achievement rate over 99% continuously</li>
                    <li>Provide drop shipment alternative if required</li>
                    <li>Manage inventory to align with customer demand</li>
                    <li>Provide web based reports for customer via e-Commerce</li>
                </ul>
            </div>
            <div class="sec-block margin-large">
                <div class="sec-title border">
                    <h2 class="sec-title__title">Turnkey Service Strategic Alliance</h2>
                </div>
                <p>Partnership with top-tier supply chain suppliers to provide the sufficient and flexible production support.</p>
            </div>
            <div class="sec-block">
                <ul class="pd-supply-list">
                    <li class="pd-supply-list__item">
                        <div class="hex-title-box">
                            <div class="hex-title-box__title h3">Foundry</div>
                            <div class="hex-title-box__cont">
                                <div class="pd-supply-list__img-group">
                                    <div class="pd-supply-list__img-inside">
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_01.png" alt="TSMC | 台積電" title="TSMC | 台積電"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-supply-list__arrow"></div>
                    </li>
                    <li class="pd-supply-list__item">
                        <div class="hex-title-box is-arrow">
                            <div class="hex-title-box__title h3">Wafer Sort</div>
                            <div class="hex-title-box__cont">
                                <div class="pd-supply-list__img-group">
                                    <div class="pd-supply-list__img-inside">
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_05.png" alt="Amkor Technology，Inc. | 艾克爾國際科技" title="Amkor Technology，Inc. | 艾克爾國際科技"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_03.png" alt="Ardentec | 欣銓科技" title="Ardentec | 欣銓科技"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_04.png" alt="ASE GROUP | 日月光集團" title="ASE GROUP | 日月光集團"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_02.png" alt="King Yuan ELECTRONICS CO., LTD. | 京元電子" title="King Yuan ELECTRONICS CO., LTD. | 京元電子"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_01.png" alt="TSMC | 台積電" title="TSMC | 台積電"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-supply-list__arrow"></div>
                    </li>
                    <li class="pd-supply-list__item">
                        <div class="hex-title-box is-arrow">
                            <div class="hex-title-box__title h3">Package</div>
                            <div class="hex-title-box__cont">
                                <div class="pd-supply-list__img-group">
                                    <div class="pd-supply-list__img-inside">
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_04.png" alt="ASE GROUP | 日月光集團" title="ASE GROUP | 日月光集團"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_06.png" alt="Siliconware Precision Industries | 矽品精密工業" title="Siliconware Precision Industries | 矽品精密工業"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_05.png" alt="Amkor Technology，Inc. | 艾克爾國際科技" title="Amkor Technology，Inc. | 艾克爾國際科技"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_07.png" alt="Tongfu Microelectronics Co., Ltd. | 通富微電子" title="Tongfu Microelectronics Co., Ltd. | 通富微電子"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_01.png" alt="TSMC | 台積電" title="TSMC | 台積電"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-supply-list__arrow"></div>
                    </li>
                    <li class="pd-supply-list__item">
                        <div class="hex-title-box is-arrow">
                            <div class="hex-title-box__title h3">Final Test</div>
                            <div class="hex-title-box__cont">
                                <div class="pd-supply-list__img-group">
                                    <div class="pd-supply-list__img-inside">
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_02.png" alt="King Yuan ELECTRONICS CO., LTD. | 京元電子" title="King Yuan ELECTRONICS CO., LTD. | 京元電子"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_03.png" alt="Ardentec | 欣銓科技" title="Ardentec | 欣銓科技"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_04.png" alt="ASE GROUP | 日月光集團" title="ASE GROUP | 日月光集團"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_05.png" alt="Amkor Technology，Inc. | 艾克爾國際科技" title="Amkor Technology，Inc. | 艾克爾國際科技"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_07.png" alt="Tongfu Microelectronics Co., Ltd. | 通富微電子" title="Tongfu Microelectronics Co., Ltd. | 通富微電子"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-supply-list__arrow"></div>
                    </li>
                    <li class="pd-supply-list__item">
                        <div class="hex-title-box is-arrow">
                            <div class="hex-title-box__title h3">Reliability/FA</div>
                            <div class="hex-title-box__cont">
                                <div class="pd-supply-list__img-group">
                                    <div class="pd-supply-list__img-inside">
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_08.png" alt="Materials Analysis Technology Inc. | 閎康科技" title="Materials Analysis Technology Inc. | 閎康科技"/></div>
                                        <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_09.png" alt="Integrated Service Technology Inc. | 宜特科技" title="Integrated Service Technology Inc. | 宜特科技"/></div>
                                        <!-- <div class="pd-supply-list__img-box"><img class="lazyload" src="images/1x1.gif" data-src="images/logo/pd-supply_logo_10.png" alt="Spirox Corporation | 蔚華科技" title="Spirox Corporation | 蔚華科技"/></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-supply-list__arrow"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- e-Commerce Service-->
    <section class="sec sec-pd-supply pt-0">
        <div class="grid-container pd-supply">
            <div class="sec-block">
                <div class="sec-title border">
                    <h2 class="sec-title__title">e-Commerce Service</h2>
                </div>
            </div>
            <div class="sec-block">
                <div class="img-box text-center"><img class="pd-supply-img-online lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-supply_online.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}