{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-ip">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-ip.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-ip.php"><span itemprop="name">{_b31_ip}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b33_d2d}</span>
                            <meta itemprop="position" content="4"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b33_d2d}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="2">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview" href="solution-ip.php" aria-hidden="true" tabindex="-1"><span class="text">{_b31_ip}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item"><a class="unit-menu__link overview" href="solution-ip.php" draggable="false"><span class="text">{_b31_ip}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-hbm.php" draggable="false">{_b32_hbm}</a></li>
                        <li class="unit-menu__item is-active"><a class="unit-menu__link" href="solution-ip-d2d.php" draggable="false">{_b33_d2d}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-serdes.php" draggable="false">{_b34_serdes}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-mixed-single.php" draggable="false">{_b35_afe}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-ip-embed.php" draggable="false">{_b36_foundation}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Intro-->
    <section class="sec sec-ip-d2d-intro">
        <div class="grid-container">
            <div class="sec-block margin-large">
                <p>GUC multi-die interLink (GLink-2.5D/-3D) IP provides world’s best class solution for high-bandwidth, low-power, low-latency multi-channel interconnection in a package for applications such as High Performance Computing, Data Center, Artificial Intelligence and Networking.</p>
                <p>The GLink-2.5D IP utilizes single-ended signaling on parallel bus with DDR clock forwarding. This allows for up to 8/16Gbps per pin consuming only 0.25pJ/bit on TSMC’s RDL-based InFO (Integrated-Fan-Out) or CoWoS (Chip-on-Wafer-on-Substrate). One slice has 32 full-duplex lanes and one PHY has 8 slices with 2/4Tbps maximum bandwidth. For the next generation GLink, one slice will have 56 full-duplex lanes and one PHY has 8 slices with 7.5 Tbps maximum bandwidth.</p>
                <p>The GLink-3D IP family provides high speed die-on-die interface Master PHY and Slave PHY.  They are used to transmit data between dies, assembled using TSMC System on Integrated Chips (SoIC) 3D stacking technology (3DFabric). The IP supports both Wafer-on-wafer (WoW) and Chip-on-wafer (CoW) assembly, both face to face and face to back options. They are used to communicate between Master and Slave PHY. Both Master and Slave PHY are built of TX and RX Data and Command Slices in a modular way. Each Data Slice allows transferring 16 bits at 5.0 Gbps to one direction, totally 80 Gbps per Data Slice.</p>
            </div>
            <div class="sec-block mb-0">
                <dl class="ip-card">
                    <dt class="ip-card__title h3"><span class="ip-card__title__inside">GLink</span></dt>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">IP Licensing</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">Best PPA PHY and Controller</li>
                            <li class="ip-card__list__item">Sub-system integration</li>
                            <li class="ip-card__list__item">Bring up guideline</li>
                            <li class="ip-card__list__item">DFT guideline</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">Interposer/ InFO Design</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">GUC patterned routing</li>
                            <li class="ip-card__list__item">GUC Verification flow</li>
                            <li class="ip-card__list__item">IR co-design flow</li>
                            <li class="ip-card__list__item">D2D DFT</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">PI/SI and Thermal Co-Design</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">SoC-interposer substrate PCB co-design</li>
                            <li class="ip-card__list__item">System level co-design</li>
                            <li class="ip-card__list__item">Verification flow</li>
                        </ul>
                    </dl>
                    <dl class="ip-card__item">
                        <h3 class="ip-card__sub-title text-em">Manufacturing and Production Management</h3>
                        <ul class="ip-card__list">
                            <li class="ip-card__list__item">PKG Design</li>
                            <li class="ip-card__list__item">Qualification item, hardware and execution</li>
                            <li class="ip-card__list__item">Characterization, yield, DOE</li>
                        </ul>
                    </dl>
                </dl>
            </div>
        </div>
    </section>
    <!-- File Download - Die-to-Die (GLink-2.5D) IP-->
    <section class="sec sec-ip-file" n:foreach="model\SolIpDao::get2LevelByPage(enum\IpPage::D2D) as $title => $arr">
        <div class="grid-container">
            <div class="sec-title border">
                <h2 class="sec-title__title">{$title}</h2>
            </div>
            <div class="file-list-group">
                <table class="table-collapse table-x-padding ip-file-table">
                    <thead>
                    <tr>
                        <th>Part_Number</th>
                        <th>Process</th>
                        <th>Description</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- [START] Item-->
                    <tr n:foreach="$arr as $k => $v">
                        <td data-title="Part_Number">{$v['part_number']}</td>
                        <td data-title="Process">{$v['geometry']}</td>
                        <td data-title="Description">{$v['description']}</td>
                        <td><a n:ifset="$v['download_url']" href="{$v['download_url']}" title="Download Part_Number [Open with new window]" target="_blank"><span class="file-list__item__icon-box"><i class="be-icon be-icon-download" aria-label="Download"></i></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}