{layout layout/layout.html}

{block css}
    <link rel="stylesheet" href="css/solution.min.css">
{/block}

<main class="main-container" n:block="content">
    <div class="bg-global"></div>
    <!-- Banner-->
    <section class="page-banner banner-pd">
        <div class="page-banner__bg lazyload" data-src="images/solution/banner-pd.jpg"></div>
        <div class="grid-container">
            <div class="page-banner__cont">
                <nav class="breadcrumbs-wrapper" aria-label="You are here:">
                    <ol class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="/"> <span itemprop="name">{_nav_home}</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a itemprop="item" href="solution-pd.php"><span itemprop="name">{_b_solutions}</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Current: </span><span itemprop="name">{_b21_production}</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
                <div class="page-banner__text-box">
                    <h1 class="page-banner__title">{_b21_production}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Unit Menu-->
    <nav class="unit-menu js-fixed-menu js-scroll-ctrl has-overview" active="0">
        <div class="unit-menu__inside">
            <div class="grid-container">
                <div class="unit-menu__cont"><a class="unit-menu__link unit-menu__fake-overview is-active" href="solution-pd.php" aria-hidden="true" tabindex="-1"><span class="text">{_b21_production}</span></a>
                    <ul class="unit-menu__list menu custom-scrollbar js-scroll-ctrl-list">
                        <li class="unit-menu__item is-active"><a class="unit-menu__link overview" href="solution-pd.php" draggable="false"><span class="text">{_b21_production}</span></a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-advanced.php" draggable="false">{_b22_advanced}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-test.php" draggable="false">{_b23_test}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-engineering.php" draggable="false">{_b24_engineering}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-quality.php" draggable="false">{_b25_quality}</a></li>
                        <li class="unit-menu__item"><a class="unit-menu__link" href="solution-pd-supply-chain.php" draggable="false">{_b26_supply}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {include 'layout/solution-overview.html', imgSuffix => '_pd'}

    <!-- [START] Solution Overview 其餘內容-->
    <section class="sec sec-pd-intro">
        <div class="grid-container pd-intro">
            <div class="sec-block margin-large">
                <p>{_d1_p}</p>
                <p>{_d1_p2}</p>
            </div>
            <div class="sec-block">
                <div class="sec-title mb-0 text-center">
                    <h2 class="sec-title__title normal">{_d2_h2}</h2>
                </div>
                <div class="img-box text-center"><img class="lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/pd-intro_pm.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- [END] Solution Overview 其餘內容-->
    <!-- [START] 圖片放大Popup-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- [END] 圖片放大Popup-->
</main>

{block js}
    <script src="js/vendor/photoswipe-with-ui.min.js" async></script>
    <script src="js/photo-popup.min.js" defer></script>
    <script>
        //- Add Header Active
        window.addEventListener('load', function() {
            headerSetActive('solutions');
        });

    </script>
{/block}