<!-- [START] Solution Overview 共同部分-->
<!-- GUC Value Proposition-->
<section class="sec sec-ip-intro">
    <div class="grid-container ip-intro">
        <div class="sec-block">
            <p>{_c_d1_p}</p>
            <p>{_c_d1_p2}</p>
        </div>
        <div class="sec-block">
            <div class="sec-title text-center">
                <h2 class="sec-title__title normal">{_c_d2_h2}</h2>
            </div>
            <div class="text-center"><img class="ip-intro-img-value lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/intro_value_proposition{$imgSuffix}.jpg" alt=""></div>
        </div>
    </div>
</section>
<!-- GUC Service Flow-->
<section class="sec sec-ip-intro pt-0 pb-0">
    <div class="grid-container ip-intro">
        <div class="sec-block">
            <p>{_c_d3_p}</p>
        </div>
        <div class="sec-block">
            <div class="sec-title text-center">
                <h2 class="sec-title__title normal">{_c_d4_h2}</h2>
            </div>
            <div class="text-center"><img class="ip-intro-img-flow lazyload js-photo-popup" src="images/1x1.gif" data-src="images/solution/intro_service-flow.jpg" alt=""></div>
        </div>
    </div>
</section>
<!-- [END] Solution Overview 共同部分-->