@charset "UTF-8";
/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/* Component */
/* 圖 + 文 組合 */
.career-life {
  --col: 1;
  --margin-x: 1.25rem;
}

@media print, screen and (min-width: 40em) {
  .career-life {
    --col: 2;
  }
}

@media print, screen and (min-width: 64em) {
  .career-life {
    --col: 3;
  }
}

@media screen and (min-width: 75em) {
  .career-life {
    --margin-x: 2.5rem;
  }
}

@media screen and (min-width: 90em) {
  .career-life {
    --margin-x: 4.375rem;
  }
}

.career-life__group {
  margin-right: calc(var(--margin-x) * -1);
  margin-left: calc(var(--margin-x) * -1);
}

.career-life__item {
  margin-right: var(--margin-x);
  margin-left: var(--margin-x);
}

.career-life__item.cell {
  width: calc(100% / var(--col) - var(--margin-x) * 2);
}

@media print, screen and (max-width: 63.99875em) {
  .career-life__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.career-life__title {
  margin-bottom: 1.125rem;
}

.career-life__list__item {
  margin-bottom: 0.625rem;
}

.career-life__img-box {
  margin-bottom: 1.5rem;
}

.career-life__img-box::before {
  padding-top: 67.53247%;
}

/* Container */
/* Unit: Career - Life at GUC  */
@media print, screen and (min-width: 40em) {
  .sec-career-event {
    padding-top: 0;
  }
}

.career-learning__img-box, .career-rewards__img-box {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(var(--img-width) * 1px);
}

@media print, screen and (max-width: 63.99875em) {
  .career-learning__img-box, .career-rewards__img-box {
    margin-top: 1.875rem;
  }
}

.career-learning__img-box::before, .career-rewards__img-box::before {
  content: '';
  display: block;
  padding-top: calc((var(--img-height) - var(--img-padding) * 2) / (var(--img-width) - var(--img-padding) * 2) * 100%);
}

.career-learning__img-box__img, .career-rewards__img-box__img {
  --width: calc((var(--img-width) * 100) / (var(--img-width) - var(--img-padding) * 2) * 1%);
  position: absolute;
  top: calc((100 * var(--img-padding)) / (var(--img-height) - var(--img-padding) * 2) * -1%);
  left: calc((100 * var(--img-padding)) / (var(--img-width) - var(--img-padding) * 2) * -1%);
  width: var(--width);
  max-width: var(--width);
}

/* Learning and Development */
.career-learning__img-box {
  --img-width: 960;
  --img-height: 960;
  --img-padding: 65;
}

/* Total Rewards */
@media print, screen and (min-width: 40em) {
  .career-rewards__cont {
    flex-direction: row-reverse;
  }
}

.career-rewards__item {
  margin-bottom: 0.625rem;
}

.career-rewards__item::marker {
  color: #009966;
}

.career-rewards__title {
  color: #009966;
}

.career-rewards__img-box {
  --img-width: 708;
  --img-height: 677;
  --img-padding: 60;
}

/* END. Unit: Career - Life at GUC */
/* Unit: Career - Search Jobs */
.job-join {
  margin-bottom: 2.5rem;
}

@media print, screen and (min-width: 64em) {
  .job-join {
    margin-bottom: 9.375rem;
  }
}

/* END. Unit: Career - Search Jobs */
