@charset "UTF-8";
/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
  padding: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* Component */
/* Container */
.sec-contact .bg-ft.bg-box .bg-box__bg {
  background-position: left bottom;
  background-size: 790px;
  transform: scaleX(-1);
}

/* 錯誤樣式 */
.error-text {
  font-size: 0.875rem;
  color: #df2020;
}

@media print, screen and (min-width: 40em) {
  .error-text {
    font-size: 0.9375rem;
  }
}

/* Textarea */
.textarea-box .form-group__cont {
  position: relative;
}

@media (hover: hover) and (min-width: 75em) {
  .textarea-box .form-group__cont::before {
    content: '';
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 27px;
    height: 27px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2027%2027%22%3E%3Crect%20width%3D%2227%22%20height%3D%2227%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%239c9c9c%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M21.254%205.746L5.746%2021.254M21.177%2013.176l-8.002%208.002%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat right bottom/27px;
    pointer-events: none;
  }
}

/* Textarea 計算字數 */
.text-counter {
  position: absolute;
  bottom: 0.5em;
  right: 0.625rem;
  font-size: 88.88889%;
  color: #afb0b0;
}

@media (hover: hover) and (min-width: 75em) {
  .text-counter {
    right: 1.875rem;
  }
}

/* Google reCAPTCHA */
.g-recaptcha-wrapper {
  margin-bottom: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .g-recaptcha-wrapper {
    margin-bottom: 3.9375rem;
  }
}

@media screen and (max-width: 24em) {
  .g-recaptcha {
    transform: scale(0.79);
    transform-origin: left top;
  }
}

@media print, screen and (min-width: 40em) {
  .g-recaptcha {
    margin-bottom: 1.5625rem;
    transform: scale(1.2);
    transform-origin: left top;
  }
}

.captcha__button-reload {
  background: transparent;
  border: 0 none;
  -webkit-clip-path: none;
          clip-path: none;
}

.captcha__button-reload::after {
  display: none;
}

.captcha .form-group__cont {
  --padding-x: 0.46875rem;
  margin-right: calc(var(--padding-x) * -1);
  margin-left: calc(var(--padding-x) * -1);
}

.captcha .form-group__cont .cell {
  padding: 0 var(--padding-x);
}

@media (hover: hover) and (min-width: 75em) {
  .js-select-filter:hover ~ .select2 .select2-selection--multiple {
    border-color: rgba(0, 153, 102, 0.6);
  }
}

/* Select2 Style */
.select2-container {
  z-index: 1;
  margin-bottom: 0.25rem;
}

.select2-container .select2-selection--single {
  padding-right: 2.5rem;
  background: #fff url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%3E%3Cpath%20fill%3D%22%23565656%22%20d%3D%22M12.501%2015.677l-9.197-4.562.888-1.792%208.309%204.122%208.307-4.122.888%201.792-9.195%204.562z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 12px center/19px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 3rem;
  border: 1px solid #cacaca;
  border-radius: 0;
}

@media print, screen and (min-width: 40em) {
  .select2-container .select2-selection--single {
    padding-right: 3.4375rem;
    background-position: right 27px center;
  }
}

@media print, screen and (min-width: 64em) {
  .select2-container .select2-selection--single {
    padding-left: 1.875rem;
    height: 4.375rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .select2-container .select2-selection--single:hover {
    border-color: rgba(0, 153, 102, 0.6);
  }
  .select2-container .select2-selection--single:focus {
    border-color: #009966;
    box-shadow: none;
  }
}

.select2-container .select2-selection .select2-selection__clear {
  position: absolute;
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0;
  height: 2.875rem;
}

@media print, screen and (min-width: 64em) {
  .select2-container .select2-search--inline .select2-search__field {
    height: 4.25rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .select2-container .select2-search--inline .select2-search__field:hover:not(:focus) {
    cursor: pointer;
  }
}

.select2-container--default .select2-selection--multiple {
  padding-right: 2.5rem;
  background: #fff url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%3E%3Cpath%20fill%3D%22%23565656%22%20d%3D%22M12.501%2015.677l-9.197-4.562.888-1.792%208.309%204.122%208.307-4.122.888%201.792-9.195%204.562z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 12px center/19px;
  cursor: pointer;
  --padding-x: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
}

@media print, screen and (min-width: 40em) {
  .select2-container--default .select2-selection--multiple {
    padding-right: 3.4375rem;
    background-position: right 27px center;
  }
}

@media print, screen and (min-width: 64em) {
  .select2-container--default .select2-selection--multiple {
    padding-left: 1.875rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .select2-container--default .select2-selection--multiple:hover {
    cursor: pointer;
    border-color: rgba(0, 153, 102, 0.6);
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  align-items: center;
  padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 0;
  padding: 0;
  background: transparent;
  border: 0 none;
}

@media (hover: hover) and (min-width: 75em) {
  .select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    cursor: pointer;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  top: 50%;
  right: 40px;
  margin-top: 0;
  padding: 10px;
  font-size: 155.55556%;
  color: #999;
  transform: translateY(-50%);
}

@media print, screen and (min-width: 40em) {
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    right: 3.4375rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .select2-container--default .select2-selection--multiple .select2-selection__clear:hover, .select2-container--default .select2-selection--multiple .select2-selection__clear:focus {
    color: #009966;
  }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #009966;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 0;
}

.select2-container--focus .select2-autocomplete .select2-selection__choice {
  display: none;
}

.select2-selection__arrow {
  opacity: 0;
}

.select2-selection__clear {
  top: 50%;
  right: 40px;
  padding: 10px;
  font-size: 155.55556%;
  color: #999;
  transform: translateY(-50%);
}

@media print, screen and (min-width: 40em) {
  .select2-selection__clear {
    right: 3.4375rem;
  }
}

@media (hover: hover) and (min-width: 75em) {
  .select2-selection__clear:hover, .select2-selection__clear:focus {
    color: #009966;
  }
}

.select2-selection__choice__remove {
  display: none !important;
}

.select2-search--dropdown .select2-search__field {
  --padding-x: 0.5rem;
  padding-right: var(--padding-x);
  padding-left: var(--padding-x);
}

@media print, screen and (min-width: 64em) {
  .select2-search--dropdown .select2-search__field {
    --padding-x: 1.875rem;
  }
}

.select2-results__options {
  scrollbar-color: #d4d3d1 #ffffff;
  scrollbar-width: thin;
}

.select2-results__options::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.select2-results__options::-webkit-scrollbar-track {
  background: #ffffff;
}

.select2-results__options::-webkit-scrollbar-thumb {
  background: #d4d3d1;
  border-radius: 6px;
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #bbbab7;
}

@media print, screen and (min-width: 64em) {
  .select2-results__option {
    --padding-x: 1.875rem;
    padding-right: var(--padding-x);
    padding-left: var(--padding-x);
  }
}
