/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/* Component */
/* Container */
/* Unit: ESG - Report  */
.esg-report .img-info-box {
  --width: 27.5rem;
}

.esg-report .img-info-box__img-box::before {
  padding-top: 75%;
}

@media print, screen and (min-width: 64em) {
  .esg-report .img-info-box__item:first-child .img-info-box__img-box {
    max-width: calc((100vw - var(--padding-x) * 2 + 1.25rem) / 3 - 1.25rem);
  }
}

/* END. Unit: ESG - Report  */
