/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/* Vendor */
/* Component */
/* Container */
/* Unit: Investor - FAQ  */
@media (hover: hover) and (min-width: 75em) {
  .faq__item:nth-child(2n + 1) .faq__title:hover, .faq__item:nth-child(2n + 1) .faq__title:focus, .faq__item.is-active .faq__title:hover, .faq__item.is-active .faq__title:focus, .faq__title:hover, .faq__title:focus {
    color: #ffffff;
    background: linear-gradient(60deg, #009966 30%, #57c88d 93%, #aff8b5 150%);
  }
  .faq__item:nth-child(2n + 1) .faq__title:hover .be-icon, .faq__item:nth-child(2n + 1) .faq__title:focus .be-icon, .faq__item.is-active .faq__title:hover .be-icon, .faq__item.is-active .faq__title:focus .be-icon, .faq__title:hover .be-icon, .faq__title:focus .be-icon {
    color: currentColor;
  }
}

.faq {
  --padding-x: 0.9375rem;
  --padding-y: 1.875rem;
  --arrow-size: 1rem;
  margin-bottom: 2.5rem;
  font-size: 0.875rem;
}

@media print, screen and (min-width: 40em) {
  .faq {
    --padding-x: 8.33333%;
    --padding-y: 2.5625rem;
    --arrow-size: 2rem;
  }
}

@media screen and (min-width: 23.4375em) {
  .faq {
    font-size: 1rem;
  }
}

@media screen and (min-width: 100em) {
  .faq {
    font-size: 1.125rem;
  }
}

.faq__list {
  background: transparent;
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}

.faq__item:nth-child(2n + 1) .faq__title {
  background: rgba(86, 86, 86, 0.05);
}

.faq__item:nth-child(2n) {
  border-top: 1px solid #ffffff;
}

.faq__item:nth-child(2n):not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.faq__item.is-active {
  background: rgba(86, 86, 86, 0.05);
}

.faq__item.is-active .faq__title {
  font-weight: bold;
  color: #009966;
  background: transparent;
}

.faq__item.is-active .faq__title .be-icon {
  transform: rotate(180deg);
}

.faq__title {
  padding: var(--padding-y) var(--padding-x);
  padding-right: calc(var(--padding-x) + var(--arrow-size) + 0.9375rem);
  font-size: inherit;
  line-height: 1.5;
  color: #565656;
  border: 0 none !important;
}

@media (hover: hover) and (min-width: 75em) {
  .faq__item.is-active .faq__title:focus {
    color: #009966;
    background: transparent;
  }
}

.faq__title::before {
  display: none;
}

.faq__title .be-icon {
  position: absolute;
  top: 50%;
  right: var(--padding-x);
  margin-top: calc(var(--arrow-size) / 2 * -1);
  font-size: var(--arrow-size);
  line-height: 1;
  color: #009966;
  transition: transform 0.3s;
}

.faq__cont {
  position: relative;
  padding: var(--padding-y) var(--padding-x);
  padding-left: calc(var(--padding-x) * 2);
  font-size: inherit;
  background: transparent;
  border: 0 none;
}

.faq__cont::before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--padding-x);
  width: calc(100% - var(--padding-x) * 2);
  height: 1px;
  background: #9c9c9c;
}

/* END. Unit: Investor - FAQ  */
