/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */
html,body{height:100%}
body {
    /* margin-top: 50px; */
    background-color: #aaa;
	font-family: "微軟正黑體","Arial","Helvetica","sans-serif";
}

@media(min-width:768px) {
    body {
       /*  margin-top: 50px; */
    }
}

#wrapper {
    padding-left: 0;
	min-height:100%;
}

#page-wrapper {
    width: 100%;
	min-height:100%;
	padding:70px 10px 20px;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding:70px 10px 50px;
    }
}

.wrapper-containers{
	/*max-width:1300px; */
	background-color:#009966;
	padding:0;
	margin:0 auto;
	border-right:1px solid #555555;
	border-left:1px solid #555555;
}

/* Top Navigation */

#wrapper > .navbar-inverse{
	border-bottom:0;
	background-color:#009966;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	width: 100%;
}

#wrapper > .navbar-inverse .navbar-brand{
	font-weight:700;
	font-size:20px;
	color:#FFF
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color:#FFF;	
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

.side-nav li a:hover,
.side-nav li a:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.side-nav.navbar-nav > li > a {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color:#F0F0F0;
}

.side-nav.navbar-nav > li li > a {
	background-color: rgba(255, 255, 255, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	color: #f0f0f0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.side-nav.navbar-nav > li.active > a{
	background-color: rgba(0, 0, 0, 0.2) !important;
	border-left:4px solid rgba(255, 255, 255, 0.4);
	padding-left:11px;
}
.side-nav.navbar-nav > li.active1 > a{
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.side-nav.navbar-nav > li li.active > a{
	border-left:4px solid rgba(255, 255, 255, 0.4);
	padding-left: 34px;
}


@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;
        width: 223px;
        border: none;
        border-radius: 0;
		overflow:hidden;
		overflow-y:scroll;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .side-nav>li>a {
        width: 223px;
    }

}

.change-lan-form {
	padding:15px;
	width:100%;	
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-toggle {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#wrapper > nav > div.navbar-header{
	width:100%;
	/*background-image: url("../images/page_header_bg.jpg");*/
    /*background:radial-gradient(circle farthest-side at center, #aaf8b5,#009966);*/
    background-color: #000000;
	background-position: left bottom;
	background-repeat: repeat-x;
}

#footer{
	background-image: url("../images/footer_bg.jpg");
	background-position: left top;
	background-repeat: repeat-x;
	clear: both;
	color: #525254;
	font-size: 12px;
	height: 0px;
	line-height: 35px;
	width: 100%;
}

@media(min-width:768px) {
	#footer{
		height: 35px;
	}
}
	
.order-by{cursor:pointer;}
.pagination{margin:0}
.search_area,.btn_area{margin-bottom:15px}
#table_info_page{line-height:34px;}

#editor{display:none;}

#form{min-height:450px;}
.qq-upload-list{margin:0 10px;}
.qq-upload-failed-text {display:none;}

#ajax-loading{position:absolute;text-align:center; background:#FFF;z-index:50;color:#000;font-size:200%}

table.table thead .sorting-asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.table thead .sorting-desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.table thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

span.td-text{margin:3px 0 0 0;display:inline-block;}

